production/pxOwya2rKhKkX7x6.json
{
  "createdAt": "2025-02-20T01:50:18.875Z",
  "updatedAt": "2025-04-20T13:27:21.923Z",
  "id": "pxOwya2rKhKkX7x6",
  "name": "Github New",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $json.repo.path }}{{ $('Process').item.json.workflow.id }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "1565dc9e-acdb-4664-be43-b4a417920abc",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        -940,
        1360
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "883f46de-72bd-4cf3-9e9b-ce9609f091a2",
      "credentials": {
        "githubApi": {
          "id": "bqnRc8rGYs6JvqnN",
          "name": "4mb1t10n"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "4mb1t10n"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "n8n-backups"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "={{ $env.RAILWAY_ENVIRONMENT_NAME }}/"
            }
          ]
        },
        "options": {}
      },
      "id": "dfbdb055-9121-40db-b0a2-3e25027940dd",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -1160,
        1360
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "workflow",
              "type": "object"
            },
            {
              "name": "exec_id"
            },
            {
              "name": "notes"
            }
          ]
        }
      },
      "id": "01a1f3cc-74d0-483a-91a6-af0e32d8c325",
      "name": "Process",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1600,
        1360
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        900
      ],
      "id": "78d0f555-119e-4827-b183-47112f46d5c2",
      "name": "Backup to Github"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "30dadefe-d2c9-44fc-ae25-e18e0e54d808",
      "name": "Chron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1600,
        1100
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "60bd5bfa-dec4-415f-86c9-5f24262680ff",
      "name": "getWorkflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1160,
        1000
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "qY8OP9lpzoxVpSpc",
          "name": "n8n-production"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pxOwya2rKhKkX7x6",
          "mode": "list",
          "cachedResultName": "Github New"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow": "={{ $json }}",
            "exec_id": "={{$execution.id}}",
            "notes": "testing notes"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "exec_id",
              "displayName": "exec_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "547503bd-0c53-4fce-9d32-7ec6b747d7e4",
      "name": "Loop",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        -940,
        1000
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "status",
              "value": "new"
            },
            {
              "key": "exec",
              "value": "={{ $('Process').item.json.exec_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -500,
        1260
      ],
      "id": "19c5896d-621c-4188-93a8-9a186169da01",
      "name": "new",
      "notesInFlow": true
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "exec",
              "value": "={{$execution.id}}"
            },
            {
              "key": "parent",
              "value": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -1380,
        1000
      ],
      "id": "cb28e171-d68f-4fb8-a47b-9c5ad9c11f7a",
      "name": "Execution Data",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "857becb3-c0d8-474c-9c0a-c5088df2c781",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        1360
      ],
      "id": "eab0b070-0f7f-42e9-b0bc-e5e172aa03a5",
      "name": "error?"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "status",
              "value": "=exists"
            },
            {
              "key": "exec",
              "value": "={{ $('Process').item.json.exec_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -500,
        1460
      ],
      "id": "d4c94bf6-7dda-48db-be73-2790ebbbea4f",
      "name": "exists",
      "notesInFlow": true
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "parent",
              "value": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -1380,
        1360
      ],
      "id": "6061ca59-3027-45fb-af3a-0efd72f8ac70",
      "name": "parent: false",
      "notesInFlow": true
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Process').item.json.workflow.id}}.json",
        "fileContent": "={{ JSON.stringify($('Process').item.json.workflow, null, 2) }}",
        "commitMessage": "=Exec_ID: [{{ $('Process').item.json.exec_id }}] Name: [{{ $('Process').item.json.workflow.name }}]"
      },
      "id": "ab617a5c-9598-4629-bfeb-7b7a643a5175",
      "name": "Create",
      "type": "n8n-nodes-base.github",
      "position": [
        -280,
        1260
      ],
      "typeVersion": 1,
      "webhookId": "32148ebb-3673-4c50-9b27-c8e585bc7388",
      "credentials": {
        "githubApi": {
          "id": "bqnRc8rGYs6JvqnN",
          "name": "4mb1t10n"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Process').item.json.workflow.id}}.json",
        "fileContent": "={{ JSON.stringify($('Process').item.json.workflow, null, 2) }}",
        "commitMessage": "=Exec_ID: [{{ $('Process').item.json.exec_id }}] Name: [{{ $('Process').item.json.workflow.name }}]"
      },
      "id": "bd38f380-252e-4d1f-a7de-d68150f20b53",
      "name": "Update",
      "type": "n8n-nodes-base.github",
      "position": [
        -280,
        1460
      ],
      "typeVersion": 1,
      "webhookId": "3aa513df-a4e5-45cd-8075-2a831d7f3774",
      "credentials": {
        "githubApi": {
          "id": "bqnRc8rGYs6JvqnN",
          "name": "4mb1t10n"
        }
      }
    }
  ],
  "connections": {
    "Get file data": {
      "main": [
        [
          {
            "node": "error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process": {
      "main": [
        [
          {
            "node": "parent: false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup to Github": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chron": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getWorkflows": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        []
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "getWorkflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error?": {
      "main": [
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exists": {
      "main": [
        [
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parent: false": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create": {
      "main": [
        []
      ]
    },
    "Update": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        20
      ]
    },
    "node:Chron": {
      "recurrenceRules": [
        8
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "40ec7504-e388-46b2-92e8-f58e085baa9c",
  "triggerCount": 1,
  "tags": []
}