production/2025-04-21[91]/V5yz3KZSoMH8KEs9.json
{
  "createdAt": "2025-04-20T16:10:09.306Z",
  "updatedAt": "2025-04-20T22:07:34.792Z",
  "id": "V5yz3KZSoMH8KEs9",
  "name": "Import from Github",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "operation": "delete",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        660,
        260
      ],
      "id": "470d94f7-bea5-4f0f-97e3-da93a91e1488",
      "name": "deleteAll",
      "credentials": {
        "n8nApi": {
          "id": "wWe2YDo1XuvuIwXL",
          "name": "n8n-development"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        220,
        260
      ],
      "id": "01cbfa2e-bc0b-4441-bfa9-d0f113566a44",
      "name": "getAll",
      "credentials": {
        "n8nApi": {
          "id": "wWe2YDo1XuvuIwXL",
          "name": "n8n-development"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        260
      ],
      "id": "a40934d3-d20c-4ddc-a0d3-6a5c84a5121c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.data }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ],
      "id": "36a4a299-a1f4-4e72-ac7a-22ad70f1de58",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "wWe2YDo1XuvuIwXL",
          "name": "n8n-development"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "id": "e7caf694-f28a-4778-92d8-6cbc188a0199",
      "name": "getFile"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "4mb1t10n",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backups",
          "mode": "list",
          "cachedResultName": "n8n-backups",
          "cachedResultUrl": "https://github.com/4mb1t10n/n8n-backups"
        },
        "filePath": "={{ $json.source_environment }}/{{ $json.source_folder }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "id": "8cc9ae4a-9099-49f5-b624-4245c70e06f6",
      "name": "listFiles",
      "webhookId": "e2cde915-8f12-42b0-b178-c16cc468362b",
      "credentials": {
        "githubApi": {
          "id": "bqnRc8rGYs6JvqnN",
          "name": "4mb1t10n"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e9060c4-0092-402b-89ca-a102849ab925",
              "name": "source_environment",
              "value": "production",
              "type": "string"
            },
            {
              "id": "b75182d2-dd69-481e-a626-4b753390d4a0",
              "name": "source_folder",
              "value": "2025-04-20-33796",
              "type": "string"
            },
            {
              "id": "3a69227e-16ca-45c2-b481-5aed372120e6",
              "name": "destination",
              "value": "development",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "d6caea40-480e-41d2-9e4b-4713645d5dcd",
      "name": "source inputs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "154d5cb8-5d3f-43e4-9025-0f7fcc46efa3",
      "name": "When clicking ‘Test workflow’"
    }
  ],
  "connections": {
    "getAll": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "deleteAll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getFile": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listFiles": {
      "main": [
        [
          {
            "node": "getFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "source inputs": {
      "main": [
        [
          {
            "node": "listFiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "source inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e5aaa804-286e-4719-8c09-d6cfdfa21bc2",
  "triggerCount": 0,
  "tags": []
}