workflows/Backup to Github.json
{
  "active": true,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-30T11:36:28.028Z",
  "id": "94cB5EleSPApRtm5",
  "meta": null,
  "name": "Backup to Github",
  "nodes": [
    {
      "parameters": {},
      "id": "e533e782-2d5a-482f-b9c0-cb2600119d0c",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -985,
        675
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
          "mode": "name"
        },
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "7640d837-aa4e-4cb6-a708-7969a77a2d7a",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -140,
        640
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "6LcwfzNctb1rSzJB",
          "name": "4mb1t10n"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "c498db07-35db-4331-ad1b-44f57f708a9a",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        500,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "57fd809b-6ee1-442f-962b-a55518c0491b",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        740,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a1f449af-cbed-4de5-a745-3ab7a4423db5",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        740,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5c5fdf76-a48f-4983-b6f1-02a9a9963b1f",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        740,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "0a06c03b-5f98-4237-8f69-33a7c533892f",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        920,
        780
      ],
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "6LcwfzNctb1rSzJB",
          "name": "4mb1t10n"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
          "mode": "name"
        },
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "c174ea8a-e625-4516-a44c-af8681d1a359",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        920,
        960
      ],
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "6LcwfzNctb1rSzJB",
          "name": "4mb1t10n"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "25e3dfc9-1cd4-4cc6-a36a-b3d60b97d3ac",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -360,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "4mb1t10n"
            },
            {
              "name": "repo.name",
              "value": "n8n-backups"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "dc5a98fa-4abf-472c-afd7-1c1101cad377",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -800,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX"
            }
          ]
        }
      },
      "id": "c5e92998-8501-4bbb-b36f-f13ebdeb5ad4",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -985,
        935
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "42c824db-9e7e-4505-9953-e5b6b8de64ce",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -600,
        800
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "bjcgFFyoL9NcE4CB",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n\n// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "54416e72-acc1-4471-ba66-9b25374ac332",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        260,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7cbfea65-575d-472e-8b2a-d46156255e3b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        80,
        780
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {
    "Every 12 hours": [
      {
        "json": {}
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-09-30T11:36:14.831Z",
      "updatedAt": "2023-09-30T11:36:14.831Z",
      "id": "SZxEDDwXb0UcqIPQ",
      "name": "Github"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-19T00:59:26.614Z",
  "versionId": "9572f0f6-1033-422a-94e5-c983bdbe4e92"
}