workflows/Bank Transactions > Airtable [AMO].json
{
  "active": false,
  "connections": {
    "Transactions Email": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-30T03:30:49.359Z",
  "id": "v0K3SvPJgxCtyvTX",
  "name": "Bank Transactions > Airtable [AMO]",
  "nodes": [
    {
      "parameters": {
        "mailbox": "Tx:Chase",
        "format": "resolved",
        "options": {
          "forceReconnect": 15
        }
      },
      "id": "c5df6a26-03fc-4c73-b7fc-a497127a34ab",
      "name": "Transactions Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        660,
        380
      ],
      "credentials": {
        "imap": {
          "id": "kgeMPOVl544KsI3f",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Amount",
              "value": "={{ $json.html.match(/(?:You made a debit card transaction of )(\\$.+?\\.\\d+)/i)[1] }}"
            },
            {
              "name": "Merchant",
              "value": "={{ $json.html.match(/(?:You made a debit card transaction of \\$.+?\\.\\d+ with )(.+?)(?:[^\\sa-zA-Z0-9])/i)[1] }}"
            },
            {
              "name": "DateTime",
              "value": "={{ $json.textAsHtml.match(/(?:made on )(.+?)(?:[^0-9a-zA-Z\\s\\,\\:])/i)[1] }}"
            },
            {
              "name": "Card",
              "value": "={{ $json.subject.match(/(\\d{4})\\)/)[1] }}"
            },
            {
              "name": "Bank",
              "value": "Chase"
            },
            {
              "name": "IncomeExpense",
              "value": "Expense"
            }
          ]
        },
        "options": {}
      },
      "id": "1b19ca31-7ff1-41c7-91be-21c06962f9a1",
      "name": "Extract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        880,
        380
      ]
    },
    {
      "parameters": {},
      "id": "bd2a2f68-a0c5-4576-a053-02bc98c5ef39",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        660,
        180
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "append",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tblgRVYDLAd9Wyd6g/viw4C4gcCpACGL1iM?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tblgRVYDLAd9Wyd6g/viw4C4gcCpACGL1iM?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "options": {}
      },
      "id": "d8515ac3-7efd-404a-b2b8-5b4858457b18",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1100,
        380
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "BNhG76b6vOTpVP0E",
          "name": "S8 Airtable"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "id": "21yH6Vs5sKDiteVQ",
      "createdAt": "2023-07-30T03:29:12.717Z",
      "updatedAt": "2023-07-30T03:29:12.717Z",
      "name": "AMO"
    },
    {
      "id": "LY1Kj6pTibELWGKc",
      "createdAt": "2023-07-17T21:49:47.710Z",
      "updatedAt": "2023-07-30T03:29:52.918Z",
      "name": "Airtable"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-07-30T03:31:47.874Z",
  "versionId": "381e363c-847c-4711-a690-e5b9d625af4a"
}