workflows/Error Workflow.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-17T16:30:29.894Z",
  "id": "v2Gctj6G4inNJYnF",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Error Workflow",
  "nodes": [
    {
      "parameters": {
        "chatId": "-1001902244643",
        "text": "=<a href=\"{{ $json.execution.url }}\">Error with n8n workflow {{ $json.execution.id }}</a>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "6090a9e0-4c8a-4213-b5c2-39cbfe06caee",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        980,
        380
      ],
      "credentials": {
        "telegramApi": {
          "id": "YtXrIMUbcoaS4RKx",
          "name": "P0m0shnik11_Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "931dd3e3-05bd-44a4-b8f7-1e026f7cc1bc",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        680,
        440
      ]
    },
    {
      "parameters": {
        "path": "ae9dbdb3-8205-4b4d-8b04-a2b822b65e4f",
        "options": {}
      },
      "id": "8c91c527-287c-4c6d-8baa-8a988ec1b0b9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        680,
        220
      ],
      "webhookId": "ae9dbdb3-8205-4b4d-8b04-a2b822b65e4f"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-10-17T17:07:29.917Z",
  "versionId": "ccff7676-5fb8-4458-8d0a-e01a681d1214"
}