workflows/Finances.json
{
  "active": true,
  "connections": {
    "Webhook from Airtable": {
      "main": [
        [
          {
            "node": "All Autocat Records",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tx Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "match found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "no match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "match found": {
      "main": [
        [
          {
            "node": "Get Autocat Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tx Record": {
      "main": [
        [
          {
            "node": "TX Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Autocat Records": {
      "main": [
        [
          {
            "node": "Loop Over Autocat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "no match": {
      "main": [
        [
          {
            "node": "Loop Over Autocat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Autocat Rule": {
      "main": [
        [
          {
            "node": "Fields to Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AC Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "TX Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TX Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fields to Update": {
      "main": [
        [
          {
            "node": "Update Tx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook New Autocat Rule Created": {
      "main": [
        [
          {
            "node": "Airtable Get Autocat Rule",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable Get Transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Get Autocat Rule": {
      "main": [
        [
          {
            "node": "AC Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Get Transactions": {
      "main": [
        [
          {
            "node": "Loop Over Tx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AC Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TX Fields1": {
      "main": [
        [
          {
            "node": "AC Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Autocat": {
      "main": [
        [],
        [
          {
            "node": "AC Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Tx": {
      "main": [
        [],
        [
          {
            "node": "TX Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "match found1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "no match1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "no match1": {
      "main": [
        [
          {
            "node": "Loop Over Tx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "match found1": {
      "main": [
        [
          {
            "node": "Airtable Update TX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Update TX": {
      "main": [
        [
          {
            "node": "Airtable History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable History": {
      "main": [
        [
          {
            "node": "Loop Over Tx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tx": {
      "main": [
        [
          {
            "node": "Airtable History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook from Plaid": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-09T14:57:03.032Z",
  "id": "0jh9kpsrP1m0UxJI",
  "meta": null,
  "name": "Finances",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e43a3317-2c43-41c6-b2de-3fb9419b17b7",
        "options": {}
      },
      "id": "fbe6bef2-1b3e-4e99-b57b-a83a493cbf57",
      "name": "Webhook from Plaid",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1420,
        160
      ],
      "webhookId": "e43a3317-2c43-41c6-b2de-3fb9419b17b7"
    },
    {
      "parameters": {
        "path": "e08667ee-32aa-43df-a69a-8dfccd367f1c",
        "options": {}
      },
      "id": "df9f094d-ffbe-4aff-83f1-e9bb5187d208",
      "name": "Webhook from Airtable",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1380,
        680
      ],
      "webhookId": "e08667ee-32aa-43df-a69a-8dfccd367f1c"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function checkTransaction() {\n    const txDirection = $json[\"tx_direction\"];\n    const acFlowDirection = $json[\"ac_flow_direction\"];\n    const txTextToAnalyze = $json[\"tx_text_to_analyze\"];\n    const acExpression = $json[\"ac_expression\"];\n    const acRecId = $json[\"ac_rec_id\"];\n\n    // Check if any inputs are missing\n    if (!txDirection || !acFlowDirection || !txTextToAnalyze || !acExpression || !acRecId) {\n        console.error(\"Missing Inputs\");\n        return { result: \"Missing Inputs\" };\n    }\n\n    // Check flow direction\n    if ((acFlowDirection === \"Income Only\" && txDirection !== \"Income\") ||\n        (acFlowDirection === \"Expense Only\" && txDirection !== \"Expense\")) {\n        return { result: \"No Match\" };\n    }\n\n    // Check regex match\n    try {\n        const regex = new RegExp(acExpression);\n        if (regex.test(txTextToAnalyze)) {\n            return { result: \"Match\", ac_rec_id: acRecId };\n        } else {\n            return { result: \"No Match\" };\n        }\n    } catch (error) {\n        console.error(\"Invalid regex:\", acExpression);\n        return { result: \"Error in regex\" };\n    }\n}\n\nreturn checkTransaction();\n"
      },
      "id": "ceb01527-b5c4-492f-a85f-421d84c39507",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        760
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.result }}",
        "rules": {
          "rules": [
            {
              "value2": "Match"
            },
            {
              "value2": "No Match",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "5162e980-def1-49ee-9f6b-5bf34450f7b9",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2720,
        760
      ]
    },
    {
      "parameters": {},
      "id": "0138b9e0-797a-48cf-b200-72a090858967",
      "name": "match found",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2940,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "b1fd618b-4b21-496b-a78e-0c43c1133c56",
      "name": "no match",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2940,
        860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tblDg7JXvWW4mst1j",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tblDg7JXvWW4mst1j"
        },
        "id": "={{ $('Webhook from Airtable').first().json.query.rec_id }}",
        "options": {}
      },
      "id": "0b6644fe-3c19-4d98-81b9-c0b5c608173e",
      "name": "Tx Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1800,
        560
      ],
      "executeOnce": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tblprQT6hfXUR56Xm",
          "mode": "list",
          "cachedResultName": "Autocat",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tblprQT6hfXUR56Xm"
        },
        "filterByFormula": "=",
        "options": {}
      },
      "id": "d22b887e-c3e4-4fe8-9e14-8fdb3ba8f08a",
      "name": "All Autocat Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1600,
        780
      ],
      "executeOnce": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "9520657b-c1de-4ff6-8cad-a0acf78e0d24",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2320,
        760
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tblprQT6hfXUR56Xm",
          "mode": "list",
          "cachedResultName": "Autocat",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tblprQT6hfXUR56Xm"
        },
        "id": "={{ $json.ac_rec_id }}",
        "options": {}
      },
      "id": "cc6cf135-cc6e-42ed-aabd-27ecb3dba54d",
      "name": "Get Autocat Rule",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3160,
        660
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ac_flow_direction",
              "stringValue": "={{ $json.direction }}"
            },
            {
              "name": "ac_expression",
              "stringValue": "={{ $json.expression }}"
            },
            {
              "name": "ac_rec_id",
              "stringValue": "={{ $json.id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "c1f30df6-ac03-459d-8e20-cd6213ae992e",
      "name": "AC Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2000,
        780
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "tx_text_to_analyze",
              "stringValue": "={{ $node[\"Tx Record\"].json[\"p_name_guess\"] }}\n{{ $node[\"Tx Record\"].json[\"p_name_og\"] }}\n{{ $node[\"Tx Record\"].json[\"cp_entity_id\"] }}"
            },
            {
              "name": "tx_direction",
              "stringValue": "={{ $node[\"Tx Record\"].json[\"IncomeOrExpense_display\"] }}"
            },
            {
              "name": "tx_rec_id",
              "stringValue": "={{ $node[\"Tx Record\"].json[\"at_record_id\"] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "59f4378c-4f13-4301-b08f-111cda573387",
      "name": "TX Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2160,
        560
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "link_autocat_input",
              "stringValue": "={{ $json.id }}"
            },
            {
              "name": "id",
              "stringValue": "={{ $('Tx Record').first().json.id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "a9c298fd-ada5-4ee7-be4f-7632e11f2260",
      "name": "Fields to Update",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3400,
        660
      ]
    },
    {
      "parameters": {
        "content": "## Autocat - new record created in Airtable",
        "height": 205.35731131193012,
        "width": 496.129838782354
      },
      "id": "5bc41111-4ae0-4e85-8c17-ded2b428da95",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1000,
        620
      ]
    },
    {
      "parameters": {
        "path": "876d9543-74bc-4e44-abdd-d68e102336d1",
        "options": {}
      },
      "id": "bca7c065-bad4-4f8e-9f1a-3b6c6100938f",
      "name": "Webhook New Autocat Rule Created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1420,
        1400
      ],
      "webhookId": "876d9543-74bc-4e44-abdd-d68e102336d1"
    },
    {
      "parameters": {
        "operation": "get",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tblprQT6hfXUR56Xm",
          "mode": "list",
          "cachedResultName": "Autocat",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tblprQT6hfXUR56Xm"
        },
        "id": "={{ $json.query.rec_id }}",
        "options": {}
      },
      "id": "1f69e97a-1ba4-4ab8-bd35-f5c23619dad5",
      "name": "Airtable Get Autocat Rule",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1660,
        1300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tblDg7JXvWW4mst1j",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tblDg7JXvWW4mst1j"
        },
        "filterByFormula": "{link_autocat} = ''",
        "options": {
          "fields": [
            "cp_entity_id",
            "p_name_og",
            "p_name_guess",
            "amount_output",
            "IncomeOrExpense_display"
          ]
        }
      },
      "id": "0b49182c-c2b7-4f2c-b8f9-a3a7530f566c",
      "name": "Airtable Get Transactions",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1660,
        1500
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "5ab0635d-7bb2-4758-97ec-13c7a840f11f",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2460,
        1500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function checkTransaction() {\n    const txDirection = $json[\"tx_direction\"];\n    const acFlowDirection = $json[\"ac_flow_direction\"];\n    const txTextToAnalyze = $json[\"tx_text_to_analyze\"];\n    const acExpression = $json[\"ac_expression\"];\n    const acRecId = $json[\"tx_rec_id\"];\n\n    // Check if any inputs are missing\n    if (!txDirection || !acFlowDirection || !txTextToAnalyze || !acExpression || !acRecId) {\n        console.error(\"Missing Inputs\");\n        return { result: \"Missing Inputs\" };\n    }\n\n    // Check flow direction\n    if ((acFlowDirection === \"Income Only\" && txDirection !== \"Income\") ||\n        (acFlowDirection === \"Expense Only\" && txDirection !== \"Expense\")) {\n        return { result: \"No Match\" };\n    }\n\n    // Check regex match\n    try {\n        const regex = new RegExp(acExpression);\n        if (regex.test(txTextToAnalyze)) {\n            return { result: \"Match\", ac_rec_id: acRecId };\n        } else {\n            return { result: \"No Match\" };\n        }\n    } catch (error) {\n        console.error(\"Invalid regex:\", acExpression);\n        return { result: \"Error in regex\" };\n    }\n}\n\nreturn checkTransaction();\n"
      },
      "id": "141cb1b4-dc13-4b8d-bbe0-f701bd45a1af",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        1500
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "tx_text_to_analyze",
              "stringValue": "={{ $node[\"Loop Over Tx\"].json[\"p_name_guess\"] }}\n{{ $node[\"Loop Over Tx\"].json[\"p_name_og\"] }}\n{{ $node[\"Loop Over Tx\"].json[\"cp_entity_id\"] }}"
            },
            {
              "name": "tx_direction",
              "stringValue": "={{ $node[\"Loop Over Tx\"].json[\"IncomeOrExpense_display\"] }}"
            },
            {
              "name": "tx_rec_id",
              "stringValue": "={{ $node[\"Loop Over Tx\"].json[\"id\"] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "826a4a26-b0d5-4f52-a04b-3072671958e7",
      "name": "TX Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2100,
        1500
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ac_flow_direction",
              "stringValue": "={{ $node[\"Airtable Get Autocat Rule\"].json.direction }}"
            },
            {
              "name": "ac_expression",
              "stringValue": "={{ $node[\"Airtable Get Autocat Rule\"].json.expression }}"
            },
            {
              "name": "ac_rec_id",
              "stringValue": "={{ $node[\"Airtable Get Autocat Rule\"].json.id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "8f846e26-ec5d-4082-b4f8-3d018a3c10ab",
      "name": "AC Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2280,
        1300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3a83085b-004f-404c-9eeb-fa02976443a7",
      "name": "Loop Over Autocat",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1800,
        780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9e5c9ed7-9e77-4026-8085-ceb3a07428d4",
      "name": "Loop Over Tx",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1880,
        1500
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.result }}",
        "rules": {
          "rules": [
            {
              "value2": "Match"
            },
            {
              "value2": "No Match",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "06552558-87a1-43bc-a074-83edcf36c371",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2860,
        1500
      ]
    },
    {
      "parameters": {},
      "id": "22cb4b10-9f21-440e-9552-b9d6cba9e9ea",
      "name": "match found1",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3100,
        1340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "434e62d7-52f9-4ffe-b113-f11fe23ec254",
      "name": "no match1",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3100,
        1540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tblDg7JXvWW4mst1j",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tblDg7JXvWW4mst1j"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.ac_rec_id }}",
            "link_autocat_input": "={{ $node[\"Airtable Get Autocat Rule\"].json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "at_transaction_id",
              "displayName": "at_transaction_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "at_record_id",
              "displayName": "at_record_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "flag",
              "displayName": "flag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "run_autocat",
              "displayName": "run_autocat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "missing_info_output",
              "displayName": "missing_info_output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ac_expression",
              "displayName": "ac_expression",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ac_check_result",
              "displayName": "ac_check_result",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "rule_summary",
              "displayName": "rule_summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "payee_type",
              "displayName": "payee_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "rule_payee (from link_autocat)",
              "displayName": "rule_payee (from link_autocat)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "link_payees",
              "displayName": "link_payees",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "rule_property (from link_autocat)",
              "displayName": "rule_property (from link_autocat)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "link_property",
              "displayName": "link_property",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "rule_category (from link_autocat)",
              "displayName": "rule_category (from link_autocat)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "link_category",
              "displayName": "link_category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "link_autocat_input",
              "displayName": "link_autocat_input",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "link_autocat",
              "displayName": "link_autocat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Invoice",
              "displayName": "Invoice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "payment_confirmations",
              "displayName": "payment_confirmations",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "logo",
              "displayName": "logo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name_display",
              "displayName": "name_display",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "payee_id_short",
              "displayName": "payee_id_short",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "p_name_guess",
              "displayName": "p_name_guess",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "p_name_og",
              "displayName": "p_name_og",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IncomeOrExpense_display",
              "displayName": "IncomeOrExpense_display",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "amount_output",
              "displayName": "amount_output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "iso_currency_code",
              "displayName": "iso_currency_code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "date_output",
              "displayName": "date_output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "transaction_notes",
              "displayName": "transaction_notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "p_category",
              "displayName": "p_category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pf_primary",
              "displayName": "pf_primary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pf_detailed",
              "displayName": "pf_detailed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "cp_confidence_level",
              "displayName": "cp_confidence_level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pf_confidence_level",
              "displayName": "pf_confidence_level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "category_id",
              "displayName": "category_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pending",
              "displayName": "pending",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "false",
                  "value": "false"
                },
                {
                  "name": "true",
                  "value": "true"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "added_modified_removed",
              "displayName": "added_modified_removed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "added",
                  "value": "added"
                },
                {
                  "name": "modified",
                  "value": "modified"
                },
                {
                  "name": "removed",
                  "value": "removed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "payment_channel",
              "displayName": "payment_channel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "transaction_type",
              "displayName": "transaction_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "cp_entity_id",
              "displayName": "cp_entity_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "transaction_id",
              "displayName": "transaction_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Plaid",
                  "value": "Plaid"
                },
                {
                  "name": "Manual",
                  "value": "Manual"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "p_updated",
              "displayName": "p_updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "record_created_timestamp",
              "displayName": "record_created_timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nested",
              "displayName": "Nested",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_payee",
              "displayName": "missing_payee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_cat",
              "displayName": "missing_cat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_prop",
              "displayName": "missing_prop",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_invoice",
              "displayName": "missing_invoice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ac_analyze_this_text",
              "displayName": "ac_analyze_this_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ac_strict_direction",
              "displayName": "ac_strict_direction",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Expense Only",
                  "value": "Expense Only"
                },
                {
                  "name": "Income Only",
                  "value": "Income Only"
                },
                {
                  "name": "Either",
                  "value": "Either"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "cp_logo_url",
              "displayName": "cp_logo_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "cp_website",
              "displayName": "cp_website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "record_edited",
              "displayName": "record_edited",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "record_edit_by",
              "displayName": "record_edit_by",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "9fd9a538-75f7-4404-a10d-1d91596777b9",
      "name": "Airtable Update TX",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3300,
        1440
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tbl4ihVkSALnPlCTA",
          "mode": "list",
          "cachedResultName": "History",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tbl4ihVkSALnPlCTA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "transaction_updated": "={{ $json.id }}",
            "autocat_rule": "={{ $node[\"AC Fields1\"].json.ac_rec_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "history_id",
              "displayName": "history_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "transaction_updated",
              "displayName": "transaction_updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "autocat_rule",
              "displayName": "autocat_rule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_time",
              "displayName": "created_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "7e1dbc95-171c-4892-b488-bf3296c76bfc",
      "name": "Airtable History",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3480,
        1540
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tblDg7JXvWW4mst1j",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tblDg7JXvWW4mst1j"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "id": "={{ $json.tx_rec_id }}",
            "display_category": "="
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "at_transaction_id",
              "displayName": "at_transaction_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "at_record_id",
              "displayName": "at_record_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "run_autocat",
              "displayName": "run_autocat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "missing_info?",
              "displayName": "missing_info?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": " Good",
                  "value": " Good"
                },
                {
                  "name": " Missing",
                  "value": " Missing"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "missing_info_output",
              "displayName": "missing_info_output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_list",
              "displayName": "missing_list",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ac_analyze_this_text",
              "displayName": "ac_analyze_this_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ac_expression",
              "displayName": "ac_expression",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ac_set_property",
              "displayName": "ac_set_property",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ac_set_category",
              "displayName": "ac_set_category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ac_strict_direction",
              "displayName": "ac_strict_direction",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Expense Only",
                  "value": "Expense Only"
                },
                {
                  "name": "Income Only",
                  "value": "Income Only"
                },
                {
                  "name": "Either",
                  "value": "Either"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ac_check_result",
              "displayName": "ac_check_result",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "link_autocat",
              "displayName": "link_autocat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Invoice",
              "displayName": "Invoice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "payee_type",
              "displayName": "payee_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "link_property",
              "displayName": "link_property",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "logo",
              "displayName": "logo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name_display",
              "displayName": "name_display",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "link_payees",
              "displayName": "link_payees",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "payee_id_short",
              "displayName": "payee_id_short",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "merchant_name",
              "displayName": "merchant_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IncomeOrExpense_display",
              "displayName": "IncomeOrExpense_display",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "IncomeOrExpense_Internal",
              "displayName": "IncomeOrExpense_Internal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Expense ",
                  "value": "Expense "
                },
                {
                  "name": "Income",
                  "value": "Income"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "amount_output",
              "displayName": "amount_output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "iso_currency_code",
              "displayName": "iso_currency_code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "display_category",
              "displayName": "display_category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Software",
                  "value": "Software"
                },
                {
                  "name": "Utilities",
                  "value": "Utilities"
                },
                {
                  "name": "Insurance",
                  "value": "Insurance"
                },
                {
                  "name": "Security Deposit",
                  "value": "Security Deposit"
                },
                {
                  "name": "Construction",
                  "value": "Construction"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transaction_notes",
              "displayName": "transaction_notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pf_primary",
              "displayName": "pf_primary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pf_detailed",
              "displayName": "pf_detailed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "cp_confidence_level",
              "displayName": "cp_confidence_level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pf_confidence_level",
              "displayName": "pf_confidence_level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "category_id",
              "displayName": "category_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pending",
              "displayName": "pending",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "added_modified_removed",
              "displayName": "added_modified_removed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "added",
                  "value": "added"
                },
                {
                  "name": "modified",
                  "value": "modified"
                },
                {
                  "name": "removed",
                  "value": "removed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "payment_channel",
              "displayName": "payment_channel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "transaction_type",
              "displayName": "transaction_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "coordinates_lat",
              "displayName": "coordinates_lat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "coordinates_lon",
              "displayName": "coordinates_lon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "cp_entity_id",
              "displayName": "cp_entity_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "cp_logo_url",
              "displayName": "cp_logo_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "cp_website",
              "displayName": "cp_website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "transaction_id",
              "displayName": "transaction_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "record_created_timestamp",
              "displayName": "record_created_timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_payee",
              "displayName": "missing_payee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_cat",
              "displayName": "missing_cat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_prop",
              "displayName": "missing_prop",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_invoice",
              "displayName": "missing_invoice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Transactions (Nested)",
              "displayName": "Transactions (Nested)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {
          "ignoreFields": "id"
        }
      },
      "id": "b382e8bf-6af7-4c2e-bd85-95ff1565b3a3",
      "name": "Update Tx",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3640,
        660
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tbl4ihVkSALnPlCTA",
          "mode": "list",
          "cachedResultName": "History",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tbl4ihVkSALnPlCTA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "transaction_updated": "={{ $json.id }}",
            "autocat_rule": "={{ $json.fields.link_autocat_input }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "history_id",
              "displayName": "history_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "base",
              "displayName": "base",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "transaction_updated",
              "displayName": "transaction_updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "link_transaction",
              "displayName": "link_transaction",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "autocat_rule",
              "displayName": "autocat_rule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "link_autocat",
              "displayName": "link_autocat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "payee_id_short",
              "displayName": "payee_id_short",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "created_time",
              "displayName": "created_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "27eff30d-ce65-4dd4-acdb-ea15fcac5c8a",
      "name": "Airtable History1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3860,
        660
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "content": "## Autocat - New rule created",
        "height": 257.2752043596731,
        "width": 445.9945504087194
      },
      "id": "56ce768c-ce7c-4fd7-a569-c73722830b4f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        1300
      ]
    },
    {
      "parameters": {
        "content": "## Plaid has Updates\nSent by Plaid whenever there are updates",
        "height": 146.3156649326342,
        "width": 414.8057713651498
      },
      "id": "4068879c-6e2d-4fcb-b650-be6b1aa979d6",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "2600:1700:2540:7650:79ca:be3b:efeb:2478/plaidUpdates",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ $json.headers }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "56b07400-1dff-4801-8603-5589580d911f",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1640,
        160
      ]
    }
  ],
  "pinData": {
    "Webhook New Autocat Rule Created": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "x-airtable-source": "appjjY9qVQZlWUkkj/wflvDbFabhFT6u4zO",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "x-forwarded-for": "34.239.160.216",
            "x-forwarded-proto": "https",
            "x-envoy-external-address": "34.239.160.216",
            "x-request-id": "682275d5-2597-4f99-9b70-716c0a6f1c88"
          },
          "params": {},
          "query": {
            "rec_id": "rec4eau6QOJUgKIoH"
          }
        }
      }
    ],
    "Webhook from Airtable": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "x-airtable-source": "appjjY9qVQZlWUkkj/wflQgy1e4xNVx5HMD",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "x-forwarded-for": "54.237.109.38",
            "x-forwarded-proto": "https",
            "x-envoy-external-address": "54.237.109.38",
            "x-request-id": "e204ebb7-5449-44c9-bc9b-fbff6bb9e7e9"
          },
          "params": {},
          "query": {
            "rec_id": "recjTA58Nr1hzzcUg"
          }
        }
      }
    ],
    "Webhook from Plaid": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "content-type": "application/json",
            "plaid-verification": "eyJhbGciOiJFUzI1NiIsImtpZCI6IjZmZDM2ZDA3LTExOTItNDM1Ni1hZWU4LTZmYTlkNWYyYTIwZCIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MDI3MjE0MzcsInJlcXVlc3RfYm9keV9zaGEyNTYiOiI5MmIzMTcxZTk1NGFhMjZiY2JlZjM3OTE3YTg5NDNiYTExMGM4ZjViM2JlM2ViOTBkMTlhMGY0MTdjMzZkZTA0In0.d6b6gy0y9sdv3csQ9urYoWmD1GEmClB_P8E8ywyrNq1fMU8aHLoTrJy1WKIQ5UVVpaPc7INN6SYY-idKIxXrYA",
            "content-length": "239",
            "accept-encoding": "gzip",
            "user-agent": "Go-http-client/2.0",
            "x-forwarded-for": "52.21.47.157",
            "x-forwarded-proto": "https",
            "x-envoy-external-address": "52.21.47.157",
            "x-request-id": "a56c4aff-0aad-46d4-a680-fe9a863247c7"
          },
          "params": {},
          "query": {},
          "body": {
            "environment": "development",
            "historical_update_complete": true,
            "initial_update_complete": true,
            "item_id": "xqrZgoe07QcxqRAxE1aycPeYem9ARbHMBmJno",
            "webhook_code": "SYNC_UPDATES_AVAILABLE",
            "webhook_type": "TRANSACTIONS"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "lastTimeChecked": 1704678186
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2024-02-07T15:53:33.522Z",
  "versionId": "22e0a7cc-9567-44bd-bd07-05bd3c1d2d16"
}