workflows/Finances.json
{
  "active": true,
  "connections": {
    "Webhook from Airtable": {
      "main": [
        [
          {
            "node": "Get Airtable Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Airtable Record": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Autocat Rules Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Autocat Rules Airtable": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-09T14:57:03.032Z",
  "id": "0jh9kpsrP1m0UxJI",
  "name": "Finances",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e43a3317-2c43-41c6-b2de-3fb9419b17b7",
        "options": {}
      },
      "id": "fbe6bef2-1b3e-4e99-b57b-a83a493cbf57",
      "name": "Webhook from Plaid",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        620,
        360
      ],
      "webhookId": "e43a3317-2c43-41c6-b2de-3fb9419b17b7"
    },
    {
      "parameters": {
        "path": "e08667ee-32aa-43df-a69a-8dfccd367f1c",
        "options": {}
      },
      "id": "df9f094d-ffbe-4aff-83f1-e9bb5187d208",
      "name": "Webhook from Airtable",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        620,
        620
      ],
      "webhookId": "e08667ee-32aa-43df-a69a-8dfccd367f1c"
    },
    {
      "parameters": {
        "operation": "get",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tblDg7JXvWW4mst1j",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tblDg7JXvWW4mst1j"
        },
        "id": "={{ $json.query.rec_id }}",
        "options": {}
      },
      "id": "0b6644fe-3c19-4d98-81b9-c0b5c608173e",
      "name": "Get Airtable Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        840,
        620
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tblprQT6hfXUR56Xm",
          "mode": "list",
          "cachedResultName": "Autocat",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tblprQT6hfXUR56Xm"
        },
        "options": {},
        "sort": {
          "property": [
            {
              "field": "rule_id"
            }
          ]
        }
      },
      "id": "d22b887e-c3e4-4fe8-9e14-8fdb3ba8f08a",
      "name": "Get All Autocat Rules Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1020,
        820
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "1171f351-d8da-4811-939f-037e4c736ef7",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1220,
        820
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "ceb01527-b5c4-492f-a85f-421d84c39507",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        620
      ]
    },
    {
      "parameters": {},
      "id": "29e02f59-1e3c-42ad-8986-a97af4e09a76",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1760,
        620
      ]
    },
    {
      "parameters": {},
      "id": "5162e980-def1-49ee-9f6b-5bf34450f7b9",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2200,
        620
      ]
    },
    {
      "parameters": {},
      "id": "9af643fb-a32c-48b0-9cb8-5cb7c9f211b3",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1440,
        820
      ]
    }
  ],
  "pinData": {
    "Webhook from Airtable": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "x-airtable-source": "appjjY9qVQZlWUkkj/wflQgy1e4xNVx5HMD",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "x-forwarded-for": "3.238.249.243",
            "x-forwarded-proto": "https",
            "x-envoy-external-address": "3.238.249.243",
            "x-request-id": "416b926e-1b6c-4f5a-a8f6-7b98e477bef2"
          },
          "params": {},
          "query": {
            "rec_id": "recWqYoubBevOo54X"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-12-10T16:08:43.491Z",
  "versionId": "caa651c4-209a-4c0b-a6ec-4e870b31039f"
}