workflows/Finances.json
{
  "active": true,
  "connections": {
    "Webhook from Airtable": {
      "main": [
        [
          {
            "node": "All Autocat Records",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tx Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "match found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "no match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "match found": {
      "main": [
        [
          {
            "node": "Get Autocat Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tx Record": {
      "main": [
        [
          {
            "node": "TX Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Autocat Records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "no match": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AC Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Autocat Rule": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AC Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "TX Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TX Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-09T14:57:03.032Z",
  "id": "0jh9kpsrP1m0UxJI",
  "meta": null,
  "name": "Finances",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e43a3317-2c43-41c6-b2de-3fb9419b17b7",
        "options": {}
      },
      "id": "fbe6bef2-1b3e-4e99-b57b-a83a493cbf57",
      "name": "Webhook from Plaid",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1380,
        160
      ],
      "webhookId": "e43a3317-2c43-41c6-b2de-3fb9419b17b7"
    },
    {
      "parameters": {
        "path": "e08667ee-32aa-43df-a69a-8dfccd367f1c",
        "options": {}
      },
      "id": "df9f094d-ffbe-4aff-83f1-e9bb5187d208",
      "name": "Webhook from Airtable",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1380,
        580
      ],
      "webhookId": "e08667ee-32aa-43df-a69a-8dfccd367f1c"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function checkTransaction() {\n    const txDirection = $json[\"tx_direction\"];\n    const acFlowDirection = $json[\"ac_flow_direction\"];\n    const txTextToAnalyze = $json[\"tx_text_to_analyze\"];\n    const acExpression = $json[\"ac_expression\"];\n    const acRecId = $json[\"ac_rec_id\"];\n\n    // Check if any inputs are missing\n    if (!txDirection || !acFlowDirection || !txTextToAnalyze || !acExpression || !acRecId) {\n        console.error(\"Missing Inputs\");\n        return { result: \"Missing Inputs\" };\n    }\n\n    // Check flow direction\n    if ((acFlowDirection === \"Income Only\" && txDirection !== \"Income\") ||\n        (acFlowDirection === \"Expense Only\" && txDirection !== \"Expense\")) {\n        return { result: \"No Match\" };\n    }\n\n    // Check regex match\n    try {\n        const regex = new RegExp(acExpression);\n        if (regex.test(txTextToAnalyze)) {\n            return { result: \"Match\", ac_rec_id: acRecId };\n        } else {\n            return { result: \"No Match\" };\n        }\n    } catch (error) {\n        console.error(\"Invalid regex:\", acExpression);\n        return { result: \"Error in regex\" };\n    }\n}\n\nreturn checkTransaction();\n"
      },
      "id": "ceb01527-b5c4-492f-a85f-421d84c39507",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        660
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.result }}",
        "rules": {
          "rules": [
            {
              "value2": "Match"
            },
            {
              "value2": "No Match",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "5162e980-def1-49ee-9f6b-5bf34450f7b9",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2720,
        660
      ]
    },
    {
      "parameters": {},
      "id": "0138b9e0-797a-48cf-b200-72a090858967",
      "name": "match found",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2940,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "b1fd618b-4b21-496b-a78e-0c43c1133c56",
      "name": "no match",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2940,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tblDg7JXvWW4mst1j",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tblDg7JXvWW4mst1j"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Tx Record').first().json.id }}",
            "display_category": "={{ $('All Autocat Records').first().json[\"set_this_category\"] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "at_transaction_id",
              "displayName": "at_transaction_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "at_record_id",
              "displayName": "at_record_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "run_autocat",
              "displayName": "run_autocat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "missing_info?",
              "displayName": "missing_info?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "✅ Good",
                  "value": "✅ Good"
                },
                {
                  "name": "⚠️ Missing",
                  "value": "⚠️ Missing"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "missing_info_output",
              "displayName": "missing_info_output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_list",
              "displayName": "missing_list",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ac_analyze_this_text",
              "displayName": "ac_analyze_this_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ac_expression",
              "displayName": "ac_expression",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ac_set_property",
              "displayName": "ac_set_property",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ac_set_category",
              "displayName": "ac_set_category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ac_strict_direction",
              "displayName": "ac_strict_direction",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Expense Only",
                  "value": "Expense Only"
                },
                {
                  "name": "Income Only",
                  "value": "Income Only"
                },
                {
                  "name": "Either",
                  "value": "Either"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ac_check_result",
              "displayName": "ac_check_result",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "link_autocat",
              "displayName": "link_autocat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Invoice",
              "displayName": "Invoice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "payee_type",
              "displayName": "payee_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "link_property",
              "displayName": "link_property",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "logo",
              "displayName": "logo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name_display",
              "displayName": "name_display",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "link_payees",
              "displayName": "link_payees",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "payee_id_short",
              "displayName": "payee_id_short",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "merchant_name",
              "displayName": "merchant_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IncomeOrExpense_display",
              "displayName": "IncomeOrExpense_display",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "IncomeOrExpense_Internal",
              "displayName": "IncomeOrExpense_Internal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Expense ",
                  "value": "Expense "
                },
                {
                  "name": "Income",
                  "value": "Income"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "amount_output",
              "displayName": "amount_output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "iso_currency_code",
              "displayName": "iso_currency_code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "display_category",
              "displayName": "display_category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Software",
                  "value": "Software"
                },
                {
                  "name": "Utilities",
                  "value": "Utilities"
                },
                {
                  "name": "Insurance",
                  "value": "Insurance"
                },
                {
                  "name": "Security Deposit",
                  "value": "Security Deposit"
                },
                {
                  "name": "Construction",
                  "value": "Construction"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transaction_notes",
              "displayName": "transaction_notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pf_primary",
              "displayName": "pf_primary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pf_detailed",
              "displayName": "pf_detailed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "cp_confidence_level",
              "displayName": "cp_confidence_level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pf_confidence_level",
              "displayName": "pf_confidence_level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "category_id",
              "displayName": "category_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pending",
              "displayName": "pending",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "added_modified_removed",
              "displayName": "added_modified_removed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "added",
                  "value": "added"
                },
                {
                  "name": "modified",
                  "value": "modified"
                },
                {
                  "name": "removed",
                  "value": "removed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "payment_channel",
              "displayName": "payment_channel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "transaction_type",
              "displayName": "transaction_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "coordinates_lat",
              "displayName": "coordinates_lat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "coordinates_lon",
              "displayName": "coordinates_lon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "cp_entity_id",
              "displayName": "cp_entity_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "cp_logo_url",
              "displayName": "cp_logo_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "cp_website",
              "displayName": "cp_website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "transaction_id",
              "displayName": "transaction_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "record_created_timestamp",
              "displayName": "record_created_timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_payee",
              "displayName": "missing_payee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_cat",
              "displayName": "missing_cat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_prop",
              "displayName": "missing_prop",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "missing_invoice",
              "displayName": "missing_invoice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Transactions (Nested)",
              "displayName": "Transactions (Nested)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "b382e8bf-6af7-4c2e-bd85-95ff1565b3a3",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3380,
        560
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "path": "5e4a40fa-ff29-4cc4-91e1-c07482da4ed2",
        "options": {}
      },
      "id": "c6018ca2-571f-4f79-a89b-957e5b448bb6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1360,
        1060
      ],
      "webhookId": "5e4a40fa-ff29-4cc4-91e1-c07482da4ed2"
    },
    {
      "parameters": {
        "chatId": "-1001902244643",
        "text": "=Error saving bank transactions into airtable. Check n8n execution ID:\n{{ $executionId }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "7be52537-998e-4f0a-ad75-1507d885b8fb",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1580,
        1060
      ],
      "credentials": {
        "telegramApi": {
          "id": "YtXrIMUbcoaS4RKx",
          "name": "P0m0shnik11_Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tblDg7JXvWW4mst1j",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tblDg7JXvWW4mst1j"
        },
        "id": "={{ $('Webhook from Airtable').first().json.query.rec_id }}",
        "options": {}
      },
      "id": "0b6644fe-3c19-4d98-81b9-c0b5c608173e",
      "name": "Tx Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1800,
        460
      ],
      "executeOnce": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tblprQT6hfXUR56Xm",
          "mode": "list",
          "cachedResultName": "Autocat",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tblprQT6hfXUR56Xm"
        },
        "filterByFormula": "=",
        "options": {}
      },
      "id": "d22b887e-c3e4-4fe8-9e14-8fdb3ba8f08a",
      "name": "All Autocat Records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1600,
        680
      ],
      "executeOnce": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3a83085b-004f-404c-9eeb-fa02976443a7",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1800,
        680
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "9520657b-c1de-4ff6-8cad-a0acf78e0d24",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2320,
        660
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "base": {
          "__rl": true,
          "value": "appjjY9qVQZlWUkkj",
          "mode": "list",
          "cachedResultName": "Finances",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj"
        },
        "table": {
          "__rl": true,
          "value": "tblprQT6hfXUR56Xm",
          "mode": "list",
          "cachedResultName": "Autocat",
          "cachedResultUrl": "https://airtable.com/appjjY9qVQZlWUkkj/tblprQT6hfXUR56Xm"
        },
        "id": "={{ $json.ac_rec_id }}",
        "options": {}
      },
      "id": "cc6cf135-cc6e-42ed-aabd-27ecb3dba54d",
      "name": "Get Autocat Rule",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3160,
        560
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ac_flow_direction",
              "stringValue": "={{ $json.direction }}"
            },
            {
              "name": "ac_expression",
              "stringValue": "={{ $json.expression }}"
            },
            {
              "name": "ac_rec_id",
              "stringValue": "={{ $json.id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "c1f30df6-ac03-459d-8e20-cd6213ae992e",
      "name": "AC Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2000,
        680
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "tx_text_to_analyze",
              "stringValue": "={{ $node[\"Tx Record\"].json[\"p_name_guess\"] }}\n{{ $node[\"Tx Record\"].json[\"p_name_og\"] }}\n{{ $node[\"Tx Record\"].json[\"cp_entity_id\"] }}"
            },
            {
              "name": "tx_direction",
              "stringValue": "={{ $node[\"Tx Record\"].json[\"IncomeOrExpense_display\"] }}"
            },
            {
              "name": "tx_rec_id",
              "stringValue": "={{ $node[\"Tx Record\"].json[\"at_record_id\"] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "59f4378c-4f13-4301-b08f-111cda573387",
      "name": "TX Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2160,
        460
      ]
    }
  ],
  "pinData": {
    "Webhook from Airtable": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "x-airtable-source": "appjjY9qVQZlWUkkj/wflKUbNbPPAcBgYqG",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "x-forwarded-for": "3.91.239.93",
            "x-forwarded-proto": "https",
            "x-envoy-external-address": "3.91.239.93",
            "x-request-id": "96752a48-1a8a-4874-bc0c-cc66093d579a"
          },
          "params": {},
          "query": {
            "rec_id": "recxQWRFP2KQDvQeE"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2023-12-13T21:26:35.868Z",
  "versionId": "a427ca6b-2420-44be-9836-991456d17499"
}