workflows/Imposbl App.json
{
  "active": true,
  "connections": {
    "created timestamp exists": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compare data": {
      "main": [
        [
          {
            "node": "filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter": {
      "main": [
        [
          {
            "node": "Create notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Properties Table New Record": {
      "main": [
        [
          {
            "node": "created timestamp exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger.dev Alert": {
      "main": [
        [
          {
            "node": "Notify of Trigger.dev fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Properties - Updated Record": {
      "main": [
        [
          {
            "node": "compare data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth.Users - New Record": {
      "main": [
        [
          {
            "node": "create public.users record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create public.users record": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-10T21:40:49.082Z",
  "id": "BjDbNeD2OZXPsw3M",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Imposbl App",
  "nodes": [
    {
      "parameters": {},
      "id": "4564065f-ad57-4b35-bbaa-56282d4da130",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.record.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "timestamp_created",
              "fieldValue": "={{ $json.body.record.timestamp_updated }}"
            }
          ]
        }
      },
      "id": "80699d06-3906-48d2-b3c7-5999ce28337d",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c513f015-0831-45a6-a5cb-c89110c34e41",
              "leftValue": "={{ $json.body.record.timestamp_created }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "37998805-05cd-431a-953f-af08ee8dc45e",
      "name": "created timestamp exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        740,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0c08a069-17fd-46ce-9996-c8aa650e729e",
              "leftValue": "={{ $json.body.record.timestamp_created }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "35e50be3-ab5c-433f-a209-a9b34c24acd2",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        1000,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "function findDifferences(obj1, obj2) {\n  let differences = [];\n  \n  for (let key in obj1) {\n    if (JSON.stringify(obj1[key]) !== JSON.stringify(obj2[key])) {\n      differences.push({\n        isDifferent: true,\n        difference: key,\n        oldValue: obj2[key],\n        newValue: obj1[key]\n      });\n    }\n  }\n  \n  // Check for keys in obj2 that are not in obj1\n  for (let key in obj2) {\n    if (!(key in obj1)) {\n      differences.push({\n        isDifferent: true,\n        difference: key,\n        oldValue: obj2[key],\n        newValue: undefined\n      });\n    }\n  }\n  \n  return differences;\n}\n\n// Assuming the JSON objects are in $('Properties - Updated Record').all()[0].json.body\nconst newObject = $('Properties - Updated Record').all()[0].json.body.record;\nconst oldObject = $('Properties - Updated Record').all()[0].json.body.old_record;\n\nconst differences = findDifferences(newObject, oldObject);\n\n// Set the output to be an array of difference objects\nitems = differences.map(diff => ({ json: diff }));\n\nreturn items;"
      },
      "id": "4f9d7590-75a8-4d8b-8d48-c61bb6050d73",
      "name": "compare data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "tableId": "properties_changelog",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "fk_property_id",
              "fieldValue": "={{ $('Properties - Updated Record').first().json.body.record.id }}"
            },
            {
              "fieldId": "updated_field",
              "fieldValue": "={{ $json.difference }}"
            },
            {
              "fieldId": "value_old",
              "fieldValue": "={{ $json.oldValue }}"
            },
            {
              "fieldId": "value_new",
              "fieldValue": "={{ $json.newValue }}"
            },
            {
              "fieldId": "updated_by",
              "fieldValue": "={{ $('Properties - Updated Record').item.json.body.record.last_edited_by }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $('Properties - Updated Record').item.json.body.record.timestamp_updated }}"
            }
          ]
        }
      },
      "id": "d9e94d6d-09cd-4df8-b731-5ee72daa8f36",
      "name": "Create notification",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1180,
        520
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "00f990c9-9187-4105-ad41-69a174a6145a",
              "leftValue": "={{ $json.isDifferent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "83c73ac8-f765-472b-a762-f308f787848e",
              "leftValue": "={{ $json.difference }}",
              "rightValue": "timestamp_created",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "f87b8385-75c8-420b-9c11-35b5c8b2a9be",
              "leftValue": "={{ $json.difference }}",
              "rightValue": "timestamp_updated",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "52b907a1-ac31-47d6-8131-143d7524d204",
              "leftValue": "={{ $json.difference }}",
              "rightValue": "last_edited_by",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9c229b94-2a15-499e-a793-2b470daab4df",
              "leftValue": "{{ $json.difference }}",
              "rightValue": "starred",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8b23fe6f-afb1-4201-a078-8e6147cf377a",
      "name": "filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        960,
        520
      ]
    },
    {
      "parameters": {
        "content": "## New Property Created\n### Set created time to be same as updated time",
        "height": 145.62196438101526
      },
      "id": "42113db4-2aae-49ea-98f6-c6e804a8fd98",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        100
      ]
    },
    {
      "parameters": {
        "content": "## Property Updated\n### Log all changes to properties_notifications",
        "height": 145.62196438101526
      },
      "id": "a946dccd-3737-4273-8388-6f5782351765",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "-1001902244643",
        "text": "=Trigger.dev run failed\n------\n<a href=\"https://imposbl.up.railway.app/workflow/BjDbNeD2OZXPsw3M/executions/{{ $execution.id }}\">Execution {{ $execution.id }}</a>",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "8b4a8528-f70c-43ec-8f48-f76bfaf1a5b9",
      "name": "Notify of Trigger.dev fail",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        740,
        920
      ],
      "credentials": {
        "telegramApi": {
          "id": "0fQ1WNqKtNnjGFpt",
          "name": "MV Finances Bot"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7965cf91-4238-4d08-85e7-0ebc776417e0",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "40a91048-c4ba-4b9b-a0b1-2c141fea7ccb",
      "name": "Properties Table New Record",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        100
      ],
      "webhookId": "7965cf91-4238-4d08-85e7-0ebc776417e0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk6V0TaWYGlLXgPM",
          "name": "Supabase Imposbl Header Auth"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4e2721d3-88df-4aa7-99fe-531f846ad470",
        "options": {}
      },
      "id": "4002c2e5-a702-46ba-8a8c-36e9d7a94e68",
      "name": "Trigger.dev Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        920
      ],
      "webhookId": "4e2721d3-88df-4aa7-99fe-531f846ad470"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2ac3d1a9-7334-451c-aa4c-947182f598d5",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "9589f431-7b1e-4585-9cec-35bd77bcdae0",
      "name": "Properties - Updated Record",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        520
      ],
      "webhookId": "2ac3d1a9-7334-451c-aa4c-947182f598d5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk6V0TaWYGlLXgPM",
          "name": "Supabase Imposbl Header Auth"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "65a7dcd1-3560-4632-ac79-1244f0c008af",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "29a1fe04-59be-4db2-9c6f-f4711110d8cf",
      "name": "Auth.Users - New Record",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        -300
      ],
      "webhookId": "65a7dcd1-3560-4632-ac79-1244f0c008af",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk6V0TaWYGlLXgPM",
          "name": "Supabase Imposbl Header Auth"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "a0260457-a478-4c67-a845-f72e2368f6df",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        -300
      ]
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "auth_id",
              "fieldValue": "={{ $json.body.record.id }}"
            },
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.body.record.id }}"
            }
          ]
        }
      },
      "id": "1d083bed-65c4-4bba-b8e5-011586af7c68",
      "name": "create public.users record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        740,
        -300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    }
  ],
  "pinData": {
    "Properties Table New Record": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "pg_net/0.7.1",
            "content-length": "917",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-for": "3.210.235.210",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "xOJsq2T3Q0GPJ-gFNqar7g_1002618245",
            "x-real-ip": "3.210.235.210",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "INSERT",
            "table": "properties",
            "record": {
              "id": 20,
              "beds": null,
              "sqft": null,
              "baths": null,
              "garage": null,
              "lot_sqf": null,
              "starred": false,
              "stories": null,
              "coord_lat": null,
              "coord_lng": null,
              "prop_size": null,
              "prop_year": null,
              "realtor_id": null,
              "year_built": null,
              "address_zip": null,
              "realtor_url": null,
              "address_city": null,
              "county_tract": null,
              "realtor_desc": null,
              "address_state": null,
              "county_parcel": null,
              "address_street": "12 test 34",
              "realtor_status": null,
              "prop_struc_type": null,
              "prop_cooking_type": null,
              "prop_heating_type": null,
              "timestamp_created": null,
              "timestamp_updated": null,
              "fk_status_property": "New",
              "realtor_list_price": null,
              "timestamp_followup": null,
              "address_neighborhood": null,
              "realtor_dwelling_type": null,
              "realtor_last_sold_date": null,
              "prop_water_heating_type": null,
              "realtor_last_sold_price": null
            },
            "schema": "public",
            "old_record": null
          },
          "webhookUrl": "https://imposbl.up.railway.app/webhook/7965cf91-4238-4d08-85e7-0ebc776417e0",
          "executionMode": "production"
        }
      }
    ],
    "Properties - Updated Record": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "pg_net/0.7.1",
            "content-length": "2090",
            "accept": "*/*",
            "authorization": "Bearer jpsK8t@SefRvRdt*yS3qG@nubYkmNFdyFlnO4I8VR3w32uBgasY^36xVuJ7LJfBG970A9lvGCMk#&i1x3HEFCBI7gAvaCkj9$0X",
            "content-type": "application/json",
            "x-forwarded-for": "3.210.235.210",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "Zv59EdsWQ1GVfw43RVNDxQ_882434190",
            "x-real-ip": "3.210.235.210",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "UPDATE",
            "table": "properties",
            "record": {
              "id": 5,
              "beds": null,
              "sqft": null,
              "baths": null,
              "garage": null,
              "lot_sqf": null,
              "starred": true,
              "stories": null,
              "coord_lat": null,
              "coord_lng": null,
              "prop_size": 1350,
              "prop_year": null,
              "realtor_id": null,
              "year_built": null,
              "address_zip": "43612",
              "realtor_url": "https://www.realtor.com/realestateandhomes-detail/M4876359256",
              "address_city": "Toledo",
              "county_tract": "6.01",
              "realtor_desc": null,
              "address_state": "OH",
              "county_parcel": "0736911",
              "address_street": "3528 Homewood Ave",
              "last_edited_by": "5b9dc1df-4527-4c03-a425-81fcb2b4599e",
              "realtor_status": null,
              "prop_cooking_type": null,
              "prop_heating_type": null,
              "timestamp_created": "2024-09-22T05:01:01+00:00",
              "timestamp_updated": "2024-09-22T05:01:55+00:00",
              "fk_status_property": "Rented",
              "realtor_list_price": null,
              "timestamp_followup": null,
              "address_neighborhood": null,
              "realtor_dwelling_type": null,
              "realtor_last_sold_date": null,
              "prop_water_heating_type": null,
              "realtor_last_sold_price": null
            },
            "schema": "public",
            "old_record": {
              "id": 5,
              "beds": null,
              "sqft": null,
              "baths": null,
              "garage": null,
              "lot_sqf": null,
              "starred": true,
              "stories": null,
              "coord_lat": null,
              "coord_lng": null,
              "prop_size": 1350,
              "prop_year": null,
              "realtor_id": null,
              "year_built": null,
              "address_zip": "43612",
              "realtor_url": "https://www.realtor.com/realestateandhomes-detail/M4876359256",
              "address_city": "Toledo",
              "county_tract": "6.01",
              "realtor_desc": null,
              "address_state": "OH",
              "county_parcel": "0736911",
              "address_street": "3528 Homewood Ave",
              "last_edited_by": "5b9dc1d81fcb2b4599e",
              "realtor_status": null,
              "prop_cooking_type": null,
              "prop_heating_type": null,
              "timestamp_created": "2024-09-22T05:01:01+00:00",
              "timestamp_updated": "2024-09-22T05:01:55+00:00",
              "fk_status_property": "Construction",
              "realtor_list_price": null,
              "timestamp_followup": "2024-09-28T13:16:06.879+00:00",
              "address_neighborhood": null,
              "realtor_dwelling_type": null,
              "realtor_last_sold_date": null,
              "prop_water_heating_type": null,
              "realtor_last_sold_price": null
            }
          },
          "webhookUrl": "https://imposbl.up.railway.app/webhook/2ac3d1a9-7334-451c-aa4c-947182f598d5",
          "executionMode": "production"
        }
      }
    ],
    "Auth.Users - New Record": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "pg_net/0.7.1",
            "content-length": "1174",
            "accept": "*/*",
            "authorization": "Bearer jpsK8t@SefRvRdt*yS3qG@nubYkmNFdyFlnO4I8VR3w32uBgasY^36xVuJ7LJfBG970A9lvGCMk#&i1x3HEFCBI7gAvaCkj9$0X",
            "content-type": "application/json",
            "x-forwarded-for": "3.210.235.210",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "WwZvECiGTmyp5FgVnAUr2w_1002618245",
            "x-real-ip": "3.210.235.210",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "INSERT",
            "table": "users",
            "record": {
              "id": "a01372dc-0e40-4570-8b36-4428db6e0f78",
              "aud": "authenticated",
              "role": "",
              "email": "realtor@imposbl.com",
              "phone": null,
              "created_at": "2024-10-09T21:38:24.29224+00:00",
              "deleted_at": null,
              "invited_at": null,
              "updated_at": "2024-10-09T21:38:24.29224+00:00",
              "instance_id": "00000000-0000-0000-0000-000000000000",
              "is_sso_user": false,
              "banned_until": null,
              "confirmed_at": null,
              "email_change": "",
              "is_anonymous": false,
              "phone_change": "",
              "is_super_admin": null,
              "recovery_token": "",
              "last_sign_in_at": null,
              "recovery_sent_at": null,
              "raw_app_meta_data": {
                "provider": "email",
                "providers": [
                  "email"
                ]
              },
              "confirmation_token": "",
              "email_confirmed_at": null,
              "encrypted_password": "$2a$10$QFhIdhSF3hgrIhqditXUdOAeLDEFp8SGsIQ9C3l89eZrUJACKx6l6",
              "phone_change_token": "",
              "phone_confirmed_at": null,
              "raw_user_meta_data": {},
              "confirmation_sent_at": null,
              "email_change_sent_at": null,
              "phone_change_sent_at": null,
              "email_change_token_new": "",
              "reauthentication_token": "",
              "reauthentication_sent_at": null,
              "email_change_token_current": "",
              "email_change_confirm_status": 0
            },
            "schema": "auth",
            "old_record": null
          },
          "webhookUrl": "https://imposbl.up.railway.app/webhook-test/65a7dcd1-3560-4632-ac79-1244f0c008af",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2024-10-09T21:47:14.000Z",
  "versionId": "5093e562-49c8-4bbe-a7c7-8e63ea5d3ba4"
}