workflows/Micro | Scrape New Property.json
{
  "active": false,
  "connections": {
    "Try finding existing properties": {
      "main": [
        [
          {
            "node": "Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create Property",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Property": {
      "main": [
        [
          {
            "node": "Extract Image URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Property": {
      "main": [
        [
          {
            "node": "Update Scrape Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Rapid API": {
      "main": [
        [
          {
            "node": "Try finding existing properties",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image URLs": {
      "main": [
        [
          {
            "node": "Insert Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Microservice": {
      "main": [
        [
          {
            "node": "Scrape Rapid API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-16T15:29:49.302Z",
  "id": "Dk5zxWqa5hfdmlVn",
  "meta": null,
  "name": "Micro | Scrape New Property",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties_scrape_log",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Scrape Microservice').item.json.scrape_log_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "success",
              "fieldValue": "=FALSE"
            },
            {
              "fieldId": "error_desc",
              "fieldValue": "={{ $json.error.code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -860,
        340
      ],
      "id": "dff6dbe9-ef62-4727-b51e-50a8f0ee98f6",
      "name": "Scrape Log Error",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "address_street",
              "condition": "ilike",
              "keyValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.line }}"
            },
            {
              "keyName": "address_city",
              "condition": "eq",
              "keyValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.city }}"
            },
            {
              "keyName": "address_state",
              "condition": "eq",
              "keyValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.state_code }}"
            },
            {
              "keyName": "address_zip",
              "condition": "eq",
              "keyValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.postal_code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -860,
        140
      ],
      "id": "5a0add78-48ec-4101-a76c-31d53ebfde16",
      "name": "Try finding existing properties",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.results }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0 results"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3f836040-e20c-4c0b-84c5-e795339645c1",
                    "leftValue": "={{ $json.results }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 result"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -440,
        140
      ],
      "id": "4d714abe-e621-4d80-ab4e-21b0a80155c5",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties_scrape_log",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Scrape Microservice').item.json.scrape_log_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "success",
              "fieldValue": "={{ \"TRUE\" }}"
            },
            {
              "fieldId": "error_desc",
              "fieldValue": "=Scraped successfully"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        140
      ],
      "id": "b9583a2a-dfb7-4e81-9df5-40368507689b",
      "name": "Scrape Log Success",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "tableId": "properties",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "address_street",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.line }}"
            },
            {
              "fieldId": "address_city",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.city }}"
            },
            {
              "fieldId": "address_state",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.state_code }}"
            },
            {
              "fieldId": "address_zip",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.postal_code }}"
            },
            {
              "fieldId": "prop_size_inside",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.sqft }}"
            },
            {
              "fieldId": "prop_year",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.year_built }}"
            },
            {
              "fieldId": "realtor_id",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.property_id }}"
            },
            {
              "fieldId": "realtor_url",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.href }}"
            },
            {
              "fieldId": "realtor_status",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.status }}"
            },
            {
              "fieldId": "beds",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.beds }}"
            },
            {
              "fieldId": "baths",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.baths }}"
            },
            {
              "fieldId": "garage",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.garage }}"
            },
            {
              "fieldId": "stories",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.stories }}"
            },
            {
              "fieldId": "realtor_dwelling_type",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.type }}"
            },
            {
              "fieldId": "realtor_last_sold_date",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.last_sold_date }}"
            },
            {
              "fieldId": "realtor_last_sold_price",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.last_sold_price }}"
            },
            {
              "fieldId": "realtor_list_price",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.list_price }}"
            },
            {
              "fieldId": "address_neighborhood",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.neighborhoods[0].name }}"
            },
            {
              "fieldId": "coord_lat",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.coordinate.lat }}"
            },
            {
              "fieldId": "coord_lng",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.coordinate.lon }}"
            },
            {
              "fieldId": "prop_size_outside",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.lot_sqft }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "timestamp_created",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "last_edited_by",
              "fieldValue": "={{ $('Scrape Microservice').item.json.user }}"
            },
            {
              "fieldId": "scrape_source",
              "fieldValue": "Realtor.com"
            },
            {
              "fieldId": "timestamp_scraped",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "realtor_desc",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.text }}"
            },
            {
              "fieldId": "is_contingent",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_contingent }}"
            },
            {
              "fieldId": "is_foreclosure",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_foreclosure }}"
            },
            {
              "fieldId": "is_pending",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_pending }}"
            },
            {
              "fieldId": "is_short_sale",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_short_sale }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -220,
        140
      ],
      "id": "1f91a05b-fe23-4f66-a4b4-de118521df2f",
      "name": "Create Property",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Try finding existing properties').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "prop_size_inside",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.sqft }}"
            },
            {
              "fieldId": "prop_year",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.year_built }}"
            },
            {
              "fieldId": "realtor_id",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.property_id }}"
            },
            {
              "fieldId": "realtor_url",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.href }}"
            },
            {
              "fieldId": "realtor_status",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.status }}"
            },
            {
              "fieldId": "beds",
              "fieldValue": "={{ $('Try finding existing properties').item.json.beds !== null \n  ? $('Try finding existing properties').item.json.beds\n  : $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.beds }}"
            },
            {
              "fieldId": "baths",
              "fieldValue": "={{ $('Try finding existing properties').item.json.baths !== null \n  ? $('Try finding existing properties').item.json.baths\n  : $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.baths }}"
            },
            {
              "fieldId": "garage",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.garage }}"
            },
            {
              "fieldId": "stories",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.stories }}"
            },
            {
              "fieldId": "realtor_dwelling_type",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.type }}"
            },
            {
              "fieldId": "realtor_last_sold_date",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.last_sold_date }}"
            },
            {
              "fieldId": "realtor_last_sold_price",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.last_sold_price }}"
            },
            {
              "fieldId": "realtor_list_price",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.list_price }}"
            },
            {
              "fieldId": "address_neighborhood",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.neighborhoods[0].name }}"
            },
            {
              "fieldId": "coord_lat",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.coordinate.lat }}"
            },
            {
              "fieldId": "coord_lng",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.coordinate.lon }}"
            },
            {
              "fieldId": "prop_size_outside",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.lot_sqft }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "timestamp_created",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "last_edited_by",
              "fieldValue": "={{ $('Scrape Microservice').item.json.user }}"
            },
            {
              "fieldId": "scrape_source",
              "fieldValue": "Realtor.com"
            },
            {
              "fieldId": "timestamp_scraped",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "realtor_desc",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.text }}"
            },
            {
              "fieldId": "address_neighborhood",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.neighborhoods[0].name }}"
            },
            {
              "fieldId": "is_contingent",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_contingent }}"
            },
            {
              "fieldId": "is_foreclosure",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_foreclosure }}"
            },
            {
              "fieldId": "is_pending",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_pending }}"
            },
            {
              "fieldId": "is_short_sale",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_short_sale }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -220,
        320
      ],
      "id": "49dfba4d-1c0f-459e-99c4-1a52e3a718d3",
      "name": "Update Property",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if (Object.keys(items[0].json).length === 0) {\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: 0,\n\t\t}\n\t}\n]\n}\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: items.length,\n\t\t}\n\t}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        140
      ],
      "id": "70545f2d-1648-42b4-b5c8-cbb65c121aaa",
      "name": "Count"
    },
    {
      "parameters": {
        "url": "https://realtor-search.p.rapidapi.com/properties/detail-url",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.scrape_url }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "realtor-search.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "6ba3b66dbamshc1928a7b00fd64bp146222jsn36479c7c5a77"
            },
            {
              "name": "Host",
              "value": "realtor-search.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "id": "dca5a573-d65f-4433-9b6c-275e02625a68",
      "name": "Scrape Rapid API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1120,
        140
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function extractImageUrls() {\n    try {\n        const scrapeData = $('Scrape Rapid API').all();\n        \n        // Check if all required properties exist in the path\n        if (!scrapeData?.[0]?.json?.data?.initialReduxState?.propertyDetails?.photos) {\n            return []; // Return empty array if photos don't exist\n        }\n        \n        const photos = scrapeData[0].json.data.initialReduxState.propertyDetails.photos;\n        return photos.map(photo => ({\n            href: photo.href\n        }));\n    } catch (error) {\n        // Return empty array in case of any errors\n        return [];\n    }\n}\n\nreturn extractImageUrls();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -40
      ],
      "id": "6ecc0441-b42c-4410-8838-7871a45502c7",
      "name": "Extract Image URLs",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "tableId": "properties_media",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "fk_property_id",
              "fieldValue": "={{ $('Create Property').item.json.id }}"
            },
            {
              "fieldId": "media_url_scraped",
              "fieldValue": "={{ $json.href }}"
            },
            {
              "fieldId": "media_type",
              "fieldValue": "photo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        220,
        -40
      ],
      "id": "9f87f0b7-738b-4d7f-baf8-92b2780a8eec",
      "name": "Insert Photos",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1340,
        140
      ],
      "id": "f73dc483-0bd5-4596-a565-b85bd6af9a3e",
      "name": "Scrape Microservice"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties_scrape_log",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Scrape Microservice').item.json.scrape_log_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "success",
              "fieldValue": "={{ \"TRUE\" }}"
            },
            {
              "fieldId": "error_desc",
              "fieldValue": "=Existing record updated"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        320
      ],
      "id": "f77fa921-5035-4b9e-87ea-c3b0fe6f4205",
      "name": "Update Scrape Log",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "# Inputs\nscrape_url\nuser (email)\nscrape_log_id"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1660,
        120
      ],
      "typeVersion": 1,
      "id": "1928987c-0446-4391-ab46-cf85c81031b4",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Scrape Microservice": [
      {
        "json": {
          "scrape_url": "https://www.realtor.com/realestateandhomes-detail/5888-Marin-Dr_Toledo_OH_43613_M35177-32046?from=srp-list-card",
          "user": "alex+dev@imposbl.com",
          "scrape_log_id": "148"
        }
      }
    ],
    "Create Property": [
      {
        "json": {
          "id": 607,
          "address_street": "5888 Marin Dr",
          "address_city": "Toledo",
          "address_state": "OH",
          "address_zip": "43613",
          "prop_size_inside": 2330,
          "prop_year": 1993,
          "county_parcel": null,
          "county_tract": null,
          "prop_heating_type_air": null,
          "prop_cooking_type": null,
          "prop_heating_type_water": null,
          "property_status": "New",
          "realtor_id": 3517732046,
          "realtor_url": "https://www.realtor.com/realestateandhomes-detail/5888-Marin-Dr_Toledo_OH_43613_M35177-32046",
          "realtor_status": "for_sale",
          "beds": 3,
          "baths": 3,
          "garage": 2,
          "stories": 2,
          "realtor_desc": "Welcome to this spacious 3 bed/2.5 bath home located in Washington Local School District with over 2300 sq ft of living space. Featuring a huge remodeled kitchen with tons of cabinets with an island and quartz counters. First floor primary bedroom with a fully remodeled en suite with large double shower, double vanity with quartz, abundant cabinets & huge walk in closet. Dining room and family room with cathedral ceiling and fireplace and hardwood floors. Upper bedrooms feature huge walk-in closets and attic access. Family/Living room has access to new concrete patio. Full finished basement.",
          "realtor_dwelling_type": "single_family",
          "realtor_last_sold_date": "2015-12-31",
          "realtor_last_sold_price": 190000,
          "realtor_list_price": 325000,
          "address_neighborhood": "Whitmer-Trilby",
          "coord_lat": 41.723915,
          "coord_lng": -83.592005,
          "prop_size_outside": 8777,
          "timestamp_updated": "2025-01-16T16:13:58.565+00:00",
          "timestamp_created": "2025-01-16T16:13:58.565+00:00",
          "timestamp_followup": null,
          "starred": false,
          "last_edited_by": "alex+dev@imposbl.com",
          "followup_notes": null,
          "scrape_source": "Realtor.com",
          "offer_price": null,
          "timestamp_scraped": "2025-01-16T16:13:58.565+00:00",
          "is_off_market": null,
          "is_contingent": null,
          "is_foreclosure": null,
          "is_pending": null,
          "is_short_sale": null
        }
      }
    ],
    "Scrape Rapid API": [
      {
        "json": {
          "data": {
            "initialReduxState": {
              "query": {
                "from": "srp-list-card",
                "slug": [
                  "5888-Marin-Dr_Toledo_OH_43613_M35177-32046"
                ]
              },
              "claimModal": {
                "trigger": null,
                "initialView": null,
                "visible": false,
                "property": null,
                "currentView": null
              },
              "loading": {
                "claimLoading": false,
                "unclaimLoading": false,
                "nearbyHomesLoading": true,
                "nearbyRentalsLoading": true,
                "otherBuildingHomesLoading": true,
                "nhCarouselLoading": true
              },
              "communityDetails": {},
              "propertyDetails": {
                "mortgage": {
                  "property_tax_rate": 0.01494462,
                  "average_rates": [
                    {
                      "rate": 0.071,
                      "loan_type": {
                        "loan_id": "thirty_year_fix",
                        "is_va_loan": null,
                        "display_name": "30-year fixed",
                        "term": 30,
                        "__typename": "LoanType"
                      },
                      "__typename": "Rate"
                    },
                    {
                      "rate": 0.0698,
                      "loan_type": {
                        "loan_id": "twenty_year_fix",
                        "is_va_loan": null,
                        "display_name": "20-year fixed",
                        "term": 20,
                        "__typename": "LoanType"
                      },
                      "__typename": "Rate"
                    },
                    {
                      "rate": 0.06221,
                      "loan_type": {
                        "loan_id": "fifteen_year_fix",
                        "is_va_loan": null,
                        "display_name": "15-year fixed",
                        "term": 15,
                        "__typename": "LoanType"
                      },
                      "__typename": "Rate"
                    },
                    {
                      "rate": 0.06079,
                      "loan_type": {
                        "loan_id": "ten_year_fix",
                        "is_va_loan": null,
                        "display_name": "10-year fixed",
                        "term": 10,
                        "__typename": "LoanType"
                      },
                      "__typename": "Rate"
                    },
                    {
                      "rate": 0.065,
                      "loan_type": {
                        "loan_id": "thirty_year_fha",
                        "is_va_loan": null,
                        "display_name": "30-year fixed FHA",
                        "term": 30,
                        "__typename": "LoanType"
                      },
                      "__typename": "Rate"
                    },
                    {
                      "rate": 0.06513,
                      "loan_type": {
                        "loan_id": "thirty_year_va",
                        "is_va_loan": true,
                        "display_name": "30-year fixed VA",
                        "term": 30,
                        "__typename": "LoanType"
                      },
                      "__typename": "Rate"
                    },
                    {
                      "rate": 0.0695,
                      "loan_type": {
                        "loan_id": "five_one_arm",
                        "is_va_loan": null,
                        "display_name": "5-year ARM",
                        "term": 30,
                        "__typename": "LoanType"
                      },
                      "__typename": "Rate"
                    },
                    {
                      "rate": 0.06785,
                      "loan_type": {
                        "loan_id": "seven_one_arm",
                        "is_va_loan": null,
                        "display_name": "7-year ARM",
                        "term": 30,
                        "__typename": "LoanType"
                      },
                      "__typename": "Rate"
                    }
                  ],
                  "closing_cost": 13000,
                  "closing_cost_rate": "4%",
                  "due_at_close": 78000,
                  "insurance_rate": 0.003,
                  "county_fha_loan_limit": 498257,
                  "is_listing_price_eligible_for_fha": true,
                  "estimate": {
                    "monthly_payment": 2233,
                    "monthly_payment_details": [
                      {
                        "amount": 1747,
                        "display_name": "Principal & Interest",
                        "type": "principal_and_interest",
                        "__typename": "MonthlyOwnershipExpense"
                      },
                      {
                        "amount": 81,
                        "display_name": "Home Insurance",
                        "type": "home_insurance",
                        "__typename": "MonthlyOwnershipExpense"
                      },
                      {
                        "amount": 0,
                        "display_name": "HOA Fees",
                        "type": "hoa_fees",
                        "__typename": "MonthlyOwnershipExpense"
                      },
                      {
                        "amount": 0,
                        "display_name": "Mortgage Insurance",
                        "type": "mortgage_insurance",
                        "__typename": "MonthlyOwnershipExpense"
                      },
                      {
                        "amount": 405,
                        "display_name": "Property Tax",
                        "type": "property_tax",
                        "__typename": "MonthlyOwnershipExpense"
                      }
                    ],
                    "average_rate": {
                      "rate": 0.071,
                      "loan_type": {
                        "term": 30,
                        "__typename": "LoanType"
                      },
                      "__typename": "Rate"
                    },
                    "__typename": "MortgageEstimate"
                  },
                  "__typename": "Mortgage"
                },
                "advertisers": [
                  {
                    "team": null,
                    "state_license": "2004014532",
                    "address": {
                      "city": "TOLEDO",
                      "country": "US",
                      "line": "2570 GRELYN DR",
                      "postal_code": "43615",
                      "state": null,
                      "state_code": "OH",
                      "__typename": "AdvertiserAddress"
                    },
                    "builder": null,
                    "broker": null,
                    "email": "adortchgilbert@sbcglobal.net",
                    "fulfillment_id": "0",
                    "href": null,
                    "mls_set": "A-NWOH-1GILBEAL",
                    "name": "Alma Dortch-Gilbert",
                    "nrds_id": null,
                    "office": {
                      "address": {
                        "city": "TOLEDO",
                        "coordinate": {
                          "lat": null,
                          "lon": null,
                          "__typename": "SimpleCoordinate"
                        },
                        "country": "US",
                        "line": "601 PARKSIDE BLVD",
                        "postal_code": "43607-3854",
                        "state": null,
                        "state_code": "OH",
                        "__typename": "AdvertiserAddress"
                      },
                      "application_url": null,
                      "email": null,
                      "lead_email": null,
                      "fulfillment_id": "0",
                      "hours": null,
                      "href": null,
                      "mls_set": "O-NWOH-WHIT",
                      "out_of_community": null,
                      "name": "Whittington Group Realty",
                      "phones": [
                        {
                          "ext": null,
                          "number": "(419) 536-7377",
                          "primary": true,
                          "trackable": null,
                          "type": "Office",
                          "__typename": "AdvertiserPhone"
                        }
                      ],
                      "photo": null,
                      "slogan": null,
                      "__typename": "HomeAdvertiserOffice"
                    },
                    "phones": [
                      {
                        "ext": null,
                        "number": "(419) 297-2301",
                        "primary": true,
                        "trackable": null,
                        "type": "Mobile",
                        "__typename": "AdvertiserPhone"
                      }
                    ],
                    "photo": null,
                    "slogan": null,
                    "type": "seller",
                    "__typename": "HomeAdvertiser"
                  }
                ],
                "builder": null,
                "products": {
                  "product_attributes": {},
                  "products": [
                    "co_broke"
                  ],
                  "brand_name": "basic_opt_in",
                  "__typename": "ProductSummary"
                },
                "promotions": null,
                "consumer_advertisers": [
                  {
                    "advertiser_id": "",
                    "agent_id": null,
                    "broker_id": null,
                    "office_id": null,
                    "name": "Alma Dortch-Gilbert",
                    "type": "Agent",
                    "slogan": null,
                    "phone": null,
                    "href": null,
                    "show_realtor_logo": false,
                    "hours": null,
                    "contact_name": null,
                    "address": null,
                    "photo": {
                      "description": null,
                      "href": null,
                      "type": null,
                      "__typename": "Photo"
                    },
                    "__typename": "ConsumerAdvertiser"
                  },
                  {
                    "advertiser_id": "",
                    "agent_id": null,
                    "broker_id": null,
                    "office_id": null,
                    "name": "Whittington Group Realty",
                    "type": "Office",
                    "slogan": null,
                    "phone": "(419) 536-7377",
                    "href": null,
                    "show_realtor_logo": false,
                    "hours": null,
                    "contact_name": null,
                    "address": {
                      "city": "TOLEDO",
                      "state_code": "OH",
                      "__typename": "AdvertiserAddress"
                    },
                    "photo": {
                      "description": null,
                      "href": null,
                      "type": null,
                      "__typename": "Photo"
                    },
                    "__typename": "ConsumerAdvertiser"
                  }
                ],
                "buyers": null,
                "community": null,
                "days_on_market": null,
                "move_in_date": null,
                "description": {
                  "baths": 3,
                  "baths_3qtr": null,
                  "baths_full": 2,
                  "baths_half": 1,
                  "baths_max": null,
                  "baths_min": null,
                  "baths_total": null,
                  "baths_consolidated": "2.5",
                  "beds": 3,
                  "beds_max": null,
                  "beds_min": null,
                  "construction": null,
                  "cooling": null,
                  "exterior": null,
                  "fireplace": null,
                  "garage": 2,
                  "garage_max": null,
                  "garage_min": null,
                  "garage_type": null,
                  "heating": null,
                  "logo": null,
                  "lot_sqft": 8777,
                  "name": null,
                  "pool": null,
                  "roofing": null,
                  "rooms": null,
                  "sqft": 2330,
                  "sqft_max": null,
                  "sqft_min": null,
                  "stories": 2,
                  "styles": null,
                  "sub_type": null,
                  "text": "Welcome to this spacious 3 bed/2.5 bath home located in Washington Local School District with over 2300 sq ft of living space. Featuring a huge remodeled kitchen with tons of cabinets with an island and quartz counters. First floor primary bedroom with a fully remodeled en suite with large double shower, double vanity with quartz, abundant cabinets & huge walk in closet. Dining room and family room with cathedral ceiling and fireplace and hardwood floors. Upper bedrooms feature huge walk-in closets and attic access. Family/Living room has access to new concrete patio. Full finished basement.",
                  "type": "single_family",
                  "units": null,
                  "year_built": 1993,
                  "year_renovated": null,
                  "zoning": null,
                  "__typename": "HomeDescription"
                },
                "details": [
                  {
                    "category": "Bedrooms",
                    "parent_category": "Interior",
                    "text": [
                      "Bedrooms: 3",
                      "Primary Bedroom Dimensions: 14 x 14",
                      "Primary Bedroom Level: Main",
                      "Primary Bedroom Features: Primary Bedroom"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Other Rooms",
                    "parent_category": "Interior",
                    "text": [
                      "Total Rooms: 11",
                      "UtilityRoom: 10 x 6",
                      "UtilityRoom Level: Main",
                      "UtilityRoom Desc: Utl-Laundry",
                      "Bedroom: 15 x 13",
                      "Bedroom Level: Upper",
                      "Bedroom Desc: Bedroom",
                      "Bedroom: 14 x 10",
                      "Bedroom Level: Upper",
                      "Bedroom Desc: Bedroom",
                      "Basement Features: Finished Basement",
                      "Basement Dimensions: 26 x 34",
                      "Entry Foyer Dimensions: 12 x 9",
                      "Extra Room-3 Dimensions: 5 x 5",
                      "Family Room Dimensions: 15 x 13",
                      "Living Room Dimensions: 21 x 15",
                      "Entry Foyer Level: Main",
                      "Extra Room-3 Level: Main",
                      "Family Room Level: Main",
                      "Living Room Level: Main",
                      "Entry Foyer Features: Entry",
                      "Family Room Features: Family Room",
                      "Living Room Features: Living Room",
                      "Basement Description: Full, SumpPump"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Bathrooms",
                    "parent_category": "Interior",
                    "text": [
                      "Total Bathrooms: 3",
                      "Full Bathrooms: 2",
                      "1/2 Bathrooms: 1",
                      "Bathrooms On Main Level: 2"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Interior Features",
                    "parent_category": "Interior",
                    "text": [
                      "Attic",
                      "Bathtub",
                      "GasRangeConnection",
                      "BathInPrimaryBedroom",
                      "SeparateShower",
                      "CableTv"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Appliances",
                    "parent_category": "Interior",
                    "text": [
                      "Dishwasher",
                      "Disposal",
                      "GasWaterHeater",
                      "Microwave",
                      "Oven",
                      "Range",
                      "Refrigerator",
                      "Laundry Features: ElectricDryerHookup, GasDryerHookup, MainLevel"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Heating and Cooling",
                    "parent_category": "Interior",
                    "text": [
                      "Cooling Features: CentralAir",
                      "Fireplace Features: FamilyRoom, Gas",
                      "Heating Features: ForcedAir, NaturalGas",
                      "Heating: Yes"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Kitchen and Dining",
                    "parent_category": "Interior",
                    "text": [
                      "Dining Room Dimensions: 13 x 11",
                      "Dining Room Features: Dining Room",
                      "Dining Room Level: Main",
                      "Kitchen Dimensions: 13 x 11",
                      "Kitchen Features: Kitchen",
                      "Kitchen Level: Main"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Exterior and Lot Features",
                    "parent_category": "Exterior",
                    "text": [
                      "SprinklerIrrigation",
                      "Patio And Porch Features: Deck, Patio"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Land Info",
                    "parent_category": "Exterior",
                    "text": [
                      "Lot Description: RectangularLot",
                      "Lot Size Acres: 0.2015",
                      "Lot Size Dimensions: 8, 777",
                      "Lot Size Square Feet: 8777"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Garage and Parking",
                    "parent_category": "Exterior",
                    "text": [
                      "Garage Spaces: 2",
                      "Other Parking: Attached, Garage",
                      "Parking Features: Attached, Concrete, Driveway, Garage, GarageDoorOpener",
                      "Parking Total: 2"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Homeowners Association",
                    "parent_category": "Community",
                    "text": [
                      "Association: No",
                      "Calculated Total Monthly Association Fees: 0"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "School Information",
                    "parent_category": "Community",
                    "text": [
                      "Elementary School: Meadowvale",
                      "Elementary School District: Washington",
                      "High School: Whitmer",
                      "High School District: Washington",
                      "Middle or Junior School District: Washington"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Other Property Info",
                    "parent_category": "Listing",
                    "text": [
                      "Source Listing Status: Coming Soon",
                      "County: Lucas",
                      "Directions: Alexis to Recamper to Reinwood to Marin",
                      "Source Property Type: Residential",
                      "Home Warranty: Yes",
                      "Inclusions: ,",
                      "Source Neighborhood: Thousand Oaks",
                      "Parcel Number: 22-30497",
                      "Postal City: Toledo",
                      "Postal Code Plus 4: 5640",
                      "Subdivision: Thousand Oaks",
                      "Zoning Description: RES",
                      "Property Subtype: SingleFamilyResidence",
                      "Source System Name: C2C"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Building and Construction",
                    "parent_category": "Features",
                    "text": [
                      "Total Square Feet Living: 2330",
                      "Year Built: 1993",
                      "Construction Materials: Brick, VinylSiding",
                      "Foundation Details: Basement",
                      "Levels: Two",
                      "Living Area Source: PublicRecords",
                      "Property Age: 32",
                      "Roof: Shingle",
                      "Levels or Stories: 2",
                      "Architectural Style: Traditional, TwoStory"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Utilities",
                    "parent_category": "Features",
                    "text": [
                      "Electric: CircuitBreakers",
                      "Sewer: Sanitary",
                      "Water Source: Public"
                    ],
                    "__typename": "HomeDetails"
                  },
                  {
                    "category": "Home Features",
                    "parent_category": "Features",
                    "text": [
                      "Security Features: SecuritySystem"
                    ],
                    "__typename": "HomeDetails"
                  }
                ],
                "other_listings": {
                  "rdc": [
                    {
                      "listing_id": "2977305917",
                      "status": "for_sale",
                      "listing_key": null,
                      "sold_date": null,
                      "primary": true,
                      "unique": true,
                      "__typename": "HomeOtherListing"
                    },
                    {
                      "listing_id": "580377821",
                      "status": "off_market",
                      "listing_key": null,
                      "sold_date": null,
                      "primary": null,
                      "unique": null,
                      "__typename": "HomeOtherListing"
                    }
                  ],
                  "__typename": "HomeOtherListings"
                },
                "lead_attributes": {
                  "show_contact_an_agent": true,
                  "lead_type": "co_broke",
                  "market_type": "choice",
                  "show_lead_form": true,
                  "disclaimer_text": null,
                  "is_tcpa_message_enabled": null,
                  "show_text_leads": true,
                  "opcity_lead_attributes": {
                    "flip_the_market_enabled": false,
                    "phones": null,
                    "__typename": "OpCityLeadAttributes"
                  },
                  "ready_connect_mortgage": {
                    "show_contact_a_lender": true,
                    "show_veterans_united": true,
                    "__typename": "ReadyConnectMortgage"
                  },
                  "__typename": "LeadAttributes"
                },
                "flags": {
                  "is_coming_soon": true,
                  "is_contingent": null,
                  "is_foreclosure": null,
                  "is_new_construction": null,
                  "is_pending": null,
                  "is_subdivision": null,
                  "is_price_reduced": null,
                  "is_new_listing": true,
                  "is_short_sale": null,
                  "is_price_excludes_land": null,
                  "__typename": "HomeFlags"
                },
                "href": "https://www.realtor.com/realestateandhomes-detail/5888-Marin-Dr_Toledo_OH_43613_M35177-32046",
                "last_sold_date": "2015-12-31",
                "last_sold_price": 190000,
                "list_date": "2025-01-16T15:45:13Z",
                "list_price": 325000,
                "last_price_change_amount": null,
                "listing_id": "2977305917",
                "location": {
                  "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=5888%20Marin%20Dr%2C%20Toledo%2C%20OH%2043613&size=932x420&source=outdoor&signature=5hzW3q2uKkGU055GfOCQ-DiwKdQ=",
                  "street_view_metadata_url": "https://maps.googleapis.com/maps/api/streetview/metadata?channel=rdc-streetview&client=gme-movesalesinc&location=5888%20Marin%20Dr%2C%20Toledo%2C%20OH%2043613&size=640x480&source=outdoor&signature=P9k6EtvD17SqUVEvELj-Sa2xC7s=",
                  "address": {
                    "city": "Toledo",
                    "coordinate": {
                      "lat": 41.723915,
                      "lon": -83.592005,
                      "__typename": "HomeCoordinate"
                    },
                    "country": "USA",
                    "line": "5888 Marin Dr",
                    "postal_code": "43613",
                    "state": "Ohio",
                    "state_code": "OH",
                    "street_direction": null,
                    "street_name": "Marin",
                    "street_number": "5888",
                    "street_post_direction": null,
                    "street_suffix": "Dr",
                    "unit": null,
                    "validation_code": "121",
                    "__typename": "HomeAddress"
                  },
                  "county": {
                    "fips_code": "39095",
                    "name": "Lucas",
                    "state_code": "OH",
                    "__typename": "HomeCounty"
                  },
                  "neighborhoods": [
                    {
                      "city": "Toledo",
                      "id": "0c1a8ab8-1f51-587a-a2de-57c4da860622",
                      "level": "neighborhood",
                      "name": "Whitmer-Trilby",
                      "geo_type": "neighborhood",
                      "state_code": "OH",
                      "slug_id": "Whitmer-Trilby_Toledo_OH",
                      "geo_statistics": {
                        "housing_market": {
                          "median_listing_price": 154900,
                          "__typename": "HousingMarket"
                        },
                        "__typename": "GeoStatistics"
                      },
                      "boundary": {
                        "type": "Polygon",
                        "coordinates": [
                          [
                            [
                              -83.62459,
                              41.7281
                            ],
                            [
                              -83.61561,
                              41.72829
                            ],
                            [
                              -83.61556,
                              41.7286
                            ],
                            [
                              -83.60043,
                              41.72906
                            ],
                            [
                              -83.6003,
                              41.7249
                            ],
                            [
                              -83.59751,
                              41.7249
                            ],
                            [
                              -83.59741,
                              41.7248
                            ],
                            [
                              -83.59724,
                              41.7249
                            ],
                            [
                              -83.59526,
                              41.7249
                            ],
                            [
                              -83.5953,
                              41.72681
                            ],
                            [
                              -83.59502,
                              41.72773
                            ],
                            [
                              -83.59535,
                              41.72877
                            ],
                            [
                              -83.59519,
                              41.72909
                            ],
                            [
                              -83.59429,
                              41.7291
                            ],
                            [
                              -83.59415,
                              41.72922
                            ],
                            [
                              -83.59371,
                              41.72923
                            ],
                            [
                              -83.5935,
                              41.72904
                            ],
                            [
                              -83.59345,
                              41.72921
                            ],
                            [
                              -83.58484,
                              41.72932
                            ],
                            [
                              -83.58478,
                              41.72942
                            ],
                            [
                              -83.57618,
                              41.72961
                            ],
                            [
                              -83.57613,
                              41.72747
                            ],
                            [
                              -83.57501,
                              41.72737
                            ],
                            [
                              -83.57385,
                              41.72707
                            ],
                            [
                              -83.57338,
                              41.72685
                            ],
                            [
                              -83.57239,
                              41.72584
                            ],
                            [
                              -83.57234,
                              41.72147
                            ],
                            [
                              -83.5726,
                              41.72143
                            ],
                            [
                              -83.57261,
                              41.72073
                            ],
                            [
                              -83.57223,
                              41.70933
                            ],
                            [
                              -83.57194,
                              41.70796
                            ],
                            [
                              -83.57155,
                              41.70749
                            ],
                            [
                              -83.57092,
                              41.70709
                            ],
                            [
                              -83.58449,
                              41.70675
                            ],
                            [
                              -83.59509,
                              41.70681
                            ],
                            [
                              -83.60449,
                              41.70651
                            ],
                            [
                              -83.62373,
                              41.70629
                            ],
                            [
                              -83.62459,
                              41.7281
                            ]
                          ]
                        ]
                      },
                      "__typename": "Neighborhood"
                    }
                  ],
                  "search_areas": [
                    {
                      "city": "toledo",
                      "state_code": "oh",
                      "__typename": "SearchArea"
                    }
                  ],
                  "city": {
                    "county_needed_for_uniq": false,
                    "slug_id": "Toledo_OH",
                    "__typename": "City"
                  },
                  "postal_code": {
                    "geo_statistics": {
                      "housing_market": {
                        "hot_market_badge": "Other",
                        "__typename": "HousingMarket"
                      },
                      "__typename": "GeoStatistics"
                    },
                    "__typename": "PostalCode"
                  },
                  "__typename": "HomeLocation"
                },
                "open_houses": null,
                "permalink": "5888-Marin-Dr_Toledo_OH_43613_M35177-32046",
                "photo_count": 39,
                "photos": [
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1159110216s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "house_view",
                        "__typename": "Tag"
                      },
                      {
                        "label": "patio",
                        "__typename": "Tag"
                      },
                      {
                        "label": "complete",
                        "__typename": "Tag"
                      },
                      {
                        "label": "front",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m435335498s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "house_view",
                        "__typename": "Tag"
                      },
                      {
                        "label": "back_side",
                        "__typename": "Tag"
                      },
                      {
                        "label": "complete",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m4231072111s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "house_view",
                        "__typename": "Tag"
                      },
                      {
                        "label": "road",
                        "__typename": "Tag"
                      },
                      {
                        "label": "complete",
                        "__typename": "Tag"
                      },
                      {
                        "label": "front",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2968633623s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "house_view",
                        "__typename": "Tag"
                      },
                      {
                        "label": "porch",
                        "__typename": "Tag"
                      },
                      {
                        "label": "front",
                        "__typename": "Tag"
                      },
                      {
                        "label": "incomplete",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3414179267s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "other_interiors",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3746478107s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "other_interiors",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3623399756s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "living_room",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2177635117s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "living_room",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1432318997s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "living_room",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2925791458s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "dining_room",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3748347238s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "dining_room",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1607734112s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "kitchen",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m123527343s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "kitchen",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2462367415s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "kitchen",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1854408700s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "kitchen",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1668320294s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "living_room",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3422959617s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "living_room",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1071343307s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "bathroom",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m4107094554s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "bathroom",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3469389783s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "utility_room",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m712242224s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "bedroom",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m435744612s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "bedroom",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3517515880s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "closet",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m390227981s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "bathroom",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2749914740s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "bathroom",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1177863862s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "bathroom",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1699499799s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "other_interiors",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3739773179s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "bedroom",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m448052362s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "bedroom",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m303207644s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "utility_room",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3992319701s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "utility_room",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1950499250s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "bedroom",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3456079256s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "bedroom",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m789958512s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "recreation_room",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m348458054s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "recreation_room",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m378252179s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "recreation_room",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m184865950s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "house_view",
                        "__typename": "Tag"
                      },
                      {
                        "label": "yard",
                        "__typename": "Tag"
                      },
                      {
                        "label": "back_side",
                        "__typename": "Tag"
                      },
                      {
                        "label": "complete",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m420986951s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "house_view",
                        "__typename": "Tag"
                      },
                      {
                        "label": "back_side",
                        "__typename": "Tag"
                      },
                      {
                        "label": "complete",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  },
                  {
                    "title": null,
                    "description": null,
                    "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2144351292s.jpg",
                    "type": "realtordotcom_mls_listing_image",
                    "tags": [
                      {
                        "label": "house_view",
                        "__typename": "Tag"
                      },
                      {
                        "label": "patio",
                        "__typename": "Tag"
                      },
                      {
                        "label": "porch",
                        "__typename": "Tag"
                      },
                      {
                        "label": "back_side",
                        "__typename": "Tag"
                      },
                      {
                        "label": "complete",
                        "__typename": "Tag"
                      }
                    ],
                    "__typename": "HomePhoto"
                  }
                ],
                "price_per_sqft": 139,
                "primary_photo": {
                  "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1159110216s.jpg",
                  "__typename": "HomePhoto"
                },
                "hoa": {
                  "fee": 0,
                  "__typename": "HomeHOA"
                },
                "property_id": "3517732046",
                "provider_url": null,
                "source": {
                  "days_on_mls": null,
                  "agents": [
                    {
                      "agent_id": "1GILBEAL",
                      "agent_name": "Alma Dortch-gilbert",
                      "agent_email": null,
                      "agent_phone": null,
                      "id": "NWOH",
                      "office_id": "WHIT",
                      "office_name": "Whittington Group Realty",
                      "office_phone": "4195367377",
                      "type": "seller",
                      "__typename": "MlsAgent"
                    }
                  ],
                  "disclaimer": {
                    "href": null,
                    "logo": null,
                    "text": "2025  Northwest Ohio REALTORS / Northwest Ohio RE Info System. All rights reserved.",
                    "__typename": "MlsDisclaimer"
                  },
                  "copyrightnotice": null,
                  "id": "NWOH",
                  "plan_id": null,
                  "listing_id": "6125014",
                  "name": "NWOhio",
                  "raw": {
                    "status": "Coming Soon",
                    "style": null,
                    "tax_amount": null,
                    "__typename": "MlsRawData"
                  },
                  "type": "mls",
                  "community_id": null,
                  "__typename": "MlsSource"
                },
                "status": "for_sale",
                "suppression_flags": {
                  "has_suppress_foreclosure": true
                },
                "tags": [
                  "central_air",
                  "community_outdoor_space",
                  "community_security_features",
                  "dining_room",
                  "dishwasher",
                  "family_room",
                  "fireplace",
                  "forced_air",
                  "laundry_room",
                  "basement",
                  "two_or_more_stories",
                  "garage_1_or_more",
                  "garage_2_or_more",
                  "updated_kitchen",
                  "modern_kitchen",
                  "large_kitchen",
                  "cathedral_ceiling",
                  "ensuite"
                ],
                "__typename": "Home"
              },
              "homesAroundData": [],
              "homesAroundValueData": [],
              "nearbyRentalsData": [],
              "recentlySoldData": [],
              "homesWithPoolsData": [],
              "schoolsData": [],
              "editorsPicks": [],
              "clientDetails": {
                "ip": "10.205.69.146",
                "deviceType": "mobile",
                "userAgent": "rdc_mobile_native,89.56.12,android"
              },
              "slug": "5888-Marin-Dr_Toledo_OH_43613_M35177-32046",
              "housingMarketDetails": {
                "isLoading": true
              },
              "nearbyGeos": {
                "isLoading": true
              },
              "experiments": {},
              "featureFlags": {},
              "fullscreen": null,
              "ctaModal": null,
              "streetViewAvailable": {
                "isLoading": true,
                "isStreetViewAvailable": false
              },
              "tabbedModal": {
                "type": "propertyDetails",
                "visible": false,
                "view": 0
              },
              "leadModal": {
                "type": null,
                "visible": false
              },
              "spotOffer": {},
              "phaseOneCompleted": true,
              "csrFetchesCompleted": false,
              "neighborhoodMarketTrendsData": null,
              "pageType": "LDP",
              "heroActiveSlide": 0,
              "emailSuccess": null,
              "spotOfferState": {
                "isLoading": false
              },
              "scrolledAccordion": {
                "sectionName": ""
              },
              "floorPlanModalState": null,
              "showShareModal": false,
              "showBuilderPromotionModal": false,
              "upNestParams": {},
              "isUpNestEligible": false,
              "similarHomesData": [],
              "similarHomesImpressionToken": [],
              "masonWebModalState": null,
              "modals": {
                "addToCalendar": {
                  "isVisible": false,
                  "date": ""
                },
                "requestPrivateShowing": {
                  "isVisible": false
                },
                "anchorShareModal": {
                  "isVisible": false
                },
                "movingQuoteModal": {
                  "isVisible": false
                },
                "ctaModal": {
                  "isVisible": false
                }
              },
              "popularSearches": [],
              "nearbyHomesForMap": [],
              "noiseData": false,
              "floodData": null,
              "wildfireData": null,
              "heatData": null,
              "airData": null,
              "windData": null,
              "locationScoresData": null,
              "heroMapPreview": {},
              "isSpa": false,
              "isNeighborhoodMapVisible": false,
              "otherBuildingHomesData": [],
              "floorplanDefaultSubTab": null,
              "homeSavesData": false,
              "cdpFullscreenLeftLeadFormHidden": false,
              "petFriendlyRentalsData": [],
              "rentalsWithGymData": [],
              "rentalsWithUnitLaundryData": [],
              "homesWithSimilarPaymentData": [],
              "rentSpecialsData": [],
              "similarNcCarouselData": [],
              "photoGalleryCurrentTabContent": "photos",
              "movingCostEstimate": {
                "distance": 0,
                "from": {
                  "city": "",
                  "postal_code": "",
                  "state_code": ""
                },
                "price_estimate": {
                  "max": "",
                  "min": ""
                },
                "to": {
                  "city": "",
                  "postal_code": "",
                  "state_code": ""
                },
                "weight": {
                  "max": 0,
                  "min": 0
                }
              },
              "nearbyRentalsForMap": [],
              "movingCostCalculatorModalState": {
                "moveSize": "",
                "showModal": false
              },
              "similarNcHomesImpressionToken": [],
              "rentalsPMCWebsiteData": [],
              "gameGenieOverrides": {},
              "officeHoursModal": null,
              "propertyEstimates": {},
              "galleryRecommendedSimilarHomesData": [],
              "rentalsTopRealEstateMarkets": [],
              "freeMovingQuoteModalStep": 1,
              "isChatBotOpen": false,
              "showListingActionSavePrompt": false,
              "showGallerySavePrompt": false,
              "isPromotedListing": false,
              "rentSpecialModal": false,
              "thankYouEmailLeadModal": false,
              "availApplicationModal": {
                "show": false,
                "isStickyFooter": false,
                "isGalleryApplication": false
              },
              "environmentDetails": {
                "isLoading": true
              },
              "rentalsRecommendations": [],
              "rentalsDynamicOfficeHours": {},
              "isGuidedSearchModalOpen": false,
              "augmentedGalleryCategory": {
                "photo_categories": [
                  {
                    "key": "all_photos",
                    "category": "All Photos",
                    "detailedText": null,
                    "photoCount": 39,
                    "photos": [
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1159110216s.jpg",
                        "tag": "front",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m435335498s.jpg",
                        "tag": "house_view",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m4231072111s.jpg",
                        "tag": "house_view",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2968633623s.jpg",
                        "tag": "porch",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3414179267s.jpg",
                        "tag": "other_interiors",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3746478107s.jpg",
                        "tag": "other_interiors",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3623399756s.jpg",
                        "tag": "living_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2177635117s.jpg",
                        "tag": "living_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1432318997s.jpg",
                        "tag": "living_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2925791458s.jpg",
                        "tag": "dining_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3748347238s.jpg",
                        "tag": "dining_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1607734112s.jpg",
                        "tag": "kitchen",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m123527343s.jpg",
                        "tag": "kitchen",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2462367415s.jpg",
                        "tag": "kitchen",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1854408700s.jpg",
                        "tag": "kitchen",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1668320294s.jpg",
                        "tag": "living_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3422959617s.jpg",
                        "tag": "living_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1071343307s.jpg",
                        "tag": "bathroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m4107094554s.jpg",
                        "tag": "bathroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3469389783s.jpg",
                        "tag": "utility_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m712242224s.jpg",
                        "tag": "bedroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m435744612s.jpg",
                        "tag": "bedroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3517515880s.jpg",
                        "tag": "closet",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m390227981s.jpg",
                        "tag": "bathroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2749914740s.jpg",
                        "tag": "bathroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1177863862s.jpg",
                        "tag": "bathroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1699499799s.jpg",
                        "tag": "other_interiors",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3739773179s.jpg",
                        "tag": "bedroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m448052362s.jpg",
                        "tag": "bedroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m303207644s.jpg",
                        "tag": "utility_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3992319701s.jpg",
                        "tag": "utility_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1950499250s.jpg",
                        "tag": "bedroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3456079256s.jpg",
                        "tag": "bedroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m789958512s.jpg",
                        "tag": "recreation_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m348458054s.jpg",
                        "tag": "recreation_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m378252179s.jpg",
                        "tag": "recreation_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m184865950s.jpg",
                        "tag": "house_view",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m420986951s.jpg",
                        "tag": "house_view",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2144351292s.jpg",
                        "tag": "back_side",
                        "__typename": "PhotoTag"
                      }
                    ],
                    "__typename": "PhotoCategories"
                  },
                  {
                    "key": "bedroom",
                    "category": "Bedroom",
                    "detailedText": [
                      {
                        "subCategory": "Bedrooms",
                        "text": [
                          "Bedrooms: 3",
                          "Primary Bedroom Dimensions: 14 x 14",
                          "Primary Bedroom Level: Main",
                          "Primary Bedroom Features: Primary Bedroom"
                        ],
                        "__typename": "DetailedText"
                      }
                    ],
                    "photoCount": 6,
                    "photos": [
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m712242224s.jpg",
                        "tag": "bedroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m435744612s.jpg",
                        "tag": "bedroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3739773179s.jpg",
                        "tag": "bedroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m448052362s.jpg",
                        "tag": "bedroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1950499250s.jpg",
                        "tag": "bedroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3456079256s.jpg",
                        "tag": "bedroom",
                        "__typename": "PhotoTag"
                      }
                    ],
                    "__typename": "PhotoCategories"
                  },
                  {
                    "key": "bathroom",
                    "category": "Bathroom",
                    "detailedText": [
                      {
                        "subCategory": "Bathrooms",
                        "text": [
                          "Total Bathrooms: 3",
                          "Full Bathrooms: 2",
                          "1/2 Bathrooms: 1",
                          "Bathrooms On Main Level: 2"
                        ],
                        "__typename": "DetailedText"
                      }
                    ],
                    "photoCount": 5,
                    "photos": [
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1071343307s.jpg",
                        "tag": "bathroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m4107094554s.jpg",
                        "tag": "bathroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m390227981s.jpg",
                        "tag": "bathroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2749914740s.jpg",
                        "tag": "bathroom",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1177863862s.jpg",
                        "tag": "bathroom",
                        "__typename": "PhotoTag"
                      }
                    ],
                    "__typename": "PhotoCategories"
                  },
                  {
                    "key": "exterior",
                    "category": "Exterior",
                    "detailedText": [
                      {
                        "subCategory": "Exterior and Lot Features",
                        "text": [
                          "SprinklerIrrigation",
                          "Patio And Porch Features: Deck, Patio"
                        ],
                        "__typename": "DetailedText"
                      }
                    ],
                    "photoCount": 5,
                    "photos": [
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m435335498s.jpg",
                        "tag": "house_view",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m4231072111s.jpg",
                        "tag": "house_view",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2968633623s.jpg",
                        "tag": "porch",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m184865950s.jpg",
                        "tag": "house_view",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m420986951s.jpg",
                        "tag": "house_view",
                        "__typename": "PhotoTag"
                      }
                    ],
                    "__typename": "PhotoCategories"
                  },
                  {
                    "key": "living_room",
                    "category": "Living room",
                    "detailedText": [
                      {
                        "subCategory": "Other Rooms",
                        "text": [
                          "Total Rooms: 11",
                          "UtilityRoom: 10 x 6",
                          "UtilityRoom Level: Main",
                          "UtilityRoom Desc: Utl-Laundry",
                          "Bedroom: 15 x 13",
                          "Bedroom Level: Upper",
                          "Bedroom Desc: Bedroom",
                          "Bedroom: 14 x 10",
                          "Bedroom Level: Upper",
                          "Bedroom Desc: Bedroom",
                          "Basement Features: Finished Basement",
                          "Basement Dimensions: 26 x 34",
                          "Entry Foyer Dimensions: 12 x 9",
                          "Extra Room-3 Dimensions: 5 x 5",
                          "Family Room Dimensions: 15 x 13",
                          "Living Room Dimensions: 21 x 15",
                          "Entry Foyer Level: Main",
                          "Extra Room-3 Level: Main",
                          "Family Room Level: Main",
                          "Living Room Level: Main",
                          "Entry Foyer Features: Entry",
                          "Family Room Features: Family Room",
                          "Living Room Features: Living Room",
                          "Basement Description: Full, SumpPump"
                        ],
                        "__typename": "DetailedText"
                      }
                    ],
                    "photoCount": 5,
                    "photos": [
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3623399756s.jpg",
                        "tag": "living_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2177635117s.jpg",
                        "tag": "living_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1432318997s.jpg",
                        "tag": "living_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1668320294s.jpg",
                        "tag": "living_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3422959617s.jpg",
                        "tag": "living_room",
                        "__typename": "PhotoTag"
                      }
                    ],
                    "__typename": "PhotoCategories"
                  },
                  {
                    "key": "kitchen",
                    "category": "Kitchen",
                    "detailedText": [
                      {
                        "subCategory": "Kitchen and Dining",
                        "text": [
                          "Dining Room Dimensions: 13 x 11",
                          "Dining Room Features: Dining Room",
                          "Dining Room Level: Main",
                          "Kitchen Dimensions: 13 x 11",
                          "Kitchen Features: Kitchen",
                          "Kitchen Level: Main"
                        ],
                        "__typename": "DetailedText"
                      }
                    ],
                    "photoCount": 4,
                    "photos": [
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1607734112s.jpg",
                        "tag": "kitchen",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m123527343s.jpg",
                        "tag": "kitchen",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2462367415s.jpg",
                        "tag": "kitchen",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1854408700s.jpg",
                        "tag": "kitchen",
                        "__typename": "PhotoTag"
                      }
                    ],
                    "__typename": "PhotoCategories"
                  },
                  {
                    "key": "dining_room",
                    "category": "Dining room",
                    "detailedText": null,
                    "photoCount": 2,
                    "photos": [
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2925791458s.jpg",
                        "tag": "dining_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3748347238s.jpg",
                        "tag": "dining_room",
                        "__typename": "PhotoTag"
                      }
                    ],
                    "__typename": "PhotoCategories"
                  },
                  {
                    "key": "more",
                    "category": "More",
                    "detailedText": [
                      {
                        "subCategory": "Garage and Parking",
                        "text": [
                          "Garage Spaces: 2",
                          "Other Parking: Attached, Garage",
                          "Parking Features: Attached, Concrete, Driveway, Garage, GarageDoorOpener",
                          "Parking Total: 2"
                        ],
                        "__typename": "DetailedText"
                      }
                    ],
                    "photoCount": 12,
                    "photos": [
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1159110216s.jpg",
                        "tag": "front",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3414179267s.jpg",
                        "tag": "other_interiors",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3746478107s.jpg",
                        "tag": "other_interiors",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3469389783s.jpg",
                        "tag": "utility_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3517515880s.jpg",
                        "tag": "closet",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m1699499799s.jpg",
                        "tag": "other_interiors",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m303207644s.jpg",
                        "tag": "utility_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m3992319701s.jpg",
                        "tag": "utility_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m789958512s.jpg",
                        "tag": "recreation_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m348458054s.jpg",
                        "tag": "recreation_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m378252179s.jpg",
                        "tag": "recreation_room",
                        "__typename": "PhotoTag"
                      },
                      {
                        "href": "https://ap.rdcpix.com/b38cad0ad5fd677028fd459cfd8a929cl-m2144351292s.jpg",
                        "tag": "back_side",
                        "__typename": "PhotoTag"
                      }
                    ],
                    "__typename": "PhotoCategories"
                  }
                ],
                "__typename": "HomePhotoCategories"
              },
              "propertyAndTaxHistory": {},
              "rentalsApplicationEligibilityStatus": "BLOCKED",
              "nearbyHomesValuesTableData": [],
              "virtualToursData": {},
              "floorplanInteractive": [],
              "communityPlanSpec": {},
              "spotOfferEvaluationData": null,
              "consentingParties": {},
              "corporationCustomerSet": {},
              "scheduleATourData": null,
              "isLTKTeamsEligible": false,
              "upnestAutomatchLiteData": {},
              "rmnAgent": {}
            },
            "query": {
              "from": "srp-list-card",
              "slug": [
                "5888-Marin-Dr_Toledo_OH_43613_M35177-32046"
              ]
            },
            "geo": {
              "geoDetails": {
                "area_type": "postal_code",
                "city": "Toledo",
                "state_id": "OH",
                "state_code": "OH",
                "postal_code": "43613",
                "slug_id": "43613"
              }
            },
            "appShellProps": {
              "shouldBrazeLoad": true,
              "hoistAdsLibraryProps": {
                "pageType": "LDP",
                "tag": "defer"
              },
              "pageName": "LDP",
              "hideFooter": true,
              "headerProps": {
                "isFullWidth": false
              },
              "savedPropertiesProps": {
                "pageLimit": 1000
              },
              "appContextProps": {
                "userAgent": "rdc_mobile_native,89.56.12,android"
              }
            },
            "deviceType": "mobile",
            "userAgent": "rdc_mobile_native,89.56.12,android",
            "env": "production",
            "cdnEnv": "prod",
            "globalHoldoutTrackId": "GHFY25Q1:V1",
            "tempFlags": {
              "isApolloEnabled": true,
              "isApolloEnabledSRP": true
            }
          },
          "status": true,
          "message": "Successful"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-16T15:30:08.032Z",
      "updatedAt": "2025-01-16T15:30:08.032Z",
      "id": "s9eEaRLrT4Knsh6d",
      "name": "microservice"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-16T17:19:39.356Z",
  "versionId": "56d8a86f-079c-46ba-8864-f6bdc5f87dc1"
}