workflows/MICRO - Upload photos.json
{
  "active": false,
  "connections": {
    "upload photos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image from Realtor.com": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [
          {
            "node": "Update property media table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract URL": {
      "main": [
        [
          {
            "node": "create media record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "extract URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update property media table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create media record": {
      "main": [
        [
          {
            "node": "error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image from Realtor.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-23T23:51:20.935Z",
  "id": "fAKNIRVusSsHh3Vc",
  "meta": null,
  "name": "MICRO - Upload photos",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        -20
      ],
      "id": "3e86dcf8-94e1-444b-afc4-f7e466e2c69c",
      "name": "upload photos"
    },
    {
      "parameters": {
        "content": "## Inputs\nurl\nproperty_id",
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -380,
        -40
      ],
      "typeVersion": 1,
      "id": "6e06c181-5e80-4e6b-9400-14a686d5f3d7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "={{ $json.media_url_scraped }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -20
      ],
      "id": "d500ec69-7c2c-437a-b0ee-6257042b14fd",
      "name": "Get Image from Realtor.com",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qyyyacmhcwqdxqnhgqmr.supabase.co/storage/v1/object/properties/{{ $('Filter').item.json.property_id }}/photos/{{ $('create media record').item.json.id }}.jpeg",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -20
      ],
      "id": "f9da7fa9-c33e-48a6-a3f4-3f4927885470",
      "name": "Upload to Supabase Storage",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties_media",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('create media record').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "storage_url",
              "fieldValue": "=https://qyyyacmhcwqdxqnhgqmr.supabase.co/storage/v1/object/public/{{ $json.Key }}"
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $('Filter').item.json.property_id }}"
            },
            {
              "fieldId": "media_type",
              "fieldValue": "photo"
            },
            {
              "fieldId": "storage_url",
              "fieldValue": "=https://qyyyacmhcwqdxqnhgqmr.supabase.co/storage/v1/object/public/{{ $json.Key }}"
            },
            {
              "fieldId": "storage_id",
              "fieldValue": "={{ $json.Id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1760,
        -20
      ],
      "id": "c5dffc42-65e1-404c-8e8a-851365bd0b57",
      "name": "Update property media table",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b348f47c-89ad-4eff-9ed2-f7ef420779d0",
              "name": "url",
              "value": "={{ $input.first().json.values()[0].match(/.+\\.com\\/[\\d\\w]+-m\\d+/)[0] }}o.jpg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -20
      ],
      "id": "260325ac-162a-4612-8bd4-9fc30d2194d1",
      "name": "extract URL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "15ff9868-039b-449d-a2d0-47a10cd94dd2",
              "leftValue": "={{ $json.url }}",
              "rightValue": "rdcpix\\.com",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "9d30cad2-6563-4a36-b6c2-17169c8e7ee8",
              "leftValue": "={{ $json.property_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        380,
        -20
      ],
      "id": "c00a8a43-ad4d-45ce-9236-fc585d622fe9",
      "name": "Filter"
    },
    {
      "parameters": {
        "tableId": "properties_media",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $('Filter').item.json.property_id }}"
            },
            {
              "fieldId": "media_url_scraped",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "media_type",
              "fieldValue": "photo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        820,
        -20
      ],
      "id": "492a2acb-a849-4954-848b-1fd0d61019fc",
      "name": "create media record",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Rent Ready Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        160,
        -20
      ],
      "id": "289f1ef4-deef-4115-b6c1-fb6e07399eed",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3b5ec5ae-d550-4d6b-8c37-2cac889ddcad",
              "leftValue": "={{ $json.hasField('error') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        -20
      ],
      "id": "d7cee6d8-a6ec-4c5b-bba1-88bbf52ebaae",
      "name": "error?"
    }
  ],
  "pinData": {
    "upload photos": [
      {
        "json": {
          "url": "http://ap.rdcpix.com/859d0aa6b99434c2c6775c0aff5ed09fl-m3838807998od-w480_h360_x2.webp",
          "property_id": 624
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-16T15:30:08.032Z",
      "updatedAt": "2025-01-16T15:30:08.032Z",
      "id": "s9eEaRLrT4Knsh6d",
      "name": "microservice"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-24T02:17:24.757Z",
  "versionId": "0ff17034-c5dc-4209-bd03-af9aeff476c9"
}