workflows/RR - Appsmith Scrape Triggers.json
{
  "active": true,
  "connections": {
    "validate URL": {
      "main": [
        [
          {
            "node": "Check if URL is in Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if URL is in Log": {
      "main": [
        [
          {
            "node": "Count1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appsmith Scrape Property": {
      "main": [
        [
          {
            "node": "Extract URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Scrape Log Entry": {
      "main": [
        [
          {
            "node": "Send these fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Create Scrape Log Entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send these fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get all statuses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appsmith Rescrape Queue": {
      "main": [
        [
          {
            "node": "Send these fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send these fields": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Success 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow2": {
      "main": [
        []
      ]
    },
    "Send these fields1": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all statuses": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Send these fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send these fields2": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL": {
      "main": [
        [
          {
            "node": "validate URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-10T21:40:49.082Z",
  "id": "BjDbNeD2OZXPsw3M",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RR - Appsmith Scrape Triggers",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ede02cb-3da8-4c6d-9409-2be082bdcf68",
              "leftValue": "={{ $json.scrape_url }}",
              "rightValue": "https://www.realtor.com/realestateandhomes-detail/",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -760,
        -620
      ],
      "id": "4a0f5309-12c7-498b-8280-21e4a8835abb",
      "name": "validate URL"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseKey": "Invalid Realtor.com URL"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -540,
        -420
      ],
      "id": "b5d18266-e130-40ba-a60c-3075ff9626f6",
      "name": "Error 400"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties_scrape_log",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "realtor_url",
              "condition": "ilike",
              "keyValue": "={{ $json.scrape_url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -540,
        -620
      ],
      "id": "6e11b654-83f6-4651-a950-ea8902a0134c",
      "name": "Check if URL is in Log",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if (Object.keys(items[0].json).length === 0) {\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: 0,\n\t\t}\n\t}\n]\n}\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: items.length,\n\t\t}\n\t}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -620
      ],
      "id": "044893cf-f5c5-4c95-a877-29cdf6313870",
      "name": "Count1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.results }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4493eb2d-184a-4f35-84c5-7511917267e2",
                    "leftValue": "={{ $json.results }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -100,
        -620
      ],
      "id": "f98a1e55-7016-4295-a537-ee8f2b986a3c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-property-by-url",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        -620
      ],
      "id": "07cfcb3d-a645-42b7-9d40-d2f513557809",
      "name": "Appsmith Scrape Property",
      "webhookId": "99326a1c-6822-47b3-99ce-00e411b5b4d0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4eZkdxpH9D6RopSj",
          "name": "RR Appsmith Header Auth"
        }
      },
      "notes": "Incoming webhook from appsmith. Used when adding a new property by Realtor URL."
    },
    {
      "parameters": {
        "tableId": "properties_scrape_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "realtor_url",
              "fieldValue": "={{ $('Appsmith Scrape Property').item.json.query.scrape_url.split(\"?\")[0] }}"
            },
            {
              "fieldId": "requested_by",
              "fieldValue": "={{ $('Appsmith Scrape Property').item.json.query.user }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        120,
        -760
      ],
      "id": "1978679d-b36a-4462-861c-f1b0a51be7ef",
      "name": "Create Scrape Log Entry",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "## Scrape queue list",
        "height": 180,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1500,
        -1020
      ],
      "typeVersion": 1,
      "id": "2461eca8-06f3-49bd-95f0-a65dadb142ed",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## User provided URL\nscrape_url (realtor.com)\nuser (email)",
        "height": 180,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1500,
        -660
      ],
      "typeVersion": 1,
      "id": "b074ad82-60ee-4557-bf59-c77d6fb7540d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "670b0bfb-28b9-4992-9d2e-931af9761bad",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        60
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "e7876259-444f-4a94-b17d-f2ee3ee11236",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        -140
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rescrape-property",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        -1000
      ],
      "id": "cadeaa97-2f80-4192-9f2a-28c6dbe3b63e",
      "name": "Appsmith Rescrape Queue",
      "webhookId": "99326a1c-6822-47b3-99ce-00e411b5b4d0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4eZkdxpH9D6RopSj",
          "name": "RR Appsmith Header Auth"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dk5zxWqa5hfdmlVn",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        560,
        -620
      ],
      "id": "9f6ebf27-5d60-4dec-b8b8-f658f3c66110",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45dbfad9-d585-4b44-91c3-bbbfbb3266da",
              "name": "scrape_url",
              "value": "={{ $('Extract URL').item.json.scrape_url }}",
              "type": "string"
            },
            {
              "id": "939ad8b2-b284-4abb-bc63-01c5dae388c7",
              "name": "user",
              "value": "={{ $('Appsmith Scrape Property').first().json.query.user }}",
              "type": "string"
            },
            {
              "id": "a9a6ccb3-41a1-4dfa-964a-05637d023c97",
              "name": "scrape_log_id",
              "value": "={{ $('Create Scrape Log Entry').isExecuted ? \n$('Create Scrape Log Entry').first().json.id : \n$('Check if URL is in Log').first().json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        -620
      ],
      "id": "e9ade47f-8ce5-426f-9f7e-b81b03064b6f",
      "name": "Send these fields",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        -620
      ],
      "id": "37b5efdd-87d0-4379-8e27-c2a761f417e6",
      "name": "Success 200"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dk5zxWqa5hfdmlVn",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -760,
        -1000
      ],
      "id": "7ab151c4-b361-4b37-a368-a06cdbda34e1",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45dbfad9-d585-4b44-91c3-bbbfbb3266da",
              "name": "scrape_url",
              "value": "={{ $json.query.scrape_url }}",
              "type": "string"
            },
            {
              "id": "939ad8b2-b284-4abb-bc63-01c5dae388c7",
              "name": "user",
              "value": "={{ $json.query.user }}",
              "type": "string"
            },
            {
              "id": "a9a6ccb3-41a1-4dfa-964a-05637d023c97",
              "name": "scrape_log_id",
              "value": "={{ $json.query.scrape_log_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -980,
        -1000
      ],
      "id": "3cbdf4d7-9c9d-4956-b496-65a6a1cfe253",
      "name": "Send these fields1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "options_property_status",
        "returnAll": true,
        "filterType": "none"
      },
      "id": "c4d4769b-0522-42ab-8342-19f28be37901",
      "name": "Get all statuses",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -960,
        -40
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Rent Ready Supabase"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "property_status",
              "condition": "eq",
              "keyValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -500,
        -40
      ],
      "id": "4040ad1c-e43d-44d1-8174-ebb56677fb9b",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Rent Ready Supabase"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "25d7bdce-9e62-4e8e-9efe-e80bfc822a94",
              "leftValue": "={{ $json.scrape }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -740,
        -40
      ],
      "id": "5c33b2ca-03ca-41c2-8ece-d91be592db30",
      "name": "Filter",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dk5zxWqa5hfdmlVn",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        100,
        -40
      ],
      "id": "d3f629f8-458b-4549-8a07-eeeafdcec4c3",
      "name": "Execute Workflow1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45dbfad9-d585-4b44-91c3-bbbfbb3266da",
              "name": "scrape_url",
              "value": "={{ $('Appsmith Scrape Property').first().json.query.scrape_url }}",
              "type": "string"
            },
            {
              "id": "939ad8b2-b284-4abb-bc63-01c5dae388c7",
              "name": "user",
              "value": "={{ $('Appsmith Scrape Property').first().json.query.user }}",
              "type": "string"
            },
            {
              "id": "a9a6ccb3-41a1-4dfa-964a-05637d023c97",
              "name": "scrape_log_id",
              "value": "={{ $('Create Scrape Log Entry').first().json.id ? $('Create Scrape Log Entry').first().json.id : $('Check if URL is in Log').first().json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        -40
      ],
      "id": "0aac8f2f-2039-4b5f-a1a3-afa87963e539",
      "name": "Send these fields2",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f28c42cc-04fb-41a0-9105-bc856e49fbec",
              "name": "scrape_url",
              "value": "={{ $json.query.scrape_url.match(/https:\\/\\/www\\.realtor\\.com\\/realestateandhomes-detail\\/[0-9a-zA-Z_-]+/)[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -980,
        -620
      ],
      "id": "3de277b6-4324-405f-b694-e804ec63aa61",
      "name": "Extract URL"
    }
  ],
  "pinData": {
    "Appsmith Rescrape Queue": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "ReactorNetty/1.1.22",
            "content-length": "0",
            "accept": "*/*",
            "accept-encoding": "gzip",
            "authorization": "hX1z652MRiuk0RI4HlzWVDBlUPWSwE0LdtKZiccG27YsOj378kKaDBsPGrFBkJ02",
            "content-type": "application/json",
            "x-forwarded-for": "34.82.107.46",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "HNK82d1GTEeINjDviYcZCg_2654280189",
            "x-real-ip": "34.82.107.46",
            "x-request-start": "1737049080685"
          },
          "params": {},
          "query": {
            "scrape_url": "https://www.realtor.com/realestateandhomes-detail/2034-Fernwood-Ave_Toledo_OH_43607_M42071-37462",
            "scrape_log_id": "144",
            "user": "alex+dev@imposbl.com"
          },
          "body": {},
          "webhookUrl": "https://imposbl.up.railway.app/webhook-test/rescrape-property",
          "executionMode": "test"
        }
      }
    ],
    "Appsmith Scrape Property": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "ReactorNetty/1.1.22",
            "content-length": "0",
            "accept": "*/*",
            "accept-encoding": "gzip",
            "authorization": "hX1z652MRiuk0RI4HlzWVDBlUPWSwE0LdtKZiccG27YsOj378kKaDBsPGrFBkJ02",
            "content-type": "application/json",
            "scrape_url": "",
            "user": "alex+dev@imposbl.com",
            "x-forwarded-for": "34.82.107.46",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "_Oc65snBRnuocsU6VxEYpg_3167001623",
            "x-real-ip": "34.82.107.46",
            "x-request-start": "1737556914616"
          },
          "params": {},
          "query": {
            "scrape_url": "{}testhttps://www.realtor.com/realestateandhomes-detail/1011-E-Manhattan-Blvd_Toledo_OH_43608_M36487-44579?from=srp-list-card, hello",
            "user": "alex+dev@imposbl.com"
          },
          "body": {},
          "webhookUrl": "https://imposbl.up.railway.app/webhook/scrape-property-by-url",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-01-16T15:30:13.763Z",
      "updatedAt": "2025-01-16T15:30:13.763Z",
      "id": "QPciqp9Oaqj30b6L",
      "name": "trigger"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-01-22T15:52:06.263Z",
  "versionId": "33d7a0d9-3271-4a2f-abf1-d9f7b7412005"
}