workflows/RR - Scrape Trigger.json
{
  "active": true,
  "connections": {
    "validate URL": {
      "main": [
        [
          {
            "node": "Check if URL is in Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if URL is in Log": {
      "main": [
        [
          {
            "node": "Count1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appsmith Scrape Property": {
      "main": [
        [
          {
            "node": "validate URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Scrape Log Entry": {
      "main": [
        [
          {
            "node": "Send these fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Create Scrape Log Entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send these fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape via Rapid API": {
      "main": [
        [
          {
            "node": "Create Property1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Log Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Property1": {
      "main": [
        [
          {
            "node": "Scrape Log Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Log Success1": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get properties with statuses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Rapid API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appsmith Rescrape Queue": {
      "main": [
        [
          {
            "node": "Send these fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get properties with statuses": {
      "main": [
        []
      ]
    },
    "Send these fields": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Success 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow2": {
      "main": [
        []
      ]
    },
    "Send these fields1": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-10T21:40:49.082Z",
  "id": "BjDbNeD2OZXPsw3M",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RR - Scrape Trigger",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ede02cb-3da8-4c6d-9409-2be082bdcf68",
              "leftValue": "={{ $json.query.url }}",
              "rightValue": "https://www.realtor.com/realestateandhomes-detail/",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -980,
        -620
      ],
      "id": "4a0f5309-12c7-498b-8280-21e4a8835abb",
      "name": "validate URL"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseKey": "Invalid Realtor.com URL"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -760,
        -420
      ],
      "id": "b5d18266-e130-40ba-a60c-3075ff9626f6",
      "name": "Error 400"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties_scrape_log",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "realtor_url",
              "condition": "ilike",
              "keyValue": "={{ $json.query.url.split(\"?\")[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -760,
        -620
      ],
      "id": "6e11b654-83f6-4651-a950-ea8902a0134c",
      "name": "Check if URL is in Log",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if (Object.keys(items[0].json).length === 0) {\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: 0,\n\t\t}\n\t}\n]\n}\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: items.length,\n\t\t}\n\t}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        -620
      ],
      "id": "044893cf-f5c5-4c95-a877-29cdf6313870",
      "name": "Count1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.results }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4493eb2d-184a-4f35-84c5-7511917267e2",
                    "leftValue": "={{ $json.results }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        -620
      ],
      "id": "f98a1e55-7016-4295-a537-ee8f2b986a3c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-property-by-url",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        -620
      ],
      "id": "07cfcb3d-a645-42b7-9d40-d2f513557809",
      "name": "Appsmith Scrape Property",
      "webhookId": "99326a1c-6822-47b3-99ce-00e411b5b4d0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4eZkdxpH9D6RopSj",
          "name": "RR Appsmith Header Auth"
        }
      },
      "notes": "Incoming webhook from appsmith. Used when adding a new property by Realtor URL."
    },
    {
      "parameters": {
        "tableId": "properties_scrape_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "realtor_url",
              "fieldValue": "={{ $('Appsmith Scrape Property').item.json.query.url.split(\"?\")[0] }}"
            },
            {
              "fieldId": "requested_by",
              "fieldValue": "={{ $('Appsmith Scrape Property').item.json.query.user }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -20,
        -700
      ],
      "id": "1978679d-b36a-4462-861c-f1b0a51be7ef",
      "name": "Create Scrape Log Entry",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties_scrape_log",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Appsmith Rescrape Queue').item.json.query.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "success",
              "fieldValue": "=FALSE"
            },
            {
              "fieldId": "error_desc",
              "fieldValue": "={{ $json.error.code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        -1140
      ],
      "id": "09162bc4-571b-47ec-b935-a6a4473675d9",
      "name": "Scrape Log Error1",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://realtor-search.p.rapidapi.com/properties/detail-url",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.query.url }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "realtor-search.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "6ba3b66dbamshc1928a7b00fd64bp146222jsn36479c7c5a77"
            },
            {
              "name": "Host",
              "value": "realtor-search.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "id": "74b4b0d7-6902-4900-9e12-26414b56c43f",
      "name": "Scrape via Rapid API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        -1240
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "properties",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "prop_size_inside",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.sqft }}"
            },
            {
              "fieldId": "prop_year",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.year_built }}"
            },
            {
              "fieldId": "realtor_id",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.property_id }}"
            },
            {
              "fieldId": "realtor_url",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.href }}"
            },
            {
              "fieldId": "realtor_status",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.status }}"
            },
            {
              "fieldId": "beds",
              "fieldValue": "={{ $json.data.initialReduxState.propertyDetails.description.beds }}"
            },
            {
              "fieldId": "baths",
              "fieldValue": "={{ $json.data.initialReduxState.propertyDetails.description.baths }}"
            },
            {
              "fieldId": "garage",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.garage }}"
            },
            {
              "fieldId": "stories",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.stories }}"
            },
            {
              "fieldId": "realtor_dwelling_type",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.type }}"
            },
            {
              "fieldId": "realtor_last_sold_date",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.last_sold_date }}"
            },
            {
              "fieldId": "realtor_last_sold_price",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.last_sold_price }}"
            },
            {
              "fieldId": "realtor_list_price",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.list_price }}"
            },
            {
              "fieldId": "address_neighborhood",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.location.neighborhoods[0].name }}"
            },
            {
              "fieldId": "coord_lat",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.coordinate.lat }}"
            },
            {
              "fieldId": "coord_lng",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.coordinate.lon }}"
            },
            {
              "fieldId": "prop_size_outside",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.lot_sqft }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "timestamp_created",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "last_edited_by",
              "fieldValue": "={{ $('Appsmith Rescrape Queue').item.json.query.user }}"
            },
            {
              "fieldId": "scrape_source",
              "fieldValue": "Realtor.com"
            },
            {
              "fieldId": "timestamp_scraped",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "realtor_desc",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.text }}"
            },
            {
              "fieldId": "address_neighborhood",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.location.neighborhoods[0].name }}"
            },
            {
              "fieldId": "is_contingent",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_contingent }}"
            },
            {
              "fieldId": "is_foreclosure",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_foreclosure }}"
            },
            {
              "fieldId": "is_pending",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_pending }}"
            },
            {
              "fieldId": "is_short_sale",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_short_sale }}"
            },
            {
              "fieldId": "address_street",
              "fieldValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.line }}"
            },
            {
              "fieldId": "address_city",
              "fieldValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.city }}"
            },
            {
              "fieldId": "address_state",
              "fieldValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.state_code }}"
            },
            {
              "fieldId": "address_zip",
              "fieldValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.postal_code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        -1360
      ],
      "id": "b711baca-0e48-4a28-ae20-725d37ec966f",
      "name": "Create Property1",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties_scrape_log",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Appsmith Rescrape Queue').item.json.query.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "success",
              "fieldValue": "={{ \"TRUE\" }}"
            },
            {
              "fieldId": "error_desc",
              "fieldValue": "=Existing record updated"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        620,
        -1360
      ],
      "id": "cd496abc-d554-42c6-beb1-39d4b225662f",
      "name": "Scrape Log Success1",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Scrape queue list",
        "height": 180,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1500,
        -1020
      ],
      "typeVersion": 1,
      "id": "2461eca8-06f3-49bd-95f0-a65dadb142ed",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## User provided URL",
        "height": 180,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1500,
        -660
      ],
      "typeVersion": 1,
      "id": "b074ad82-60ee-4557-bf59-c77d6fb7540d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Scrape existing property",
        "height": 180,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1500,
        -1420
      ],
      "typeVersion": 1,
      "id": "0e609cca-a8de-4e12-8278-428d0df96911",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rescrape-property",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        -1400
      ],
      "id": "fccbad1d-91dd-4b37-af54-417ca577f9fe",
      "name": "Appsmith Rescrape existing property",
      "webhookId": "99326a1c-6822-47b3-99ce-00e411b5b4d0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4eZkdxpH9D6RopSj",
          "name": "RR Appsmith Header Auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "670b0bfb-28b9-4992-9d2e-931af9761bad",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1000,
        80
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "limit": 2,
        "filters": {
          "conditions": [
            {
              "keyName": "fk_status_property",
              "condition": "ilike",
              "keyValue": "Monitor"
            },
            {
              "keyName": "fk_status_property",
              "condition": "ilike",
              "keyValue": "Walkthrough"
            },
            {
              "keyName": "fk_status_property",
              "condition": "ilike",
              "keyValue": "New"
            }
          ]
        }
      },
      "id": "c4d4769b-0522-42ab-8342-19f28be37901",
      "name": "get properties with statuses",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -780,
        80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://realtor-search.p.rapidapi.com/properties/detail-url",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "=https://www.realtor.com/realestateandhomes-detail/9899-Balfour-Rd_Detroit_MI_48224_M40857-01817"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "realtor-search.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "6ba3b66dbamshc1928a7b00fd64bp146222jsn36479c7c5a77"
            },
            {
              "name": "Host",
              "value": "realtor-search.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "id": "6af9e91c-e93f-4d1f-b89f-b0d73cbea517",
      "name": "Rapid API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1000,
        -140
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "e7876259-444f-4a94-b17d-f2ee3ee11236",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        -140
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rescrape-property",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        -1000
      ],
      "id": "cadeaa97-2f80-4192-9f2a-28c6dbe3b63e",
      "name": "Appsmith Rescrape Queue",
      "webhookId": "99326a1c-6822-47b3-99ce-00e411b5b4d0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4eZkdxpH9D6RopSj",
          "name": "RR Appsmith Header Auth"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dk5zxWqa5hfdmlVn",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        400,
        -560
      ],
      "id": "9f6ebf27-5d60-4dec-b8b8-f658f3c66110",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45dbfad9-d585-4b44-91c3-bbbfbb3266da",
              "name": "scrape_url",
              "value": "={{ $('Appsmith Scrape Property').first().json.query.url }}",
              "type": "string"
            },
            {
              "id": "939ad8b2-b284-4abb-bc63-01c5dae388c7",
              "name": "user",
              "value": "={{ $('Appsmith Scrape Property').first().json.query.user }}",
              "type": "string"
            },
            {
              "id": "a9a6ccb3-41a1-4dfa-964a-05637d023c97",
              "name": "scrape_log_id",
              "value": "={{ $('Create Scrape Log Entry').first().json.id ? $('Create Scrape Log Entry').first().json.id : $('Check if URL is in Log').first().json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        -560
      ],
      "id": "e9ade47f-8ce5-426f-9f7e-b81b03064b6f",
      "name": "Send these fields"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        620,
        -560
      ],
      "id": "37b5efdd-87d0-4379-8e27-c2a761f417e6",
      "name": "Success 200"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dk5zxWqa5hfdmlVn",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -760,
        -1000
      ],
      "id": "7ab151c4-b361-4b37-a368-a06cdbda34e1",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45dbfad9-d585-4b44-91c3-bbbfbb3266da",
              "name": "scrape_url",
              "value": "={{ $json.query.url }}",
              "type": "string"
            },
            {
              "id": "939ad8b2-b284-4abb-bc63-01c5dae388c7",
              "name": "user",
              "value": "={{ $json.query.user }}",
              "type": "string"
            },
            {
              "id": "a9a6ccb3-41a1-4dfa-964a-05637d023c97",
              "name": "scrape_log_id",
              "value": "={{ $json.query.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -980,
        -1000
      ],
      "id": "3cbdf4d7-9c9d-4956-b496-65a6a1cfe253",
      "name": "Send these fields1"
    }
  ],
  "pinData": {
    "Appsmith Rescrape existing property": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "ReactorNetty/1.1.22",
            "content-length": "0",
            "accept": "*/*",
            "accept-encoding": "gzip",
            "authorization": "hX1z652MRiuk0RI4HlzWVDBlUPWSwE0LdtKZiccG27YsOj378kKaDBsPGrFBkJ02",
            "content-type": "application/json",
            "x-forwarded-for": "34.82.107.46",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "VLuIQCUGT4SVWgfoKia7Cw_603909319",
            "x-real-ip": "34.82.107.46",
            "x-request-start": "1736995316083"
          },
          "params": {},
          "query": {
            "url": "https://www.realtor.com/realestateandhomes-detail/5702-Angola-Rd-Lot-173_Toledo_OH_43615_M38845-45301?from=srp-list-card",
            "id": "134",
            "user": "alex+dev@imposbl.com"
          },
          "body": {},
          "webhookUrl": "https://imposbl.up.railway.app/webhook/rescrape-property",
          "executionMode": "production"
        }
      }
    ],
    "Appsmith Rescrape Queue": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "ReactorNetty/1.1.22",
            "content-length": "0",
            "accept": "*/*",
            "accept-encoding": "gzip",
            "authorization": "hX1z652MRiuk0RI4HlzWVDBlUPWSwE0LdtKZiccG27YsOj378kKaDBsPGrFBkJ02",
            "content-type": "application/json",
            "x-forwarded-for": "34.82.107.46",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "rpCAzkouS1CxsKiX5MsMjw_3167001623",
            "x-real-ip": "34.82.107.46",
            "x-request-start": "1737039761012"
          },
          "params": {},
          "query": {
            "url": "https://www.realtor.com/realestateandhomes-detail/2034-Fernwood-Ave_Toledo_OH_43607_M42071-37462",
            "id": "144",
            "user": "alex+dev@imposbl.com"
          },
          "body": {},
          "webhookUrl": "https://imposbl.up.railway.app/webhook/rescrape-property",
          "executionMode": "production"
        }
      }
    ],
    "Appsmith Scrape Property": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "ReactorNetty/1.1.22",
            "content-length": "0",
            "accept": "*/*",
            "accept-encoding": "gzip",
            "authorization": "hX1z652MRiuk0RI4HlzWVDBlUPWSwE0LdtKZiccG27YsOj378kKaDBsPGrFBkJ02",
            "content-type": "application/json",
            "x-forwarded-for": "34.82.107.46",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "RGDRO3VkQp2Dx6RFUXnj1g_3485859946",
            "x-real-ip": "34.82.107.46",
            "x-request-start": "1737043962275"
          },
          "params": {},
          "query": {
            "url": "https://www.realtor.com/realestateandhomes-detail/5888-Marin-Dr_Toledo_OH_43613_M35177-32046?from=srp-list-card",
            "user": "alex+dev@imposbl.com"
          },
          "body": {},
          "webhookUrl": "https://imposbl.up.railway.app/webhook-test/scrape-property-by-url",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-01-16T15:30:13.763Z",
      "updatedAt": "2025-01-16T15:30:13.763Z",
      "id": "QPciqp9Oaqj30b6L",
      "name": "trigger"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-01-16T16:26:35.507Z",
  "versionId": "8e3a63c7-bbc3-43eb-8167-24d3bb53eefa"
}