workflows/RR - Supabase Triggers.json
{
  "active": true,
  "connections": {
    "created timestamp exists": {
      "main": [
        [],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compare data": {
      "main": [
        [
          {
            "node": "filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter": {
      "main": [
        [
          {
            "node": "Create change log record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Properties Table New Record": {
      "main": [
        [
          {
            "node": "tag: task_changelog2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compare data1": {
      "main": [
        [
          {
            "node": "filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter1": {
      "main": [
        [
          {
            "node": "Create change log record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Task Record": {
      "main": [
        [
          {
            "node": "tag: task_changelog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Property Record": {
      "main": [
        [
          {
            "node": "tag: task_changelog1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New photo to save": {
      "main": [
        [
          {
            "node": "tag: update_media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image from Realtor.com": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag: update_media": {
      "main": [
        [
          {
            "node": "Get Image from Realtor.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [
          {
            "node": "Update property media table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag: task_changelog": {
      "main": [
        [
          {
            "node": "compare data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag: task_changelog1": {
      "main": [
        [
          {
            "node": "compare data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag: task_changelog2": {
      "main": [
        [
          {
            "node": "created timestamp exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-16T04:20:28.837Z",
  "id": "gVWCjB5Cq0kFBgzc",
  "meta": null,
  "name": "RR - Supabase Triggers",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.record.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "timestamp_created",
              "fieldValue": "={{ $json.body.record.timestamp_updated }}"
            }
          ]
        }
      },
      "id": "ccb91df1-6241-49de-9442-d478bdab8634",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        40,
        180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c513f015-0831-45a6-a5cb-c89110c34e41",
              "leftValue": "={{ $json.body.record.timestamp_created }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e52ed915-6354-4a62-9bb3-f303031d7530",
      "name": "created timestamp exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -400,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "0c08a069-17fd-46ce-9996-c8aa650e729e",
              "leftValue": "={{ $json.body.record.timestamp_created }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "080e053d-ba81-4840-bf45-8a7b541146dc",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        -180,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "function findDifferences(obj1, obj2) {\n  let differences = [];\n  \n  for (let key in obj1) {\n    if (JSON.stringify(obj1[key]) !== JSON.stringify(obj2[key])) {\n      differences.push({\n        isDifferent: true,\n        difference: key,\n        oldValue: obj2[key],\n        newValue: obj1[key]\n      });\n    }\n  }\n  \n  // Check for keys in obj2 that are not in obj1\n  for (let key in obj2) {\n    if (!(key in obj1)) {\n      differences.push({\n        isDifferent: true,\n        difference: key,\n        oldValue: obj2[key],\n        newValue: undefined\n      });\n    }\n  }\n  \n  return differences;\n}\n\n// Assuming the JSON objects are in $('Updated Property Record').all()[0].json.body\nconst newObject = $('Updated Property Record').all()[0].json.body.record;\nconst oldObject = $('Updated Property Record').all()[0].json.body.old_record;\n\nconst differences = findDifferences(newObject, oldObject);\n\n// Set the output to be an array of difference objects\nitems = differences.map(diff => ({ json: diff }));\n\nreturn items;"
      },
      "id": "57450246-8ae5-4482-8ada-41d26721f18c",
      "name": "compare data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "00f990c9-9187-4105-ad41-69a174a6145a",
              "leftValue": "={{ $json.isDifferent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "83c73ac8-f765-472b-a762-f308f787848e",
              "leftValue": "={{ $json.difference }}",
              "rightValue": "timestamp_created",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "f87b8385-75c8-420b-9c11-35b5c8b2a9be",
              "leftValue": "={{ $json.difference }}",
              "rightValue": "timestamp_updated",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "52b907a1-ac31-47d6-8131-143d7524d204",
              "leftValue": "={{ $json.difference }}",
              "rightValue": "last_edited_by",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9c229b94-2a15-499e-a793-2b470daab4df",
              "leftValue": "{{ $json.difference }}",
              "rightValue": "starred",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "317c4db7-99f3-4f61-9719-5c8732d5b122",
      "name": "filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        -180,
        500
      ]
    },
    {
      "parameters": {
        "content": "## New Property Created\n### Set created time to be same as updated time",
        "height": 145.62196438101526
      },
      "id": "4c550764-06ea-4b0e-853c-1e8ca69349ba",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1160,
        180
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Property Updated\n### Log all changes to properties_chagelog",
        "height": 145.62196438101526
      },
      "id": "85902611-c731-414c-92e7-3de78f1e6e23",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1160,
        480
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7965cf91-4238-4d08-85e7-0ebc776417e0",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "a52fba22-ea01-4fc8-8515-27ae579e2bbf",
      "name": "Properties Table New Record",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -840,
        180
      ],
      "webhookId": "7965cf91-4238-4d08-85e7-0ebc776417e0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk6V0TaWYGlLXgPM",
          "name": "Supabase Imposbl Header Auth"
        }
      }
    },
    {
      "parameters": {
        "tableId": "properties_changelog",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $('Updated Property Record').first().json.body.record.id }}"
            },
            {
              "fieldId": "updated_field",
              "fieldValue": "={{ $json.difference }}"
            },
            {
              "fieldId": "value_old",
              "fieldValue": "={{ $json.oldValue }}"
            },
            {
              "fieldId": "value_new",
              "fieldValue": "={{ $json.newValue }}"
            },
            {
              "fieldId": "updated_by",
              "fieldValue": "={{ $('Updated Property Record').first().json.body.old_record.last_edited_by }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $('Updated Property Record').item.json.body.record.timestamp_updated }}"
            }
          ]
        }
      },
      "id": "4e25c880-afb3-44b4-9058-5d12d2343fe9",
      "name": "Create change log record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        40,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function findDifferences(obj1, obj2) {\n  let differences = [];\n  \n  for (let key in obj1) {\n    if (JSON.stringify(obj1[key]) !== JSON.stringify(obj2[key])) {\n      differences.push({\n        isDifferent: true,\n        difference: key,\n        oldValue: obj2[key],\n        newValue: obj1[key]\n      });\n    }\n  }\n  \n  // Check for keys in obj2 that are not in obj1\n  for (let key in obj2) {\n    if (!(key in obj1)) {\n      differences.push({\n        isDifferent: true,\n        difference: key,\n        oldValue: obj2[key],\n        newValue: undefined\n      });\n    }\n  }\n  \n  return differences;\n}\n\n// Assuming the JSON objects are in $('Updated Task Record').all()[0].json.body\nconst newObject = $('Updated Task Record').all()[0].json.body.record;\nconst oldObject = $('Updated Task Record').all()[0].json.body.old_record;\n\nconst differences = findDifferences(newObject, oldObject);\n\n// Set the output to be an array of difference objects\nitems = differences.map(diff => ({ json: diff }));\n\nreturn items;"
      },
      "id": "16fd9d2b-ccd0-4c83-a880-b8ec2ed0b491",
      "name": "compare data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "00f990c9-9187-4105-ad41-69a174a6145a",
              "leftValue": "={{ $json.isDifferent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "83c73ac8-f765-472b-a762-f308f787848e",
              "leftValue": "={{ $json.difference }}",
              "rightValue": "timestamp_created",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "f87b8385-75c8-420b-9c11-35b5c8b2a9be",
              "leftValue": "={{ $json.difference }}",
              "rightValue": "timestamp_updated",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "52b907a1-ac31-47d6-8131-143d7524d204",
              "leftValue": "={{ $json.difference }}",
              "rightValue": "last_edited_by",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9c229b94-2a15-499e-a793-2b470daab4df",
              "leftValue": "{{ $json.difference }}",
              "rightValue": "starred",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2f311de-ded5-4087-8c71-bdec4ca43540",
      "name": "filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        -180,
        800
      ]
    },
    {
      "parameters": {
        "content": "## Task Updated\n### Log all changes to tasks_changelog",
        "height": 145.62196438101526
      },
      "id": "58f405c9-a553-4aaa-a2b3-32c50903e04a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1160,
        780
      ],
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "properties_changelog",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $('Updated Task Record').first().json.body.record.id }}"
            },
            {
              "fieldId": "updated_field",
              "fieldValue": "={{ $json.difference }}"
            },
            {
              "fieldId": "value_old",
              "fieldValue": "={{ $json.oldValue }}"
            },
            {
              "fieldId": "value_new",
              "fieldValue": "={{ $json.newValue }}"
            },
            {
              "fieldId": "updated_by",
              "fieldValue": "={{ $('Updated Task Record').first().json.body.old_record.last_edited_by }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $('Updated Task Record').item.json.body.record.timestamp_updated }}"
            }
          ]
        }
      },
      "id": "20d479f5-9da3-428f-b406-43174c997b98",
      "name": "Create change log record1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        40,
        800
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2ac3d1a9-7334-451c-aa4c-947182f598d5",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "e182b79b-d03e-480a-b1a7-2461583050bb",
      "name": "Updated Task Record",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -840,
        800
      ],
      "webhookId": "2ac3d1a9-7334-451c-aa4c-947182f598d5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk6V0TaWYGlLXgPM",
          "name": "Supabase Imposbl Header Auth"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2ac3d1a9-7334-451c-aa4c-947182f598d5",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "5d6c20f7-5faf-4e5f-852b-8f8dac08bc2b",
      "name": "Updated Property Record",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -840,
        500
      ],
      "webhookId": "2ac3d1a9-7334-451c-aa4c-947182f598d5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk6V0TaWYGlLXgPM",
          "name": "Supabase Imposbl Header Auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Photo to save\n### Triggered when supabase has a new row created in properties_media table. Take the external URL with a photo and save to supabase bucket",
        "height": 146,
        "width": 340
      },
      "id": "68418a95-a86e-41a5-8a3f-6bdaed718cb1",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1260,
        1060
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-photos",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "a06cf3cd-c462-403a-947f-959156e139d7",
      "name": "New photo to save",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -840,
        1080
      ],
      "webhookId": "2ac3d1a9-7334-451c-aa4c-947182f598d5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk6V0TaWYGlLXgPM",
          "name": "Supabase Imposbl Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.record.media_url_scraped.replace(/\\w\\.jpg/, 'rd-w2048_h1536.jpg') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        1080
      ],
      "id": "6b4c65b5-c5ac-4f67-b7ca-b6b914a79a90",
      "name": "Get Image from Realtor.com",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "workflow",
              "value": "update_media"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -620,
        1080
      ],
      "id": "e89d1817-bde6-4227-ae40-755ce147a616",
      "name": "tag: update_media"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qyyyacmhcwqdxqnhgqmr.supabase.co/storage/v1/object/properties/{{ $('New photo to save').first().json.body.record.property_id }}/{{ $('New photo to save').first().json.body.record.id }}.jpeg",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        1080
      ],
      "id": "f958315e-505a-4c88-89af-be066e14030b",
      "name": "Upload to Supabase Storage",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties_media",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get Image from Realtor.com').item.json.body.record.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "media_url",
              "fieldValue": "=https://qyyyacmhcwqdxqnhgqmr.supabase.co/storage/v1/object/public/{{ $json.Key }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        40,
        1080
      ],
      "id": "d5f88f37-0a40-4811-bbea-0fa4374975e5",
      "name": "Update property media table",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "workflow",
              "value": "task_changelog"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -620,
        800
      ],
      "id": "c09602b6-ef7c-41d0-9bd2-98cc17348cbd",
      "name": "tag: task_changelog"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "workflow",
              "value": "task_c"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -620,
        500
      ],
      "id": "c194264e-d0af-4af4-9fc4-78c18bc71537",
      "name": "tag: task_changelog1"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "workflow",
              "value": "task_d"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -620,
        180
      ],
      "id": "17962850-8455-490f-bf46-116b01eae1ae",
      "name": "tag: task_changelog2"
    }
  ],
  "pinData": {
    "Properties Table New Record": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "pg_net/0.7.1",
            "content-length": "917",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-for": "3.210.235.210",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "xOJsq2T3Q0GPJ-gFNqar7g_1002618245",
            "x-real-ip": "3.210.235.210",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "INSERT",
            "table": "properties",
            "record": {
              "id": 20,
              "beds": null,
              "sqft": null,
              "baths": null,
              "garage": null,
              "lot_sqf": null,
              "starred": false,
              "stories": null,
              "coord_lat": null,
              "coord_lng": null,
              "prop_size": null,
              "prop_year": null,
              "realtor_id": null,
              "year_built": null,
              "address_zip": null,
              "realtor_url": null,
              "address_city": null,
              "county_tract": null,
              "realtor_desc": null,
              "address_state": null,
              "county_parcel": null,
              "address_street": "12 test 34",
              "realtor_status": null,
              "prop_struc_type": null,
              "prop_cooking_type": null,
              "prop_heating_type": null,
              "timestamp_created": null,
              "timestamp_updated": null,
              "fk_status_property": "New",
              "realtor_list_price": null,
              "timestamp_followup": null,
              "address_neighborhood": null,
              "realtor_dwelling_type": null,
              "realtor_last_sold_date": null,
              "prop_water_heating_type": null,
              "realtor_last_sold_price": null
            },
            "schema": "public",
            "old_record": null
          },
          "webhookUrl": "https://imposbl.up.railway.app/webhook/7965cf91-4238-4d08-85e7-0ebc776417e0",
          "executionMode": "production"
        }
      }
    ],
    "Updated Task Record": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "pg_net/0.7.1",
            "content-length": "3563",
            "accept": "*/*",
            "authorization": "Bearer jpsK8t@SefRvRdt*yS3qG@nubYkmNFdyFlnO4I8VR3w32uBgasY^36xVuJ7LJfBG970A9lvGCMk#&i1x3HEFCBI7gAvaCkj9$0X",
            "content-type": "application/json",
            "x-forwarded-for": "3.210.235.210",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "g9qv8lLGQKak0uK6o1eahA_603524580",
            "x-real-ip": "3.210.235.210",
            "x-request-start": "1737130374147",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "UPDATE",
            "table": "properties",
            "record": {
              "id": 616,
              "beds": 3,
              "baths": 1,
              "garage": 2,
              "starred": false,
              "stories": 2,
              "coord_lat": 41.643614,
              "coord_lng": -83.584133,
              "prop_year": 1912,
              "is_pending": null,
              "realtor_id": 3026652828,
              "address_zip": "43607",
              "offer_price": null,
              "realtor_url": "https://www.realtor.com/realestateandhomes-detail/319-N-Detroit-Ave_Toledo_OH_43607_M30266-52828",
              "address_city": "Toledo",
              "county_tract": null,
              "realtor_desc": "Nice three bedroom home with large kitchen and first floor laundry! Enjoy evenings relaxing on the wonderful front porch. Backyard is partially fenced in with large 2 car garage. Exterior has been freshly painted. Partial basement provides space for extra storage. Nice sized bedrooms upstairs with additional walk-in attic space. Revamped Hamilton Park is right around the corner. Great starter home or add this one to your investment portfolio.",
              "address_state": "OH",
              "county_parcel": null,
              "is_contingent": null,
              "is_off_market": null,
              "is_short_sale": null,
              "scrape_source": "Realtor.com",
              "address_street": "319 N Detroit Ave",
              "followup_notes": "edit 7 testing the timestamp",
              "is_foreclosure": null,
              "last_edited_by": "alex+dev@imposbl.com",
              "realtor_status": "for_sale",
              "property_status": "Auction",
              "prop_size_inside": 1341,
              "prop_cooking_type": null,
              "prop_size_outside": 5101,
              "timestamp_created": "2025-01-16T22:56:48.606+00:00",
              "timestamp_scraped": "2025-01-16T22:56:48.606+00:00",
              "timestamp_updated": "2025-01-16T22:56:48.606+00:00",
              "realtor_list_price": 69900,
              "timestamp_followup": null,
              "address_neighborhood": "Onyx",
              "prop_heating_type_air": null,
              "realtor_dwelling_type": "single_family",
              "realtor_last_sold_date": "2012-03-01",
              "prop_heating_type_water": null,
              "realtor_last_sold_price": 2600
            },
            "schema": "public",
            "old_record": {
              "id": 616,
              "beds": 3,
              "baths": 1,
              "garage": 2,
              "starred": false,
              "stories": 2,
              "coord_lat": 41.643614,
              "coord_lng": -83.584133,
              "prop_year": 1912,
              "is_pending": null,
              "realtor_id": 3026652828,
              "address_zip": "43607",
              "offer_price": null,
              "realtor_url": "https://www.realtor.com/realestateandhomes-detail/319-N-Detroit-Ave_Toledo_OH_43607_M30266-52828",
              "address_city": "Toledo",
              "county_tract": null,
              "realtor_desc": "Nice three bedroom home with large kitchen and first floor laundry! Enjoy evenings relaxing on the wonderful front porch. Backyard is partially fenced in with large 2 car garage. Exterior has been freshly painted. Partial basement provides space for extra storage. Nice sized bedrooms upstairs with additional walk-in attic space. Revamped Hamilton Park is right around the corner. Great starter home or add this one to your investment portfolio.",
              "address_state": "OH",
              "county_parcel": null,
              "is_contingent": null,
              "is_off_market": null,
              "is_short_sale": null,
              "scrape_source": "Realtor.com",
              "address_street": "319 N Detroit Ave",
              "followup_notes": "edit 7 testing the timestamp",
              "is_foreclosure": null,
              "last_edited_by": "alex+dev@imposbl.com",
              "realtor_status": "for_sale",
              "property_status": "New",
              "prop_size_inside": 1341,
              "prop_cooking_type": null,
              "prop_size_outside": 5101,
              "timestamp_created": "2025-01-16T22:56:48.606+00:00",
              "timestamp_scraped": "2025-01-16T22:56:48.606+00:00",
              "timestamp_updated": "2025-01-16T22:56:48.606+00:00",
              "realtor_list_price": 69900,
              "timestamp_followup": null,
              "address_neighborhood": "Onyx",
              "prop_heating_type_air": null,
              "realtor_dwelling_type": "single_family",
              "realtor_last_sold_date": "2012-03-01",
              "prop_heating_type_water": null,
              "realtor_last_sold_price": 2600
            }
          },
          "webhookUrl": "https://imposbl.up.railway.app/webhook/2ac3d1a9-7334-451c-aa4c-947182f598d5",
          "executionMode": "production"
        }
      }
    ],
    "Updated Property Record": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "pg_net/0.7.1",
            "content-length": "3563",
            "accept": "*/*",
            "authorization": "Bearer jpsK8t@SefRvRdt*yS3qG@nubYkmNFdyFlnO4I8VR3w32uBgasY^36xVuJ7LJfBG970A9lvGCMk#&i1x3HEFCBI7gAvaCkj9$0X",
            "content-type": "application/json",
            "x-forwarded-for": "3.210.235.210",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "g9qv8lLGQKak0uK6o1eahA_603524580",
            "x-real-ip": "3.210.235.210",
            "x-request-start": "1737130374147",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "UPDATE",
            "table": "properties",
            "record": {
              "id": 616,
              "beds": 3,
              "baths": 1,
              "garage": 2,
              "starred": false,
              "stories": 2,
              "coord_lat": 41.643614,
              "coord_lng": -83.584133,
              "prop_year": 1912,
              "is_pending": null,
              "realtor_id": 3026652828,
              "address_zip": "43607",
              "offer_price": null,
              "realtor_url": "https://www.realtor.com/realestateandhomes-detail/319-N-Detroit-Ave_Toledo_OH_43607_M30266-52828",
              "address_city": "Toledo",
              "county_tract": null,
              "realtor_desc": "Nice three bedroom home with large kitchen and first floor laundry! Enjoy evenings relaxing on the wonderful front porch. Backyard is partially fenced in with large 2 car garage. Exterior has been freshly painted. Partial basement provides space for extra storage. Nice sized bedrooms upstairs with additional walk-in attic space. Revamped Hamilton Park is right around the corner. Great starter home or add this one to your investment portfolio.",
              "address_state": "OH",
              "county_parcel": null,
              "is_contingent": null,
              "is_off_market": null,
              "is_short_sale": null,
              "scrape_source": "Realtor.com",
              "address_street": "319 N Detroit Ave",
              "followup_notes": "edit 7 testing the timestamp",
              "is_foreclosure": null,
              "last_edited_by": "alex+dev@imposbl.com",
              "realtor_status": "for_sale",
              "property_status": "Auction",
              "prop_size_inside": 1341,
              "prop_cooking_type": null,
              "prop_size_outside": 5101,
              "timestamp_created": "2025-01-16T22:56:48.606+00:00",
              "timestamp_scraped": "2025-01-16T22:56:48.606+00:00",
              "timestamp_updated": "2025-01-16T22:56:48.606+00:00",
              "realtor_list_price": 69900,
              "timestamp_followup": null,
              "address_neighborhood": "Onyx",
              "prop_heating_type_air": null,
              "realtor_dwelling_type": "single_family",
              "realtor_last_sold_date": "2012-03-01",
              "prop_heating_type_water": null,
              "realtor_last_sold_price": 2600
            },
            "schema": "public",
            "old_record": {
              "id": 616,
              "beds": 3,
              "baths": 1,
              "garage": 2,
              "starred": false,
              "stories": 2,
              "coord_lat": 41.643614,
              "coord_lng": -83.584133,
              "prop_year": 1912,
              "is_pending": null,
              "realtor_id": 3026652828,
              "address_zip": "43607",
              "offer_price": null,
              "realtor_url": "https://www.realtor.com/realestateandhomes-detail/319-N-Detroit-Ave_Toledo_OH_43607_M30266-52828",
              "address_city": "Toledo",
              "county_tract": null,
              "realtor_desc": "Nice three bedroom home with large kitchen and first floor laundry! Enjoy evenings relaxing on the wonderful front porch. Backyard is partially fenced in with large 2 car garage. Exterior has been freshly painted. Partial basement provides space for extra storage. Nice sized bedrooms upstairs with additional walk-in attic space. Revamped Hamilton Park is right around the corner. Great starter home or add this one to your investment portfolio.",
              "address_state": "OH",
              "county_parcel": null,
              "is_contingent": null,
              "is_off_market": null,
              "is_short_sale": null,
              "scrape_source": "Realtor.com",
              "address_street": "319 N Detroit Ave",
              "followup_notes": "edit 7 testing the timestamp",
              "is_foreclosure": null,
              "last_edited_by": "alex+dev@imposbl.com",
              "realtor_status": "for_sale",
              "property_status": "New",
              "prop_size_inside": 1341,
              "prop_cooking_type": null,
              "prop_size_outside": 5101,
              "timestamp_created": "2025-01-16T22:56:48.606+00:00",
              "timestamp_scraped": "2025-01-16T22:56:48.606+00:00",
              "timestamp_updated": "2025-01-16T22:56:48.606+00:00",
              "realtor_list_price": 69900,
              "timestamp_followup": null,
              "address_neighborhood": "Onyx",
              "prop_heating_type_air": null,
              "realtor_dwelling_type": "single_family",
              "realtor_last_sold_date": "2012-03-01",
              "prop_heating_type_water": null,
              "realtor_last_sold_price": 2600
            }
          },
          "webhookUrl": "https://imposbl.up.railway.app/webhook/2ac3d1a9-7334-451c-aa4c-947182f598d5",
          "executionMode": "production"
        }
      }
    ],
    "New photo to save": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "pg_net/0.7.1",
            "content-length": "287",
            "accept": "*/*",
            "authorization": "Bearer jpsK8t@SefRvRdt*yS3qG@nubYkmNFdyFlnO4I8VR3w32uBgasY^36xVuJ7LJfBG970A9lvGCMk#&i1x3HEFCBI7gAvaCkj9$0X",
            "content-type": "application/json",
            "x-forwarded-for": "3.210.235.210",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "Ba--TAeQTW61QGLAPfdp1A_1002618245",
            "x-real-ip": "3.210.235.210",
            "x-request-start": "1737607945152",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "INSERT",
            "table": "properties_media",
            "record": {
              "id": 5726,
              "media_url": null,
              "created_at": "2025-01-23T04:52:24.598467+00:00",
              "media_type": "photo",
              "property_id": 616,
              "set_to_delete": null,
              "media_url_scraped": "realtor.com/test"
            },
            "schema": "public",
            "old_record": null
          },
          "webhookUrl": "https://imposbl.up.railway.app/webhook-test/update-photos",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2025-01-23T05:03:58.719Z",
  "versionId": "1d4b0c2e-a9f9-45f1-90f5-dd2775a0950a"
}