workflows/RR - Database Triggers.json
{
  "active": true,
  "connections": {
    "created timestamp exists": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compare data": {
      "main": [
        [
          {
            "node": "filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter": {
      "main": [
        [
          {
            "node": "Create notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Properties Table New Record": {
      "main": [
        [
          {
            "node": "created timestamp exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Properties - Updated Record": {
      "main": [
        [
          {
            "node": "compare data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-16T04:20:28.837Z",
  "id": "gVWCjB5Cq0kFBgzc",
  "meta": null,
  "name": "RR - Database Triggers",
  "nodes": [
    {
      "parameters": {},
      "id": "eff6f058-2f6d-4921-8125-a986d27b6b5c",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.record.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "timestamp_created",
              "fieldValue": "={{ $json.body.record.timestamp_updated }}"
            }
          ]
        }
      },
      "id": "ccb91df1-6241-49de-9442-d478bdab8634",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c513f015-0831-45a6-a5cb-c89110c34e41",
              "leftValue": "={{ $json.body.record.timestamp_created }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e52ed915-6354-4a62-9bb3-f303031d7530",
      "name": "created timestamp exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -620,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0c08a069-17fd-46ce-9996-c8aa650e729e",
              "leftValue": "={{ $json.body.record.timestamp_created }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "080e053d-ba81-4840-bf45-8a7b541146dc",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        -360,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "function findDifferences(obj1, obj2) {\n  let differences = [];\n  \n  for (let key in obj1) {\n    if (JSON.stringify(obj1[key]) !== JSON.stringify(obj2[key])) {\n      differences.push({\n        isDifferent: true,\n        difference: key,\n        oldValue: obj2[key],\n        newValue: obj1[key]\n      });\n    }\n  }\n  \n  // Check for keys in obj2 that are not in obj1\n  for (let key in obj2) {\n    if (!(key in obj1)) {\n      differences.push({\n        isDifferent: true,\n        difference: key,\n        oldValue: obj2[key],\n        newValue: undefined\n      });\n    }\n  }\n  \n  return differences;\n}\n\n// Assuming the JSON objects are in $('Properties - Updated Record').all()[0].json.body\nconst newObject = $('Properties - Updated Record').all()[0].json.body.record;\nconst oldObject = $('Properties - Updated Record').all()[0].json.body.old_record;\n\nconst differences = findDifferences(newObject, oldObject);\n\n// Set the output to be an array of difference objects\nitems = differences.map(diff => ({ json: diff }));\n\nreturn items;"
      },
      "id": "57450246-8ae5-4482-8ada-41d26721f18c",
      "name": "compare data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        520
      ]
    },
    {
      "parameters": {
        "tableId": "properties_changelog",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "fk_property_id",
              "fieldValue": "={{ $('Properties - Updated Record').first().json.body.record.id }}"
            },
            {
              "fieldId": "updated_field",
              "fieldValue": "={{ $json.difference }}"
            },
            {
              "fieldId": "value_old",
              "fieldValue": "={{ $json.oldValue }}"
            },
            {
              "fieldId": "value_new",
              "fieldValue": "={{ $json.newValue }}"
            },
            {
              "fieldId": "updated_by",
              "fieldValue": "={{ $('Properties - Updated Record').item.json.body.record.last_edited_by }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $('Properties - Updated Record').item.json.body.record.timestamp_updated }}"
            }
          ]
        }
      },
      "id": "4e25c880-afb3-44b4-9058-5d12d2343fe9",
      "name": "Create notification",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -180,
        520
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "00f990c9-9187-4105-ad41-69a174a6145a",
              "leftValue": "={{ $json.isDifferent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "83c73ac8-f765-472b-a762-f308f787848e",
              "leftValue": "={{ $json.difference }}",
              "rightValue": "timestamp_created",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "f87b8385-75c8-420b-9c11-35b5c8b2a9be",
              "leftValue": "={{ $json.difference }}",
              "rightValue": "timestamp_updated",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "52b907a1-ac31-47d6-8131-143d7524d204",
              "leftValue": "={{ $json.difference }}",
              "rightValue": "last_edited_by",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9c229b94-2a15-499e-a793-2b470daab4df",
              "leftValue": "{{ $json.difference }}",
              "rightValue": "starred",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "317c4db7-99f3-4f61-9719-5c8732d5b122",
      "name": "filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        -400,
        520
      ]
    },
    {
      "parameters": {
        "content": "## New Property Created\n### Set created time to be same as updated time",
        "height": 145.62196438101526
      },
      "id": "4c550764-06ea-4b0e-853c-1e8ca69349ba",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1160,
        100
      ]
    },
    {
      "parameters": {
        "content": "## Property Updated\n### Log all changes to properties_notifications",
        "height": 145.62196438101526
      },
      "id": "85902611-c731-414c-92e7-3de78f1e6e23",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1160,
        500
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7965cf91-4238-4d08-85e7-0ebc776417e0",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "a52fba22-ea01-4fc8-8515-27ae579e2bbf",
      "name": "Properties Table New Record",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -840,
        100
      ],
      "webhookId": "7965cf91-4238-4d08-85e7-0ebc776417e0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk6V0TaWYGlLXgPM",
          "name": "Supabase Imposbl Header Auth"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2ac3d1a9-7334-451c-aa4c-947182f598d5",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "5d6c20f7-5faf-4e5f-852b-8f8dac08bc2b",
      "name": "Properties - Updated Record",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -840,
        520
      ],
      "webhookId": "2ac3d1a9-7334-451c-aa4c-947182f598d5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk6V0TaWYGlLXgPM",
          "name": "Supabase Imposbl Header Auth"
        }
      }
    }
  ],
  "pinData": {
    "Properties Table New Record": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "pg_net/0.7.1",
            "content-length": "917",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-for": "3.210.235.210",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "xOJsq2T3Q0GPJ-gFNqar7g_1002618245",
            "x-real-ip": "3.210.235.210",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "INSERT",
            "table": "properties",
            "record": {
              "id": 20,
              "beds": null,
              "sqft": null,
              "baths": null,
              "garage": null,
              "lot_sqf": null,
              "starred": false,
              "stories": null,
              "coord_lat": null,
              "coord_lng": null,
              "prop_size": null,
              "prop_year": null,
              "realtor_id": null,
              "year_built": null,
              "address_zip": null,
              "realtor_url": null,
              "address_city": null,
              "county_tract": null,
              "realtor_desc": null,
              "address_state": null,
              "county_parcel": null,
              "address_street": "12 test 34",
              "realtor_status": null,
              "prop_struc_type": null,
              "prop_cooking_type": null,
              "prop_heating_type": null,
              "timestamp_created": null,
              "timestamp_updated": null,
              "fk_status_property": "New",
              "realtor_list_price": null,
              "timestamp_followup": null,
              "address_neighborhood": null,
              "realtor_dwelling_type": null,
              "realtor_last_sold_date": null,
              "prop_water_heating_type": null,
              "realtor_last_sold_price": null
            },
            "schema": "public",
            "old_record": null
          },
          "webhookUrl": "https://imposbl.up.railway.app/webhook/7965cf91-4238-4d08-85e7-0ebc776417e0",
          "executionMode": "production"
        }
      }
    ],
    "Properties - Updated Record": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "pg_net/0.7.1",
            "content-length": "2090",
            "accept": "*/*",
            "authorization": "Bearer jpsK8t@SefRvRdt*yS3qG@nubYkmNFdyFlnO4I8VR3w32uBgasY^36xVuJ7LJfBG970A9lvGCMk#&i1x3HEFCBI7gAvaCkj9$0X",
            "content-type": "application/json",
            "x-forwarded-for": "3.210.235.210",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "Zv59EdsWQ1GVfw43RVNDxQ_882434190",
            "x-real-ip": "3.210.235.210",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "UPDATE",
            "table": "properties",
            "record": {
              "id": 5,
              "beds": null,
              "sqft": null,
              "baths": null,
              "garage": null,
              "lot_sqf": null,
              "starred": true,
              "stories": null,
              "coord_lat": null,
              "coord_lng": null,
              "prop_size": 1350,
              "prop_year": null,
              "realtor_id": null,
              "year_built": null,
              "address_zip": "43612",
              "realtor_url": "https://www.realtor.com/realestateandhomes-detail/M4876359256",
              "address_city": "Toledo",
              "county_tract": "6.01",
              "realtor_desc": null,
              "address_state": "OH",
              "county_parcel": "0736911",
              "address_street": "3528 Homewood Ave",
              "last_edited_by": "5b9dc1df-4527-4c03-a425-81fcb2b4599e",
              "realtor_status": null,
              "prop_cooking_type": null,
              "prop_heating_type": null,
              "timestamp_created": "2024-09-22T05:01:01+00:00",
              "timestamp_updated": "2024-09-22T05:01:55+00:00",
              "fk_status_property": "Rented",
              "realtor_list_price": null,
              "timestamp_followup": null,
              "address_neighborhood": null,
              "realtor_dwelling_type": null,
              "realtor_last_sold_date": null,
              "prop_water_heating_type": null,
              "realtor_last_sold_price": null
            },
            "schema": "public",
            "old_record": {
              "id": 5,
              "beds": null,
              "sqft": null,
              "baths": null,
              "garage": null,
              "lot_sqf": null,
              "starred": true,
              "stories": null,
              "coord_lat": null,
              "coord_lng": null,
              "prop_size": 1350,
              "prop_year": null,
              "realtor_id": null,
              "year_built": null,
              "address_zip": "43612",
              "realtor_url": "https://www.realtor.com/realestateandhomes-detail/M4876359256",
              "address_city": "Toledo",
              "county_tract": "6.01",
              "realtor_desc": null,
              "address_state": "OH",
              "county_parcel": "0736911",
              "address_street": "3528 Homewood Ave",
              "last_edited_by": "5b9dc1d81fcb2b4599e",
              "realtor_status": null,
              "prop_cooking_type": null,
              "prop_heating_type": null,
              "timestamp_created": "2024-09-22T05:01:01+00:00",
              "timestamp_updated": "2024-09-22T05:01:55+00:00",
              "fk_status_property": "Construction",
              "realtor_list_price": null,
              "timestamp_followup": "2024-09-28T13:16:06.879+00:00",
              "address_neighborhood": null,
              "realtor_dwelling_type": null,
              "realtor_last_sold_date": null,
              "prop_water_heating_type": null,
              "realtor_last_sold_price": null
            }
          },
          "webhookUrl": "https://imposbl.up.railway.app/webhook/2ac3d1a9-7334-451c-aa4c-947182f598d5",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-01-16T04:20:48.846Z",
  "versionId": "4ad99af3-08d5-43b2-aeef-4aca4ae10f7a"
}