workflows/RR - Scrape Realtor.com.json
{
  "active": true,
  "connections": {
    "validate URL": {
      "main": [
        [
          {
            "node": "Check if URL is in Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try finding existing properties": {
      "main": [
        [
          {
            "node": "Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create Property",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Property": {
      "main": [
        [
          {
            "node": "Scrape Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success 200": {
      "main": [
        [
          {
            "node": "Scrape Rapid API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Property": {
      "main": [
        [
          {
            "node": "Scrape Log Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if URL is in Log": {
      "main": [
        [
          {
            "node": "Count1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appsmith Scrape Property": {
      "main": [
        [
          {
            "node": "validate URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Scrape Log Entry": {
      "main": [
        [
          {
            "node": "Success 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Create Scrape Log Entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Rapid API": {
      "main": [
        [
          {
            "node": "Try finding existing properties",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape via Rapid API": {
      "main": [
        [
          {
            "node": "Create Property1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Log Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Property1": {
      "main": [
        [
          {
            "node": "Scrape Log Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Log Success1": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get properties with statuses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Rapid API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appsmith Rescrape Queue": {
      "main": [
        [
          {
            "node": "Scrape via Rapid API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-10T21:40:49.082Z",
  "id": "BjDbNeD2OZXPsw3M",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RR - Scrape Realtor.com",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties_scrape_log",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Create Scrape Log Entry').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "success",
              "fieldValue": "=FALSE"
            },
            {
              "fieldId": "error_desc",
              "fieldValue": "={{ $json.error.code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1700,
        -640
      ],
      "id": "738dd4f7-673e-4fb6-a322-1183117c869e",
      "name": "Scrape Log Error",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ede02cb-3da8-4c6d-9409-2be082bdcf68",
              "leftValue": "={{ $json.query.url }}",
              "rightValue": "https://www.realtor.com/realestateandhomes-detail/",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        -840
      ],
      "id": "4a0f5309-12c7-498b-8280-21e4a8835abb",
      "name": "validate URL"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseKey": "Invalid Realtor.com URL"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        260,
        -640
      ],
      "id": "b5d18266-e130-40ba-a60c-3075ff9626f6",
      "name": "Error 400"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "address_street",
              "condition": "ilike",
              "keyValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.line }}"
            },
            {
              "keyName": "address_city",
              "condition": "eq",
              "keyValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.city }}"
            },
            {
              "keyName": "address_state",
              "condition": "eq",
              "keyValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.state }}"
            },
            {
              "keyName": "address_zip",
              "condition": "eq",
              "keyValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.postal_code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1700,
        -840
      ],
      "id": "0fabec54-c7b4-43b4-b3a7-ae7149d0611a",
      "name": "Try finding existing properties",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.results }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0 results"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3f836040-e20c-4c0b-84c5-e795339645c1",
                    "leftValue": "={{ $json.results }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 result"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2120,
        -840
      ],
      "id": "509889eb-565d-40be-986f-c63fb77a4cfe",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties_scrape_log",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Create Scrape Log Entry').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "success",
              "fieldValue": "={{ \"TRUE\" }}"
            },
            {
              "fieldId": "error_desc",
              "fieldValue": "=Scraped successfully"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2560,
        -840
      ],
      "id": "be50bfee-f532-4de9-b91a-302987f031a2",
      "name": "Scrape Log Success",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "tableId": "properties",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "address_street",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.line }}"
            },
            {
              "fieldId": "address_city",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.city }}"
            },
            {
              "fieldId": "address_state",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.state_code }}"
            },
            {
              "fieldId": "address_zip",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.postal_code }}"
            },
            {
              "fieldId": "prop_size_inside",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.sqft }}"
            },
            {
              "fieldId": "prop_year",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.year_built }}"
            },
            {
              "fieldId": "realtor_id",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.property_id }}"
            },
            {
              "fieldId": "realtor_url",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.href }}"
            },
            {
              "fieldId": "realtor_status",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.status }}"
            },
            {
              "fieldId": "beds",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.beds }}"
            },
            {
              "fieldId": "baths",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.baths }}"
            },
            {
              "fieldId": "garage",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.garage }}"
            },
            {
              "fieldId": "stories",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.stories }}"
            },
            {
              "fieldId": "realtor_dwelling_type",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.type }}"
            },
            {
              "fieldId": "realtor_last_sold_date",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.last_sold_date }}"
            },
            {
              "fieldId": "realtor_last_sold_price",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.last_sold_price }}"
            },
            {
              "fieldId": "realtor_list_price",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.list_price }}"
            },
            {
              "fieldId": "address_neighborhood",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.neighborhoods[0].name }}"
            },
            {
              "fieldId": "coord_lat",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.coordinate.lat }}"
            },
            {
              "fieldId": "coord_lng",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.coordinate.lon }}"
            },
            {
              "fieldId": "prop_size_outside",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.lot_sqft }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "timestamp_created",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "last_edited_by",
              "fieldValue": "={{ $('Appsmith Scrape Property').item.json.query.user }}"
            },
            {
              "fieldId": "scrape_source",
              "fieldValue": "Realtor.com"
            },
            {
              "fieldId": "timestamp_scraped",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "realtor_desc",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.text }}"
            },
            {
              "fieldId": "is_contingent",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_contingent }}"
            },
            {
              "fieldId": "is_foreclosure",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_foreclosure }}"
            },
            {
              "fieldId": "is_pending",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_pending }}"
            },
            {
              "fieldId": "is_short_sale",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_short_sale }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2340,
        -840
      ],
      "id": "747e3026-5ac5-4a87-abd5-5ec8b8c25605",
      "name": "Create Property",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseKey": "Added to queue"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        -840
      ],
      "id": "c3997a79-8023-435c-993a-449e45407cbb",
      "name": "Success 200"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Try finding existing properties').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "prop_size_inside",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.sqft }}"
            },
            {
              "fieldId": "prop_year",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.year_built }}"
            },
            {
              "fieldId": "realtor_id",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.property_id }}"
            },
            {
              "fieldId": "realtor_url",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.href }}"
            },
            {
              "fieldId": "realtor_status",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.status }}"
            },
            {
              "fieldId": "beds",
              "fieldValue": "={{ $('Try finding existing properties').item.json.beds !== null \n  ? $('Try finding existing properties').item.json.beds\n  : $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.beds }}"
            },
            {
              "fieldId": "baths",
              "fieldValue": "={{ $('Try finding existing properties').item.json.baths !== null \n  ? $('Try finding existing properties').item.json.baths\n  : $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.baths }}"
            },
            {
              "fieldId": "garage",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.garage }}"
            },
            {
              "fieldId": "stories",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.stories }}"
            },
            {
              "fieldId": "realtor_dwelling_type",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.type }}"
            },
            {
              "fieldId": "realtor_last_sold_date",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.last_sold_date }}"
            },
            {
              "fieldId": "realtor_last_sold_price",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.last_sold_price }}"
            },
            {
              "fieldId": "realtor_list_price",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.list_price }}"
            },
            {
              "fieldId": "address_neighborhood",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.neighborhoods[0].name }}"
            },
            {
              "fieldId": "coord_lat",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.coordinate.lat }}"
            },
            {
              "fieldId": "coord_lng",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.coordinate.lon }}"
            },
            {
              "fieldId": "prop_size_outside",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.lot_sqft }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "timestamp_created",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "last_edited_by",
              "fieldValue": "={{ $('Appsmith Scrape Property').item.json.query.user }}"
            },
            {
              "fieldId": "scrape_source",
              "fieldValue": "Realtor.com"
            },
            {
              "fieldId": "timestamp_scraped",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "realtor_desc",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.description.text }}"
            },
            {
              "fieldId": "address_neighborhood",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.location.neighborhoods[0].name }}"
            },
            {
              "fieldId": "is_contingent",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_contingent }}"
            },
            {
              "fieldId": "is_foreclosure",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_foreclosure }}"
            },
            {
              "fieldId": "is_pending",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_pending }}"
            },
            {
              "fieldId": "is_short_sale",
              "fieldValue": "={{ $('Scrape Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_short_sale }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2340,
        -640
      ],
      "id": "acfca096-e193-4cbd-9375-73ab43b02698",
      "name": "Update Property",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties_scrape_log",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Create Scrape Log Entry').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "success",
              "fieldValue": "={{ \"TRUE\" }}"
            },
            {
              "fieldId": "error_desc",
              "fieldValue": "=Existing record updated"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2560,
        -640
      ],
      "id": "1cb29153-3863-4d1d-b7f2-a2c0487cddd5",
      "name": "Scrape Log Updated",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if (Object.keys(items[0].json).length === 0) {\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: 0,\n\t\t}\n\t}\n]\n}\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: items.length,\n\t\t}\n\t}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -840
      ],
      "id": "cc39cbdb-3d3f-4ff1-bb31-ec6397ee26da",
      "name": "Count"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties_scrape_log",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "realtor_url",
              "condition": "ilike",
              "keyValue": "={{ $json.query.url.split(\"?\")[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        260,
        -840
      ],
      "id": "6e11b654-83f6-4651-a950-ea8902a0134c",
      "name": "Check if URL is in Log",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if (Object.keys(items[0].json).length === 0) {\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: 0,\n\t\t}\n\t}\n]\n}\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: items.length,\n\t\t}\n\t}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -840
      ],
      "id": "044893cf-f5c5-4c95-a877-29cdf6313870",
      "name": "Count1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.results }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4493eb2d-184a-4f35-84c5-7511917267e2",
                    "leftValue": "={{ $json.results }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        700,
        -840
      ],
      "id": "f98a1e55-7016-4295-a537-ee8f2b986a3c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-property-by-url",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -180,
        -840
      ],
      "id": "07cfcb3d-a645-42b7-9d40-d2f513557809",
      "name": "Appsmith Scrape Property",
      "webhookId": "99326a1c-6822-47b3-99ce-00e411b5b4d0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4eZkdxpH9D6RopSj",
          "name": "RR Appsmith Header Auth"
        }
      },
      "notes": "Incoming webhook from appsmith. Used when adding a new property by Realtor URL."
    },
    {
      "parameters": {
        "tableId": "properties_scrape_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "realtor_url",
              "fieldValue": "={{ $('Appsmith Scrape Property').item.json.query.url.split(\"?\")[0] }}"
            },
            {
              "fieldId": "requested_by",
              "fieldValue": "={{ $('Appsmith Scrape Property').item.json.query.user }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        920,
        -940
      ],
      "id": "1978679d-b36a-4462-861c-f1b0a51be7ef",
      "name": "Create Scrape Log Entry",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties_scrape_log",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Appsmith Rescrape Queue').item.json.query.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "success",
              "fieldValue": "=FALSE"
            },
            {
              "fieldId": "error_desc",
              "fieldValue": "={{ $json.error.code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2060,
        -1160
      ],
      "id": "09162bc4-571b-47ec-b935-a6a4473675d9",
      "name": "Scrape Log Error1",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "url": "https://realtor-search.p.rapidapi.com/properties/detail-url",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Appsmith Scrape Property').item.json.query.url }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "realtor-search.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "6ba3b66dbamshc1928a7b00fd64bp146222jsn36479c7c5a77"
            },
            {
              "name": "Host",
              "value": "realtor-search.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "id": "1547e996-8b33-4027-9bb8-4fddc4f92f21",
      "name": "Scrape Rapid API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        -840
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://realtor-search.p.rapidapi.com/properties/detail-url",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.query.url }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "realtor-search.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "6ba3b66dbamshc1928a7b00fd64bp146222jsn36479c7c5a77"
            },
            {
              "name": "Host",
              "value": "realtor-search.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "id": "74b4b0d7-6902-4900-9e12-26414b56c43f",
      "name": "Scrape via Rapid API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        -1260
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "properties",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "prop_size_inside",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.sqft }}"
            },
            {
              "fieldId": "prop_year",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.year_built }}"
            },
            {
              "fieldId": "realtor_id",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.property_id }}"
            },
            {
              "fieldId": "realtor_url",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.href }}"
            },
            {
              "fieldId": "realtor_status",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.status }}"
            },
            {
              "fieldId": "beds",
              "fieldValue": "={{ $json.data.initialReduxState.propertyDetails.description.beds }}"
            },
            {
              "fieldId": "baths",
              "fieldValue": "={{ $json.data.initialReduxState.propertyDetails.description.baths }}"
            },
            {
              "fieldId": "garage",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.garage }}"
            },
            {
              "fieldId": "stories",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.stories }}"
            },
            {
              "fieldId": "realtor_dwelling_type",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.type }}"
            },
            {
              "fieldId": "realtor_last_sold_date",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.last_sold_date }}"
            },
            {
              "fieldId": "realtor_last_sold_price",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.last_sold_price }}"
            },
            {
              "fieldId": "realtor_list_price",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.list_price }}"
            },
            {
              "fieldId": "address_neighborhood",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.location.neighborhoods[0].name }}"
            },
            {
              "fieldId": "coord_lat",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.coordinate.lat }}"
            },
            {
              "fieldId": "coord_lng",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.location.address.coordinate.lon }}"
            },
            {
              "fieldId": "prop_size_outside",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.lot_sqft }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "timestamp_created",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "last_edited_by",
              "fieldValue": "={{ $('Appsmith Rescrape Queue').item.json.query.user }}"
            },
            {
              "fieldId": "scrape_source",
              "fieldValue": "Realtor.com"
            },
            {
              "fieldId": "timestamp_scraped",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "realtor_desc",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.description.text }}"
            },
            {
              "fieldId": "address_neighborhood",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.location.neighborhoods[0].name }}"
            },
            {
              "fieldId": "is_contingent",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_contingent }}"
            },
            {
              "fieldId": "is_foreclosure",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_foreclosure }}"
            },
            {
              "fieldId": "is_pending",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_pending }}"
            },
            {
              "fieldId": "is_short_sale",
              "fieldValue": "={{ $('Scrape via Rapid API').item.json.data.initialReduxState.propertyDetails.flags.is_short_sale }}"
            },
            {
              "fieldId": "address_street",
              "fieldValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.line }}"
            },
            {
              "fieldId": "address_city",
              "fieldValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.city }}"
            },
            {
              "fieldId": "address_state",
              "fieldValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.state_code }}"
            },
            {
              "fieldId": "address_zip",
              "fieldValue": "={{ $json.data.initialReduxState.propertyDetails.location.address.postal_code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2060,
        -1380
      ],
      "id": "b711baca-0e48-4a28-ae20-725d37ec966f",
      "name": "Create Property1",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties_scrape_log",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Appsmith Rescrape Queue').item.json.query.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "success",
              "fieldValue": "={{ \"TRUE\" }}"
            },
            {
              "fieldId": "error_desc",
              "fieldValue": "=Existing record updated"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2280,
        -1380
      ],
      "id": "cd496abc-d554-42c6-beb1-39d4b225662f",
      "name": "Scrape Log Success1",
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "## Appsmith rescrape button from property on the scrape queue list\nExpects: id, user, url",
        "height": 180,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        -1280
      ],
      "typeVersion": 1,
      "id": "2461eca8-06f3-49bd-95f0-a65dadb142ed",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Appsmith scrape request from user provided URL",
        "height": 180,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -880
      ],
      "typeVersion": 1,
      "id": "b074ad82-60ee-4557-bf59-c77d6fb7540d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Appsmith scrape request from existing property",
        "height": 180,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -1560
      ],
      "typeVersion": 1,
      "id": "0e609cca-a8de-4e12-8278-428d0df96911",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rescrape-property",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -180,
        -1540
      ],
      "id": "fccbad1d-91dd-4b37-af54-417ca577f9fe",
      "name": "Appsmith Rescrape existing property",
      "webhookId": "99326a1c-6822-47b3-99ce-00e411b5b4d0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4eZkdxpH9D6RopSj",
          "name": "RR Appsmith Header Auth"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "670b0bfb-28b9-4992-9d2e-931af9761bad",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "limit": 2,
        "filters": {
          "conditions": [
            {
              "keyName": "fk_status_property",
              "condition": "ilike",
              "keyValue": "Monitor"
            },
            {
              "keyName": "fk_status_property",
              "condition": "ilike",
              "keyValue": "Walkthrough"
            },
            {
              "keyName": "fk_status_property",
              "condition": "ilike",
              "keyValue": "New"
            }
          ]
        }
      },
      "id": "c4d4769b-0522-42ab-8342-19f28be37901",
      "name": "get properties with statuses",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -20,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "tB73GetIJaJt8VPH",
          "name": "Imposbl Supabase"
        }
      }
    },
    {
      "parameters": {
        "url": "https://realtor-search.p.rapidapi.com/properties/detail-url",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "=https://www.realtor.com/realestateandhomes-detail/9899-Balfour-Rd_Detroit_MI_48224_M40857-01817"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "realtor-search.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "6ba3b66dbamshc1928a7b00fd64bp146222jsn36479c7c5a77"
            },
            {
              "name": "Host",
              "value": "realtor-search.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "id": "6af9e91c-e93f-4d1f-b89f-b0d73cbea517",
      "name": "Rapid API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -220
      ]
    },
    {
      "parameters": {
        "operation": "update"
      },
      "id": "64974db9-31c5-4891-8088-2b42a1ca5bd5",
      "name": "Update Properties",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -20,
        200
      ]
    },
    {
      "parameters": {},
      "id": "e7876259-444f-4a94-b17d-f2ee3ee11236",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        -220
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rescrape-property",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1620,
        -1260
      ],
      "id": "cadeaa97-2f80-4192-9f2a-28c6dbe3b63e",
      "name": "Appsmith Rescrape Queue",
      "webhookId": "99326a1c-6822-47b3-99ce-00e411b5b4d0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4eZkdxpH9D6RopSj",
          "name": "RR Appsmith Header Auth"
        }
      }
    }
  ],
  "pinData": {
    "Appsmith Scrape Property": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "ReactorNetty/1.1.22",
            "content-length": "0",
            "accept": "*/*",
            "accept-encoding": "gzip",
            "authorization": "hX1z652MRiuk0RI4HlzWVDBlUPWSwE0LdtKZiccG27YsOj378kKaDBsPGrFBkJ02",
            "content-type": "application/json",
            "x-forwarded-for": "34.82.107.46",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "DLNm9hJWQEGwBvK4PKF-Gg_603909319",
            "x-real-ip": "34.82.107.46",
            "x-request-start": "1736992562385"
          },
          "params": {},
          "query": {
            "url": "https://www.realtor.com/realestateandhomes-detail/303-Jervis-St_Toledo_OH_43609_M39360-64996?from=srp-list-card",
            "user": "alex+dev@imposbl.com"
          },
          "body": {},
          "webhookUrl": "https://imposbl.up.railway.app/webhook/scrape-property-by-url",
          "executionMode": "production"
        }
      }
    ],
    "Appsmith Rescrape existing property": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "ReactorNetty/1.1.22",
            "content-length": "0",
            "accept": "*/*",
            "accept-encoding": "gzip",
            "authorization": "hX1z652MRiuk0RI4HlzWVDBlUPWSwE0LdtKZiccG27YsOj378kKaDBsPGrFBkJ02",
            "content-type": "application/json",
            "x-forwarded-for": "34.82.107.46",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "VLuIQCUGT4SVWgfoKia7Cw_603909319",
            "x-real-ip": "34.82.107.46",
            "x-request-start": "1736995316083"
          },
          "params": {},
          "query": {
            "url": "https://www.realtor.com/realestateandhomes-detail/5702-Angola-Rd-Lot-173_Toledo_OH_43615_M38845-45301?from=srp-list-card",
            "id": "134",
            "user": "alex+dev@imposbl.com"
          },
          "body": {},
          "webhookUrl": "https://imposbl.up.railway.app/webhook/rescrape-property",
          "executionMode": "production"
        }
      }
    ],
    "Appsmith Rescrape Queue": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "ReactorNetty/1.1.22",
            "content-length": "0",
            "accept": "*/*",
            "accept-encoding": "gzip",
            "authorization": "hX1z652MRiuk0RI4HlzWVDBlUPWSwE0LdtKZiccG27YsOj378kKaDBsPGrFBkJ02",
            "content-type": "application/json",
            "x-forwarded-for": "34.82.107.46",
            "x-forwarded-host": "imposbl.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "VLuIQCUGT4SVWgfoKia7Cw_603909319",
            "x-real-ip": "34.82.107.46",
            "x-request-start": "1736995316083"
          },
          "params": {},
          "query": {
            "url": "https://www.realtor.com/realestateandhomes-detail/5702-Angola-Rd-Lot-173_Toledo_OH_43615_M38845-45301?from=srp-list-card",
            "id": "134",
            "user": "alex+dev@imposbl.com"
          },
          "body": {},
          "webhookUrl": "https://imposbl.up.railway.app/webhook/rescrape-property",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2025-01-16T04:28:38.378Z",
  "versionId": "12fc7377-e5d1-4f71-bf73-6bdf55f6bd5f"
}