workflows/S8 Applicants.json
{
  "active": true,
  "connections": {
    "Get Airtable": {
      "main": [
        [
          {
            "node": "Send notification to Applicants",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook from Airtable": {
      "main": [
        [
          {
            "node": "Get Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Does Folder Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Does Folder Exist?": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Get File 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File 2": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-14T00:25:04.567Z",
  "id": "CcOyZVmYDQpgUYx0",
  "name": "S8 Applicants",
  "nodes": [
    {
      "parameters": {
        "content": "## Applicant Questionnaire\nSend Jotform answers to Applicants telegram chat",
        "height": 538.2617316589553,
        "width": 1570.4534038334423
      },
      "id": "5701a70d-2957-4877-a527-92b541dabfb2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        284.73826834104455
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "-1001986847733",
        "file": "={{ $json.fields['Voucher Image'][0].url }}",
        "additionalFields": {
          "caption": "=Name: {{ $('Get Airtable').item.json[\"fields\"][\"First Name\"] }} {{ $('Get Airtable').item.json[\"fields\"][\"Last Name\"] }}Email: {{ $('Get Airtable').item.json[\"fields\"][\"Email\"] }}\nPhone: {{ $('Get Airtable').item.json[\"fields\"][\"Phone\"] }}\nAddress: {{ $('Get Airtable').item.json[\"fields\"][\"Current Address\"] }}\nHousehold: {{ $('Get Airtable').item.json[\"fields\"][\"Household Size\"] }}\nAdults: {{ $('Get Airtable').item.json[\"fields\"][\"Adults\"] }}\nIncome: {{ $('Get Airtable').item.json[\"fields\"][\"Income\"] }}\nCurrent Rent: {{ $('Get Airtable').item.json[\"fields\"][\"Current Rent\"] }}\nVoucher: {{ $('Get Airtable').item.json[\"fields\"][\"Voucher?\"] }}\nBedrooms: {{ $('Get Airtable').item.json[\"fields\"][\"Voucher Bedrooms\"] }}"
        }
      },
      "id": "e30a0b43-c931-4db2-b2e0-8b68a38ce659",
      "name": "Send notification to Applicants",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1100,
        320
      ],
      "credentials": {
        "telegramApi": {
          "id": "00LXc8xbm2J4UVrX",
          "name": "P0m0shnik11_Bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblkhV7kYRH3chFVu/viwQEsgAWgk6cAzj1?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblkhV7kYRH3chFVu/viwQEsgAWgk6cAzj1?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "id": "={{ $json.query.recordId }}"
      },
      "id": "1f63a52a-d3fd-4476-9d74-09c013f7d1f0",
      "name": "Get Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        880,
        420
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "BNhG76b6vOTpVP0E",
          "name": "S8 Airtable"
        }
      }
    },
    {
      "parameters": {
        "path": "e60bf994-dde5-4a77-be45-6d8ce7f4764c",
        "options": {}
      },
      "id": "844f5f38-a71f-47ea-9af2-3c0dcba51bf0",
      "name": "Webhook from Airtable",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        660,
        420
      ],
      "webhookId": "e60bf994-dde5-4a77-be45-6d8ce7f4764c"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "path": "cb608c6a-f525-4777-8f60-2c42471af181",
        "options": {}
      },
      "id": "fff32f15-f402-4d0a-82ea-1c2dc2efc39d",
      "name": "Webhook from Aircall",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        660,
        40
      ],
      "webhookId": "cb608c6a-f525-4777-8f60-2c42471af181",
      "credentials": {
        "httpBasicAuth": {
          "id": "TipJQrA0hi8jgPyX",
          "name": "S8 Baisic Bank Auth"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '{{ $json.fields.Email }}'",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1A-UIiFgzB1XVcXXD_i9i6N6MY6wzZ6yl",
            "mode": "list",
            "cachedResultName": "All Applicants",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1A-UIiFgzB1XVcXXD_i9i6N6MY6wzZ6yl"
          }
        },
        "options": {}
      },
      "id": "29ff4b71-cbe7-4f99-8f39-02f29c9f72d9",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1100,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EuFOCFm90s0y3wV4",
          "name": "Imposbl Drive"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "value2": "={{ $('Get Airtable').item.json.fields.Email }}"
            }
          ]
        }
      },
      "id": "d8358b3c-9597-4b71-962d-435a811a641d",
      "name": "Does Folder Exist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        540
      ]
    },
    {
      "parameters": {
        "name": "={{ Date() }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Google Drive').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "b99ef857-d3c4-4c7b-9149-53aea5b0c2b6",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1720,
        460
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EuFOCFm90s0y3wV4",
          "name": "Imposbl Drive"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Get Airtable').item.json.fields.Email }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1A-UIiFgzB1XVcXXD_i9i6N6MY6wzZ6yl",
          "mode": "list",
          "cachedResultName": "All Applicants",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1A-UIiFgzB1XVcXXD_i9i6N6MY6wzZ6yl"
        },
        "options": {}
      },
      "id": "c55c8ca0-153e-431f-bb49-cfebc6b34e6c",
      "name": "Create Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1500,
        660
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EuFOCFm90s0y3wV4",
          "name": "Imposbl Drive"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ Date() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "6950aadb-7b3f-41f6-ab69-c96efd5c9b28",
      "name": "Google Drive2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1940,
        660
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EuFOCFm90s0y3wV4",
          "name": "Imposbl Drive"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get Airtable').item.json.fields['Voucher Image'][0].url }}",
        "options": {}
      },
      "id": "0e63e043-dffa-4b59-a07e-23b571619ddc",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        460
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Get Airtable').item.json.fields['Voucher Image'][0].url }}",
        "options": {}
      },
      "id": "b1675000-27a7-4500-9d8b-44a97242dc40",
      "name": "Get File 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1720,
        660
      ]
    }
  ],
  "pinData": {
    "Webhook from Airtable": [
      {
        "json": {
          "headers": {
            "host": "n8n-production-29d3.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "x-airtable-source": "appW0UJP0qQbIw5tS/wflSEEvpuS0324s7M",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "x-forwarded-for": "44.199.218.4",
            "x-forwarded-proto": "https",
            "x-envoy-external-address": "44.199.218.4",
            "x-request-id": "06cd2672-0386-4eb4-8ce8-ce8b59b8f327"
          },
          "params": {},
          "query": {
            "recordId": "rec8xnIZGZX5X7HU4"
          },
          "body": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-09-14T14:31:50.307Z",
  "versionId": "b20763de-6ad8-4d16-8c9b-cc01ad19a418"
}