workflows/S8 Bank Transactions > Airtable.json
{
  "active": true,
  "connections": {
    "Transactions Email": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-24T15:46:44.849Z",
  "id": "H8uHpWVCotAN5Vvx",
  "name": "S8 Bank Transactions > Airtable",
  "nodes": [
    {
      "parameters": {
        "mailbox": "Tx:Chase",
        "format": "resolved",
        "options": {
          "forceReconnect": 15
        }
      },
      "id": "203091d0-5d6f-4dc3-9fe7-0328c7ea29ee",
      "name": "Transactions Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        660,
        380
      ],
      "credentials": {
        "imap": {
          "id": "Uv3uUlltjUdtocKP",
          "name": "Section Homes IMAP"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Merchant_OG",
              "value": "={{ $json.html.match(/(?:You made a debit card transaction of \\$.+?\\.\\d+ with )(.+?)(?:[^\\sa-zA-Z0-9])/i)[1] }}"
            },
            {
              "name": "BankTimestamp_OG",
              "value": "={{ $json.textAsHtml.match(/(?:made on )(.+?)(?:[^0-9a-zA-Z\\s\\,\\:])/i)[1] }}"
            },
            {
              "name": "Card",
              "value": "={{ $json.subject.match(/(\\d{4})\\)/)[1] }}"
            },
            {
              "name": "Bank",
              "value": "Chase"
            },
            {
              "name": "IncomeExpense",
              "value": "Expense"
            },
            {
              "name": "Merchant",
              "value": "={{ $json.html.match(/(?:You made a debit card transaction of \\$.+?\\.\\d+ with )(.+?)(?:[^\\sa-zA-Z0-9])/i)[1] }}"
            }
          ],
          "number": [
            {
              "name": "Amount_OG",
              "value": "={{ $json.html.match(/(?:You made a debit card transaction of \\$)(.+?\\.\\d+)/i)[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9eb94bfb-1f99-4835-a18f-380a3cec7348",
      "name": "Extract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        880,
        380
      ]
    },
    {
      "parameters": {},
      "id": "0d03abd8-2d1c-402d-9300-133fa86fc01a",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        660,
        180
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "append",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tblgRVYDLAd9Wyd6g/viw4C4gcCpACGL1iM?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tblgRVYDLAd9Wyd6g/viw4C4gcCpACGL1iM?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "options": {}
      },
      "id": "74d72051-a908-4490-8388-9c897f66e826",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1100,
        380
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "BNhG76b6vOTpVP0E",
          "name": "S8 Airtable"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Transactions Email": {
      "lastMessageUid": 87
    }
  },
  "tags": [
    {
      "id": "LY1Kj6pTibELWGKc",
      "createdAt": "2023-07-17T21:49:47.710Z",
      "updatedAt": "2023-07-30T03:29:52.918Z",
      "name": "Airtable"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-08-11T02:02:04.328Z",
  "versionId": "733260ec-bc54-4509-968a-dde46f82fc70"
}