workflows/S8 CRM.json
{
  "active": true,
  "connections": {
    "Get Airtable": {
      "main": [
        [
          {
            "node": "Send notification to Applicants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook from Airtable": {
      "main": [
        [
          {
            "node": "Get Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Does Folder Exist?": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Get File 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File 2": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook from Airtable to create Drive Folder": {
      "main": [
        [
          {
            "node": "Get Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Airtable1": {
      "main": [
        [
          {
            "node": "Search Drive for Folder 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Drive for Folder 1": {
      "main": [
        [
          {
            "node": "Does Folder Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Does Folder Exist?1": {
      "main": [
        [],
        [
          {
            "node": "Create Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Drive for Folder 2": {
      "main": [
        [
          {
            "node": "Does Folder Exist?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Pipedrive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Create Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Person": {
      "main": [
        [
          {
            "node": "Create Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Update Airtable Lead and Person ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable Lead and Person ID": {
      "main": [
        [
          {
            "node": "Bitly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bitly": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        [
          {
            "node": "Create Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-14T00:25:04.567Z",
  "id": "CcOyZVmYDQpgUYx0",
  "name": "S8 CRM",
  "nodes": [
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "-1001986847733",
        "file": "={{ $json.fields['Voucher Image'][0].url }}",
        "additionalFields": {
          "caption": "=Name: {{ $('Get Airtable').item.json[\"fields\"][\"First Name\"] }} {{ $('Get Airtable').item.json[\"fields\"][\"Last Name\"] }}Email: {{ $('Get Airtable').item.json[\"fields\"][\"Email\"] }}\nPhone: {{ $('Get Airtable').item.json[\"fields\"][\"Phone\"] }}\nAddress: {{ $('Get Airtable').item.json[\"fields\"][\"Current Address\"] }}\nHousehold: {{ $('Get Airtable').item.json[\"fields\"][\"Household Size\"] }}\nAdults: {{ $('Get Airtable').item.json[\"fields\"][\"Adults\"] }}\nIncome: {{ $('Get Airtable').item.json[\"fields\"][\"Income\"] }}\nCurrent Rent: {{ $('Get Airtable').item.json[\"fields\"][\"Current Rent\"] }}\nVoucher: {{ $('Get Airtable').item.json[\"fields\"][\"Voucher?\"] }}\nBedrooms: {{ $('Get Airtable').item.json[\"fields\"][\"Voucher Bedrooms\"] }}"
        }
      },
      "id": "e30a0b43-c931-4db2-b2e0-8b68a38ce659",
      "name": "Send notification to Applicants",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        980,
        840
      ],
      "credentials": {
        "telegramApi": {
          "id": "00LXc8xbm2J4UVrX",
          "name": "P0m0shnik11_Bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblkhV7kYRH3chFVu/viwQEsgAWgk6cAzj1?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblkhV7kYRH3chFVu/viwQEsgAWgk6cAzj1?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "id": "={{ $json.query.recordId }}"
      },
      "id": "1f63a52a-d3fd-4476-9d74-09c013f7d1f0",
      "name": "Get Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        820,
        840
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "BNhG76b6vOTpVP0E",
          "name": "S8 Airtable"
        }
      }
    },
    {
      "parameters": {
        "path": "e60bf994-dde5-4a77-be45-6d8ce7f4764c",
        "options": {}
      },
      "id": "844f5f38-a71f-47ea-9af2-3c0dcba51bf0",
      "name": "Webhook from Airtable",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        660,
        840
      ],
      "webhookId": "e60bf994-dde5-4a77-be45-6d8ce7f4764c"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "value2": "={{ $('Get Airtable').item.json.fields.Email }}"
            }
          ]
        }
      },
      "id": "d8358b3c-9597-4b71-962d-435a811a641d",
      "name": "Does Folder Exist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        880,
        1980
      ]
    },
    {
      "parameters": {
        "name": "={{ Date() }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search Drive for Folder 1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "b99ef857-d3c4-4c7b-9149-53aea5b0c2b6",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1300,
        1900
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EuFOCFm90s0y3wV4",
          "name": "Imposbl Drive"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Get Airtable').item.json.fields.Email }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1A-UIiFgzB1XVcXXD_i9i6N6MY6wzZ6yl",
          "mode": "list",
          "cachedResultName": "All Applicants",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1A-UIiFgzB1XVcXXD_i9i6N6MY6wzZ6yl"
        },
        "options": {}
      },
      "id": "c55c8ca0-153e-431f-bb49-cfebc6b34e6c",
      "name": "Create Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1080,
        2100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EuFOCFm90s0y3wV4",
          "name": "Imposbl Drive"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ Date() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "6950aadb-7b3f-41f6-ab69-c96efd5c9b28",
      "name": "Google Drive2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        2100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EuFOCFm90s0y3wV4",
          "name": "Imposbl Drive"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get Airtable').item.json.fields['Voucher Image'][0].url }}",
        "options": {}
      },
      "id": "0e63e043-dffa-4b59-a07e-23b571619ddc",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1080,
        1900
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Get Airtable').item.json.fields['Voucher Image'][0].url }}",
        "options": {}
      },
      "id": "b1675000-27a7-4500-9d8b-44a97242dc40",
      "name": "Get File 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        2100
      ]
    },
    {
      "parameters": {
        "path": "06244fc8-40e4-4aeb-adbe-91a5398acac6",
        "options": {}
      },
      "id": "a7126142-a95f-46b9-8ea0-b2c1fb31e397",
      "name": "Webhook from Airtable to create Drive Folder",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        680,
        1540
      ],
      "webhookId": "06244fc8-40e4-4aeb-adbe-91a5398acac6"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblkhV7kYRH3chFVu/viwQEsgAWgk6cAzj1?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblkhV7kYRH3chFVu/viwQEsgAWgk6cAzj1?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "id": "={{ $json.query.recordId }}"
      },
      "id": "578fefa3-5946-44c7-bca4-74237f00475d",
      "name": "Get Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        900,
        1540
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "BNhG76b6vOTpVP0E",
          "name": "S8 Airtable"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "value2": "={{ $('Get Airtable').item.json.fields.Email }}"
            }
          ]
        }
      },
      "id": "5ee4f10f-bd17-4afa-bcfe-bb4b3056f1bd",
      "name": "Does Folder Exist?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        1540
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Get Airtable').item.json.fields.Email }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1A-UIiFgzB1XVcXXD_i9i6N6MY6wzZ6yl",
          "mode": "list",
          "cachedResultName": "All Applicants",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1A-UIiFgzB1XVcXXD_i9i6N6MY6wzZ6yl"
        },
        "options": {}
      },
      "id": "5656d959-63ea-43e1-a75d-33678d452e49",
      "name": "Create Folder1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        1640
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EuFOCFm90s0y3wV4",
          "name": "Imposbl Drive"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '{{ $json.fields.Email }}'",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1A-UIiFgzB1XVcXXD_i9i6N6MY6wzZ6yl",
            "mode": "list",
            "cachedResultName": "All Applicants",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1A-UIiFgzB1XVcXXD_i9i6N6MY6wzZ6yl"
          }
        },
        "options": {}
      },
      "id": "0fc61afc-bfcc-48d8-94d4-19fb369dc6b1",
      "name": "Search Drive for Folder 2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        1540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EuFOCFm90s0y3wV4",
          "name": "Imposbl Drive"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '{{ $json.fields.Email }}'",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1A-UIiFgzB1XVcXXD_i9i6N6MY6wzZ6yl",
            "mode": "list",
            "cachedResultName": "All Applicants",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1A-UIiFgzB1XVcXXD_i9i6N6MY6wzZ6yl"
          }
        },
        "options": {}
      },
      "id": "29ff4b71-cbe7-4f99-8f39-02f29c9f72d9",
      "name": "Search Drive for Folder 1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        1980
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EuFOCFm90s0y3wV4",
          "name": "Imposbl Drive"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblbnrKB8dxGKtN7B/viwcVUKg8C9RT4rnI?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblbnrKB8dxGKtN7B/viwcVUKg8C9RT4rnI?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "id": "={{ $json.query.recordId }}"
      },
      "id": "5ce36c38-5da2-4397-8a92-394bee31fa37",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        820,
        1040
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "BNhG76b6vOTpVP0E",
          "name": "S8 Airtable"
        }
      }
    },
    {
      "parameters": {
        "content": "## Airtable Questionnaire Completed > Telegram Notification",
        "height": 125.47788873038516,
        "width": 320.0285306704705
      },
      "id": "e705026d-ac51-463c-8b04-5db775c1c9d2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        840
      ]
    },
    {
      "parameters": {
        "content": "## Airtable > new *DEAL* in pipedrive",
        "height": 128.61626248216842
      },
      "id": "77f14188-bcae-4038-b9eb-73cf1b2176ab",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        1040
      ]
    },
    {
      "parameters": {
        "path": "e1a5a3c9-068f-4ba8-a7de-d1c1e33290cc",
        "options": {}
      },
      "id": "724dda7d-92db-4727-a893-e3ff16066c66",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        660,
        640
      ],
      "webhookId": "e1a5a3c9-068f-4ba8-a7de-d1c1e33290cc"
    },
    {
      "parameters": {
        "content": "## Airtable > new *LEAD* in pipedrive",
        "height": 128.61626248216842
      },
      "id": "52a5f91f-8c41-416e-881a-35c412f77e50",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        640
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblcyhffDtE5ne5Er/viw3ekoy7S2tdgMRj?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblcyhffDtE5ne5Er/viw3ekoy7S2tdgMRj?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "id": "={{ $json.query.recordId }}"
      },
      "id": "0cdd0338-3a38-4eb5-b55a-3e3f7035e1f4",
      "name": "Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        820,
        640
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "BNhG76b6vOTpVP0E",
          "name": "S8 Airtable"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $json.fields['First Name'] }} {{ $json.fields['Last Name'] }}",
        "additionalFields": {
          "email": [
            "={{ $json.fields.Email }}"
          ],
          "label": 18,
          "org_id": 3,
          "phone": [
            "={{ $json.fields.Phone }}"
          ]
        }
      },
      "id": "1fe94ad5-75e1-4760-9d3d-569ce4ef2c44",
      "name": "Create Person",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        980,
        640
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "L1hhaI3honESwfCI",
          "name": "alex@imposbl.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $json.first_name }} {{ $json.last_name }} Lead",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {}
      },
      "id": "5db1fdaa-b056-415b-942e-63a42006384b",
      "name": "Create Lead",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1140,
        640
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "L1hhaI3honESwfCI",
          "name": "alex@imposbl.com"
        }
      }
    },
    {
      "parameters": {
        "path": "04b48b2c-929a-470c-876c-ad1d088a661f",
        "options": {}
      },
      "id": "18830870-3527-49cd-bf1d-1c4f4b529299",
      "name": "webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        660,
        1040
      ],
      "webhookId": "04b48b2c-929a-470c-876c-ad1d088a661f"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "returnAll": true,
        "additionalFields": {}
      },
      "id": "8d775821-29e0-4f9f-b700-01b3b15ce46c",
      "name": "Pipedrive1",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        980,
        1040
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "L1hhaI3honESwfCI",
          "name": "alex@imposbl.com"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Pipedrive Lead ID",
              "value": "={{ $json.id }}"
            },
            {
              "name": "Pipedrive Person ID",
              "value": "={{ $('Create Person').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "624318e4-e23b-4512-8408-d5b17b77f610",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1300,
        640
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblcyhffDtE5ne5Er/viw3ekoy7S2tdgMRj?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblcyhffDtE5ne5Er/viw3ekoy7S2tdgMRj?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "id": "={{ $('Airtable1').item.json.id }}",
        "options": {}
      },
      "id": "f81ba8d1-e59a-4491-9fe2-4350e62a2072",
      "name": "Update Airtable Lead and Person ID",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1460,
        640
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "BNhG76b6vOTpVP0E",
          "name": "S8 Airtable"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "longUrl": "={{ $json.fields['Jotform Prefilled Questionnaire'] }}",
        "additionalFields": {}
      },
      "id": "9ad60dfd-b644-4a9b-82bf-ea0e1eb3bfbd",
      "name": "Bitly",
      "type": "n8n-nodes-base.bitly",
      "typeVersion": 1,
      "position": [
        1620,
        640
      ],
      "credentials": {
        "bitlyOAuth2Api": {
          "id": "ucV74nS7IArimY1e",
          "name": "alex@imposbl.com"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblcyhffDtE5ne5Er/viw3ekoy7S2tdgMRj?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appW0UJP0qQbIw5tS/tblcyhffDtE5ne5Er/viw3ekoy7S2tdgMRj?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "id": "={{ $('Airtable1').item.json.id }}",
        "options": {}
      },
      "id": "e2c2bc71-f85c-46d1-b194-d08127d50a33",
      "name": "Airtable2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1940,
        640
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "BNhG76b6vOTpVP0E",
          "name": "S8 Airtable"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Bitly",
              "value": "={{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c37b7a5-7193-4b68-981f-08bbdb48bf11",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1780,
        640
      ]
    },
    {
      "parameters": {
        "resource": "note",
        "content": "=Prefilled Questionnaire Link: {{ $json[\"fields\"][\"Bitly\"] }}\n{{ $('Airtable1').item.json.fields.Notes }}",
        "additionalFields": {
          "lead_id": "={{ $('Create Lead').item.json.id }}"
        }
      },
      "id": "62e97411-2477-44c8-8e02-6b1700de3684",
      "name": "Create Note",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2100,
        640
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "L1hhaI3honESwfCI",
          "name": "alex@imposbl.com"
        }
      }
    }
  ],
  "pinData": {
    "Webhook from Airtable": [
      {
        "json": {
          "headers": {
            "host": "n8n-production-29d3.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "x-airtable-source": "appW0UJP0qQbIw5tS/wflSEEvpuS0324s7M",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "x-forwarded-for": "44.199.218.4",
            "x-forwarded-proto": "https",
            "x-envoy-external-address": "44.199.218.4",
            "x-request-id": "06cd2672-0386-4eb4-8ce8-ce8b59b8f327"
          },
          "params": {},
          "query": {
            "recordId": "rec8xnIZGZX5X7HU4"
          },
          "body": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook from Airtable to create Drive Folder": [
      {
        "json": {
          "headers": {
            "host": "n8n-production-29d3.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "x-airtable-source": "appW0UJP0qQbIw5tS/wfl8xio8C5Itm2I5v",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "x-forwarded-for": "34.227.10.0",
            "x-forwarded-proto": "https",
            "x-envoy-external-address": "34.227.10.0",
            "x-request-id": "32fa43b1-2013-497f-9b23-f9828782dc23"
          },
          "params": {},
          "query": {
            "recordId": "recupKlEhQQYKAcX1"
          },
          "body": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-production-29d3.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "x-airtable-source": "appW0UJP0qQbIw5tS/wflDWmB8FNPmm7nDT",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "x-forwarded-for": "3.85.218.127",
            "x-forwarded-proto": "https",
            "x-envoy-external-address": "3.85.218.127",
            "x-request-id": "5f4d7d8e-b9c9-42a0-814d-b8b833d41823"
          },
          "params": {},
          "query": {
            "recordId": "recRptAJtLHWZIhnP"
          },
          "body": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {},
  "staticData": {
    "node:Pipedrive Trigger": {}
  },
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2023-09-28T02:13:42.808Z",
  "versionId": "9a849e86-7311-4352-b4a7-858435d7559b"
}