workflows/S8 Telegram notifications.json
{
  "active": true,
  "connections": {
    "Webhook from Airtable": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get details of all the users working",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-04T18:59:40.981Z",
  "id": "G2QQ2Hmc2tcJWKC4",
  "name": "S8 Telegram notifications",
  "nodes": [
    {
      "parameters": {
        "path": "telegram-questionnaire-notification",
        "options": {}
      },
      "id": "0b5f1159-10c8-4e99-b93f-1d0eff19697e",
      "name": "Webhook from Airtable",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1160,
        600
      ],
      "webhookId": "e60bf994-dde5-4a77-be45-6d8ce7f4764c"
    },
    {
      "parameters": {
        "content": "### Questionnaire Completed \n### Telegram Notification",
        "height": 80,
        "width": 320.0285306704705
      },
      "id": "c66005d8-2b33-44e0-bbd1-61e7790f8791",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        600
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "base": {
          "__rl": true,
          "value": "appW0UJP0qQbIw5tS",
          "mode": "list",
          "cachedResultName": "CRM",
          "cachedResultUrl": "https://airtable.com/appW0UJP0qQbIw5tS"
        },
        "table": {
          "__rl": true,
          "value": "tblkhV7kYRH3chFVu",
          "mode": "list",
          "cachedResultName": "Questionnaire",
          "cachedResultUrl": "https://airtable.com/appW0UJP0qQbIw5tS/tblkhV7kYRH3chFVu"
        },
        "id": "={{ $json.query.recordId }}",
        "options": {}
      },
      "id": "295afdc2-ba73-49da-9a99-791704e36ac5",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1320,
        600
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ba9BL3rXOUDjb7P2",
          "name": "alex@section.homes"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1001986847733",
        "text": "=*Questionnaire Submitted*\n{{ $json['First Name'] }} {{ $json['Last Name'] }}\n{{ $json.Email }}\n{{ $json['Phone Input'] }}\n---\nVoucher: {{ $json[\"Voucher?\"] }}\n# Bedrooms: {{ $json[\"Bedrooms\"] }}\nRent Total: {{ $json[\"Current Rent\"] }}\nRent Portion: {{ $json[\"YourPortion\"] }}\nIncome: {{ $json[\"Income\"] }}\nPathway: {{ $json[\"Pathway?\"] }}\n\nAdults: {{ $json[\"Adults\"] }} (all adults need to submit BG check)\nKids: {{ $json[\"Kids\"] }}\nPets: {{ $json[\"Pets\"] }}\nHeavy Pets: {{ $json[\"Pets 25+\"] }}\n\nCollections: {{ $json[\"Collections?\"] }}\nCredit Score: {{ $json[\"Credit Score\"] }}\nEvictions: {{ $json[\"Evictions?\"] }}\nExplain: {{ $json[\"Evictions Explain\"] }}\nCriminal History: {{ $json[\"Convictions?\"] }}\nExplain: {{ $json[\"Convictions Explain\"] }}\n\nMove Reason: {{ $json[\"Move Reason\"] }}\nMove Date: {{ $json[\"Move Date\"] }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "50d3353f-e1bd-43b4-98b2-b1271ca16bd1",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1480,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "YtXrIMUbcoaS4RKx",
          "name": "P0m0shnik11_Bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "58210bf7-e632-4fa9-98de-1f3dfbf5583f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1160,
        840
      ]
    },
    {
      "parameters": {
        "url": "https://api.timeero.app/api/public/working-locations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "hqysSYWmtSrEPbBqubr8kQEJ0fahzm4JwtWXszOlyGOtuefCAeyoWrC5SfgfazVW"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "de2fa4e9-aa7a-47a4-984a-18368c299ef1",
      "name": "Get details of all the users working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1320,
        840
      ]
    },
    {
      "parameters": {
        "content": "### Employee enters or leaves a location \n### Telegram Notification",
        "height": 80,
        "width": 320.0285306704705
      },
      "id": "4f43c251-5f64-4d77-9aec-d962c80fbe3a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        840
      ]
    }
  ],
  "pinData": {
    "Webhook from Airtable": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "x-airtable-source": "appW0UJP0qQbIw5tS/wflAnQvzLPnzmJQAG",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "x-forwarded-for": "54.145.41.226",
            "x-forwarded-proto": "https",
            "x-envoy-external-address": "54.145.41.226",
            "x-request-id": "c3298fd2-41fe-403f-a505-908397d3fa9a"
          },
          "params": {},
          "query": {
            "recordId": "recA3sn9t0rG8o9R1"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-11-29T17:42:35.644Z",
  "versionId": "dddfbb8d-cb75-4c39-80f6-94fe5ee86a73"
}