workflows/Telegram <> Todoist.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Todoist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todoist": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-15T21:36:51.506Z",
  "id": "z6F3Lum7hdrkbp7l",
  "meta": null,
  "name": "Telegram <> Todoist",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram",
        "options": {}
      },
      "id": "bd49426d-4815-4985-a1e4-4ae8915a26a8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        660,
        380
      ],
      "webhookId": "4b8be7a5-51cd-43ea-8c28-46aabdf733ff"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "2319521100",
          "mode": "list",
          "cachedResultName": "Team Inbox"
        },
        "labels": "=",
        "content": "={{ $json.body.message.reply_to_message.text }}",
        "options": {
          "description": "={{ $json.body.message.chat.title }}"
        }
      },
      "id": "08162ef6-fa12-40ed-81ce-e20081015125",
      "name": "Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [
        1160,
        380
      ],
      "alwaysOutputData": false,
      "credentials": {
        "todoistApi": {
          "id": "YqE7fVr9QwKZDpKJ",
          "name": "S8 Todoist"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.message.text }}",
              "operation": "contains",
              "value2": "/create_task@P0m0shnik11_Bot"
            }
          ]
        }
      },
      "id": "9465023c-ee04-4731-91a2-7062fcc5858f",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot5915934616:AAGESDx8tDTznWASDbefd4UtufS5qodJLUc/setMessageReaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('Webhook').item.json[\"body\"][\"message\"][\"chat\"][\"id\"] }},\n  \"message_id\": {{ $('Webhook').item.json[\"body\"][\"message\"][\"message_id\"] }},\n  \"reaction\": [\n    {\n      \"type\": \"emoji\",\n      \"emoji\": \"👍\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "ccf91817-4521-47cb-b770-bfd24dcaa4d1",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        380
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "imposbl.up.railway.app",
            "content-type": "application/json",
            "content-length": "754",
            "accept-encoding": "gzip, deflate",
            "x-forwarded-for": "91.108.6.113",
            "x-forwarded-proto": "https",
            "x-envoy-external-address": "91.108.6.113",
            "x-request-id": "5d8b5803-6759-4fe4-adb8-49a71cf9b198"
          },
          "params": {},
          "query": {},
          "body": {
            "update_id": 514756774,
            "message": {
              "message_id": 4181,
              "from": {
                "id": 384291172,
                "is_bot": false,
                "first_name": "Alex",
                "last_name": "Miles",
                "username": "AMOnition",
                "language_code": "en",
                "is_premium": true
              },
              "chat": {
                "id": -1001684308574,
                "title": "Boots on the ground 🥾",
                "type": "supergroup"
              },
              "date": 1718490072,
              "message_thread_id": 4173,
              "reply_to_message": {
                "message_id": 4173,
                "from": {
                  "id": 384291172,
                  "is_bot": false,
                  "first_name": "Alex",
                  "last_name": "Miles",
                  "username": "AMOnition",
                  "language_code": "en",
                  "is_premium": true
                },
                "chat": {
                  "id": -1001684308574,
                  "title": "Boots on the ground 🥾",
                  "type": "supergroup"
                },
                "date": 1718489323,
                "text": "testing creating a new task"
              },
              "text": "/create_task@P0m0shnik11_Bot",
              "entities": [
                {
                  "offset": 0,
                  "length": 28,
                  "type": "bot_command"
                }
              ]
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "v2Gctj6G4inNJYnF"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-07-03T01:05:34.739Z",
  "versionId": "2e157086-5f18-46f0-8c78-242e8900cf42"
}