workflows/Travel App.json
{
  "active": true,
  "connections": {
    "Get Top 4": {
      "main": [
        [
          {
            "node": "search request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Coordinates": {
      "main": [
        [
          {
            "node": "maps request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "maps request": {
      "main": [
        [
          {
            "node": "Set Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search request": {
      "main": [
        [
          {
            "node": "Set Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Map": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Txt File": {
      "main": [
        [
          {
            "node": "Get Airtable Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Airtable Data": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cover Image": {
      "main": [
        [
          {
            "node": "Get Airtable Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Airtable Data1": {
      "main": [
        [
          {
            "node": "Google Maps Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Maps Search": {
      "main": [
        [
          {
            "node": "Set 3 Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 3 Photos": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Search": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Drive": {
      "main": [
        [
          {
            "node": "Get Airtable Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Move Binary Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data1": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Airtable Data2": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create File in Drive": {
      "main": [
        [
          {
            "node": "Add DriveID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create File": {
      "main": [
        [
          {
            "node": "Create File in Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "Sync Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-06T03:09:50.024Z",
  "id": "22oAS929Y3RRm7of",
  "meta": null,
  "name": "Travel App",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appUcPFZKE4ATjzNZ",
          "mode": "list",
          "cachedResultName": "Trip to Portugal",
          "cachedResultUrl": "https://airtable.com/appUcPFZKE4ATjzNZ"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD/viwKkrduvejeaPsHh?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "recID": "={{ $('Get Coordinates').item.json.query.recID }}",
            "nameNew": "={{ $json.newTitle }}",
            "Longitude": "={{ $json.longitude }}",
            "Latitude": "={{ $json.latitude }}",
            "Tag1": "={{ $json.tag1 }}",
            "Tag2": "={{ $json.tag2 }}",
            "Tag3": "={{ $json.tag3 }}",
            "place_id": "={{ $json.place_id }}",
            "longitude": "={{ $json.longitude }}",
            "latitude": "={{ $json.latitude }}",
            "tag1": "={{ $json.tag1 }}",
            "tag2": "={{ $json.tag2 }}",
            "tag3": "={{ $json.tag3 }}",
            "rating": "={{ $json.rating }}",
            "reviews": "={{ $json.reviews }}",
            "address": "={{ $json.address }}"
          },
          "matchingColumns": [
            "recID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "linkCities",
              "displayName": "linkCities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runCoverPhoto",
              "displayName": "runCoverPhoto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo",
              "displayName": "Photo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runMap",
              "displayName": "runMap",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CoordinatesCommand",
              "displayName": "CoordinatesCommand",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "nameNew",
              "displayName": "nameNew",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "place_id",
              "displayName": "place_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "longitude",
              "displayName": "longitude",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "latitude",
              "displayName": "latitude",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tag1",
              "displayName": "tag1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tag2",
              "displayName": "tag2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tag3",
              "displayName": "tag3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviews",
              "displayName": "reviews",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Desc",
              "displayName": "Desc",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Export",
              "displayName": "Export",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "runTop4",
              "displayName": "runTop4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "recID",
              "displayName": "recID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {
          "typecast": true,
          "ignoreFields": "recID",
          "updateAllMatches": false
        }
      },
      "id": "284ddfc7-d5b4-4322-9b66-605ee5a85df4",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1420,
        160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "aINKDMKfVJk9h10R",
          "name": "4mb"
        }
      }
    },
    {
      "parameters": {
        "path": "036282db-5b19-44d3-b5dd-920afae8fb4f",
        "options": {}
      },
      "id": "8f13e42b-32d0-4cd0-b38d-2be792ee6cde",
      "name": "Get Top 4",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        360
      ],
      "webhookId": "036282db-5b19-44d3-b5dd-920afae8fb4f"
    },
    {
      "parameters": {
        "path": "6c69aea1-dc4d-4c1b-973a-9e8700c62f73",
        "options": {}
      },
      "id": "82036ef5-fba4-4ddd-9295-db5188be26a3",
      "name": "Get Coordinates",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        160
      ],
      "webhookId": "6c69aea1-dc4d-4c1b-973a-9e8700c62f73"
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json?engine=google_maps&q={{ $json[\"query\"][\"command\"] }}&type=search&api_key=80698fe6143bb3916bc802c41593a910a24a9cd3478208f801a362f675ad71f9",
        "options": {}
      },
      "id": "e6b44058-dbcb-43f3-b6cd-324263b9a9d3",
      "name": "maps request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1020,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "80698fe6143bb3916bc802c41593a910a24a9cd3478208f801a362f675ad71f9"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $json.query.command }}"
            },
            {
              "name": "google_domain",
              "value": "google.com"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "filter",
              "value": "0"
            },
            {
              "name": "num",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "id": "06acb042-15b9-424c-9327-e7f41206bb3d",
      "name": "search request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1020,
        360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "newName",
              "value": "={{ $json.place_results.title }} {{ $json.local_results[0].title }}"
            },
            {
              "name": "tag1_OG",
              "value": "={{ $json.place_results.type[0] }} {{ $json.local_results[0].types[0] }}"
            },
            {
              "name": "tag2_OG",
              "value": "={{ $json.place_results.type[1] }} {{ $json.local_results[0].types[1] }}"
            },
            {
              "name": "tag3_OG",
              "value": "={{ $json.place_results.type[2] }} {{ $json.local_results[0].types[2] }}"
            },
            {
              "name": "address",
              "value": "={{ $json.place_results.address }} {{ $json.local_results[0].address }}"
            },
            {
              "name": "place_id",
              "value": "={{ $json.place_results.place_id }} {{ $json.local_results[0].place_id }}"
            },
            {
              "name": "reviews",
              "value": "={{ $json.place_results.reviews }} {{ $json.local_results[0].reviews }}"
            },
            {
              "name": "rating",
              "value": "={{ $json.place_results.rating }} {{ $json.local_results[0].rating }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.place_results.gps_coordinates.longitude }} {{ $json.local_results[0].gps_coordinates.longitude }}"
            },
            {
              "name": "latitude",
              "value": "={{ $json.place_results.gps_coordinates.latitude }} {{ $json.local_results[0].gps_coordinates.latitude }}"
            },
            {
              "name": "recID",
              "value": "={{ $('Get Coordinates').item.json.query.recID }}"
            },
            {
              "name": "desc",
              "value": "={{ $json.local_results[0].description }} {{ $json.place_results.description }} {{ $json.place_results.description.snippet }}"
            },
            {
              "name": "hours",
              "value": "={{\nJSON.stringify($json.local_results[0].operating_hours)\n}}"
            },
            {
              "name": "website",
              "value": "={{ $json.local_results[1].website }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.local_results[1].phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "313ca312-c83e-4097-9e21-b3880415201e",
      "name": "Set Map",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1220,
        160
      ]
    },
    {
      "parameters": {
        "keepOnlySet": "={{ $json.serpapi_pagination }}",
        "values": {
          "string": [
            {
              "name": "SearchResultsURL1",
              "value": "=[{{ $json.organic_results[0].source }}]({{ $json.organic_results[0].link }})"
            },
            {
              "name": "SearchResultsURL2",
              "value": "=[{{ $json.organic_results[1].source }}]({{ $json.organic_results[1].link }})"
            },
            {
              "name": "SearchResultsURL3",
              "value": "=[{{ $json.organic_results[2].source }}]({{ $json.organic_results[2].link }})"
            },
            {
              "name": "SearchResultsURL4",
              "value": "=[{{ $json.organic_results[3].source }}]({{ $json.organic_results[3].link }})"
            },
            {
              "name": "SearchResultsURL5",
              "value": "=[{{ $json.organic_results[4].source }}]({{ $json.organic_results[4].link }})"
            }
          ]
        },
        "options": {}
      },
      "id": "b687fc0d-4a1b-4d51-ba8a-9c9b781bfefa",
      "name": "Set Search",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1220,
        360
      ]
    },
    {
      "parameters": {
        "path": "e7f13515-005e-47a1-ace4-116f6a25249f",
        "options": {}
      },
      "id": "5194e588-eed4-4059-b02d-2192d9403a75",
      "name": "Create Txt File",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        560
      ],
      "webhookId": "e7f13515-005e-47a1-ace4-116f6a25249f"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "fileName",
              "value": "={{ $json.name }}"
            },
            {
              "name": "markdownTxt",
              "value": "={{ $json.Export }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ffe04c09-af2d-4f35-b9dc-000683062cf7",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1220,
        560
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD/viwKkrduvejeaPsHh?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "tblpKYbkauz8afxhD",
          "mode": "list",
          "cachedResultName": "POI",
          "cachedResultUrl": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD"
        },
        "id": "={{ $json.query.recID }}",
        "options": {}
      },
      "id": "3717332a-57f4-4936-8454-fa84ddb34d6f",
      "name": "Get Airtable Data",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1020,
        560
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "aINKDMKfVJk9h10R",
          "name": "4mb"
        }
      }
    },
    {
      "parameters": {
        "path": "d5a594e2-db80-4f42-8bf4-22dcb638a288",
        "options": {}
      },
      "id": "823d0661-0502-4761-b61e-dc3963243749",
      "name": "Get Cover Image",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        -40
      ],
      "webhookId": "d5a594e2-db80-4f42-8bf4-22dcb638a288"
    },
    {
      "parameters": {
        "operation": "get",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD/viwKkrduvejeaPsHh?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "tblpKYbkauz8afxhD",
          "mode": "list",
          "cachedResultName": "POI",
          "cachedResultUrl": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD"
        },
        "id": "={{ $json.query.recID }}{{ $json.recID }}",
        "options": {}
      },
      "id": "b936d725-f3c8-472c-9d43-dd9dbda42ab3",
      "name": "Get Airtable Data1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1020,
        -40
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "aINKDMKfVJk9h10R",
          "name": "4mb"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appUcPFZKE4ATjzNZ",
          "mode": "list",
          "cachedResultName": "Trip to Portugal",
          "cachedResultUrl": "https://airtable.com/appUcPFZKE4ATjzNZ"
        },
        "table": {
          "__rl": true,
          "value": "tblpKYbkauz8afxhD",
          "mode": "list",
          "cachedResultName": "POI",
          "cachedResultUrl": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Photo1_url": "={{ $json.Photo1_url }}",
            "Photo2_url": "={{ $json.Photo2_url }}",
            "Photo3_url": "={{ $json.Photo3_url }}",
            "recID": "={{ $('Get Cover Image').item.json.query.recID }}"
          },
          "matchingColumns": [
            "recID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "linkCities",
              "displayName": "linkCities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runMap",
              "displayName": "runMap",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runPhoto",
              "displayName": "runPhoto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runTop4",
              "displayName": "runTop4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runTXT",
              "displayName": "runTXT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo1",
              "displayName": "Photo1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo2",
              "displayName": "Photo2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo3",
              "displayName": "Photo3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo1_url",
              "displayName": "Photo1_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Photo2_url",
              "displayName": "Photo2_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Photo3_url",
              "displayName": "Photo3_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "newName2",
              "displayName": "newName2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Point",
                  "value": "Point"
                },
                {
                  "name": "Neighborhood",
                  "value": "Neighborhood"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "obsidianTag",
              "displayName": "obsidianTag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Museum",
                  "value": "Museum"
                },
                {
                  "name": "Tourist",
                  "value": "Tourist"
                },
                {
                  "name": "Church",
                  "value": "Church"
                },
                {
                  "name": "Spot",
                  "value": "Spot"
                },
                {
                  "name": "Neighborhood",
                  "value": "Neighborhood"
                },
                {
                  "name": "Garden",
                  "value": "Garden"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag1_OG",
              "displayName": "tag1_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag2_OG",
              "displayName": "tag2_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag3_OG",
              "displayName": "tag3_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag1_new",
              "displayName": "tag1_new",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "tag2_new",
              "displayName": "tag2_new",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "tag3_new",
              "displayName": "tag3_new",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "longitude",
              "displayName": "longitude",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "latitude",
              "displayName": "latitude",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "mapUrl",
              "displayName": "mapUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reviews",
              "displayName": "reviews",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "hours",
              "displayName": "hours",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "desc",
              "displayName": "desc",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Export",
              "displayName": "Export",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "recID",
              "displayName": "recID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "mapCommand",
              "displayName": "mapCommand",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "newName",
              "displayName": "newName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "place_id",
              "displayName": "place_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "232feab1-4647-47b8-b778-06d4593dc3ca",
      "name": "Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1620,
        -40
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "aINKDMKfVJk9h10R",
          "name": "4mb"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search?engine=google_images&q={{ $json.runCommand }}&type=search&api_key=80698fe6143bb3916bc802c41593a910a24a9cd3478208f801a362f675ad71f9 \n\n",
        "options": {}
      },
      "id": "c04d11b5-a817-4f77-9f55-36ebbcd919df",
      "name": "Google Maps Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        -40
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Photo1_url",
              "value": "={{ $json.images_results[0].original }}"
            },
            {
              "name": "Photo2_url",
              "value": "={{ $json.images_results[1].original }}"
            },
            {
              "name": "Photo3_url",
              "value": "={{ $json.images_results[2].original }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bc400522-7725-4083-81f9-1af86c243ac3",
      "name": "Set 3 Photos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1420,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD/viwKkrduvejeaPsHh?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD/viwKkrduvejeaPsHh?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "recID": "={{ $('Get Top 4').item.json.query.recID }}",
            "SearchResultsURL1": "={{ $json.SearchResultsURL1 }}",
            "SearchResultsURL2": "={{ $json.SearchResultsURL2 }}",
            "SearchResultsURL3": "={{ $json.SearchResultsURL3 }}",
            "SearchResultsURL4": "={{ $json.SearchResultsURL4 }}",
            "SearchResultsURL5": "={{ $json.SearchResultsURL5 }}"
          },
          "matchingColumns": [
            "recID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "linkCities",
              "displayName": "linkCities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runMap",
              "displayName": "runMap",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runPhoto",
              "displayName": "runPhoto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runPhotoUpdate",
              "displayName": "runPhotoUpdate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runTop4",
              "displayName": "runTop4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runTXT",
              "displayName": "runTXT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo1",
              "displayName": "Photo1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo2",
              "displayName": "Photo2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo3",
              "displayName": "Photo3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo1_url",
              "displayName": "Photo1_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo2_url",
              "displayName": "Photo2_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo3_url",
              "displayName": "Photo3_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "newName2",
              "displayName": "newName2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "runCommand",
              "displayName": "runCommand",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Point",
                  "value": "Point"
                },
                {
                  "name": "Neighborhood",
                  "value": "Neighborhood"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "obsidianTag",
              "displayName": "obsidianTag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Museum",
                  "value": "Museum"
                },
                {
                  "name": "Tourist",
                  "value": "Tourist"
                },
                {
                  "name": "Church",
                  "value": "Church"
                },
                {
                  "name": "Spot",
                  "value": "Spot"
                },
                {
                  "name": "Neighborhood",
                  "value": "Neighborhood"
                },
                {
                  "name": "Garden",
                  "value": "Garden"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag1_OG",
              "displayName": "tag1_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag2_OG",
              "displayName": "tag2_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag3_OG",
              "displayName": "tag3_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag1_new",
              "displayName": "tag1_new",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "tag2_new",
              "displayName": "tag2_new",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "tag3_new",
              "displayName": "tag3_new",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "longitude",
              "displayName": "longitude",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "latitude",
              "displayName": "latitude",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "mapUrl",
              "displayName": "mapUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reviews",
              "displayName": "reviews",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "hours",
              "displayName": "hours",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SearchResultsURL1",
              "displayName": "SearchResultsURL1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SearchResultsURL2",
              "displayName": "SearchResultsURL2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SearchResultsURL3",
              "displayName": "SearchResultsURL3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SearchResultsURL4",
              "displayName": "SearchResultsURL4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SearchResultsURL5",
              "displayName": "SearchResultsURL5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "desc",
              "displayName": "desc",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Export",
              "displayName": "Export",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "recID",
              "displayName": "recID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "newName",
              "displayName": "newName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "place_id",
              "displayName": "place_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {
          "updateAllMatches": true
        }
      },
      "id": "039a9a97-4ffd-4a9e-8e68-29d6dea3a622",
      "name": "Airtable2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1420,
        360
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "aINKDMKfVJk9h10R",
          "name": "4mb"
        }
      }
    },
    {
      "parameters": {
        "path": "93183da3-d7d9-464e-80d2-67d1dd7f87f0",
        "options": {}
      },
      "id": "c750bc13-7918-4024-9646-248cd6a6a745",
      "name": "Update Google Drive",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        760
      ],
      "webhookId": "93183da3-d7d9-464e-80d2-67d1dd7f87f0"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "fileName",
              "value": "={{ $json.name }}"
            },
            {
              "name": "markdownTxt",
              "value": "={{ $json.Export }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4bdfc2a-014b-408b-85e2-87007a8d1e2a",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1220,
        760
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "=markdownTxt",
        "options": {
          "fileName": "={{ $json.fileName }}.md",
          "keepSource": true,
          "mimeType": "application/json",
          "useRawData": true
        }
      },
      "id": "2e338b25-7dcc-4084-abe8-8abae6fae820",
      "name": "Move Binary Data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1420,
        760
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get Airtable Data2').item.json.driveID }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "newUpdatedFileName": "={{ $('Set1').item.json.fileName }}",
        "options": {}
      },
      "id": "18813a1c-1fc8-4990-a295-2f8ee0212553",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1620,
        760
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nW7nlrz7YTdeOqB7",
          "name": "4mb Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD/viwKkrduvejeaPsHh?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "tblpKYbkauz8afxhD",
          "mode": "list",
          "cachedResultName": "POI",
          "cachedResultUrl": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD"
        },
        "id": "={{ $json.query.recID }}",
        "options": {}
      },
      "id": "35cae57b-6fe6-4417-9d8a-3a00ef0c5912",
      "name": "Get Airtable Data2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1020,
        760
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "aINKDMKfVJk9h10R",
          "name": "4mb"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD/viwKkrduvejeaPsHh?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD/viwKkrduvejeaPsHh?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "recID": "={{ $('Get Airtable Data').item.json.recID }}",
            "driveFileURL": "={{ $json.webViewLink }}",
            "driveID": "={{ $json.id }}",
            "lastSyncedDrive_OG": "={{ Date().toString() }}"
          },
          "matchingColumns": [
            "recID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "linkCities",
              "displayName": "linkCities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runMap",
              "displayName": "runMap",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runPhoto",
              "displayName": "runPhoto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runTop4",
              "displayName": "runTop4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runTXT",
              "displayName": "runTXT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runUpdate",
              "displayName": "runUpdate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo1",
              "displayName": "Photo1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo2",
              "displayName": "Photo2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo3",
              "displayName": "Photo3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Point",
                  "value": "Point"
                },
                {
                  "name": "Area",
                  "value": "Area"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "obsidianTag",
              "displayName": "obsidianTag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "#Amusement_Park",
                  "value": "#Amusement_Park"
                },
                {
                  "name": "#Aquarium",
                  "value": "#Aquarium"
                },
                {
                  "name": "#Beach",
                  "value": "#Beach"
                },
                {
                  "name": "#Bridge",
                  "value": "#Bridge"
                },
                {
                  "name": "#Building",
                  "value": "#Building"
                },
                {
                  "name": "#Building/Complex",
                  "value": "#Building/Complex"
                },
                {
                  "name": "#Building/Hotel",
                  "value": "#Building/Hotel"
                },
                {
                  "name": "#Building/Library",
                  "value": "#Building/Library"
                },
                {
                  "name": "#Building/Spa",
                  "value": "#Building/Spa"
                },
                {
                  "name": "#Camping",
                  "value": "#Camping"
                },
                {
                  "name": "#Castle",
                  "value": "#Castle"
                },
                {
                  "name": "#Church",
                  "value": "#Church"
                },
                {
                  "name": "#Classes/Surfing",
                  "value": "#Classes/Surfing"
                },
                {
                  "name": "#Classes/Yoga",
                  "value": "#Classes/Yoga"
                },
                {
                  "name": "#Food/Bakery",
                  "value": "#Food/Bakery"
                },
                {
                  "name": "#Food/Bar",
                  "value": "#Food/Bar"
                },
                {
                  "name": "#Food/Cafe",
                  "value": "#Food/Cafe"
                },
                {
                  "name": "#Food/Farm",
                  "value": "#Food/Farm"
                },
                {
                  "name": "#Food/FoodCourt",
                  "value": "#Food/FoodCourt"
                },
                {
                  "name": "#Food/Restaurant",
                  "value": "#Food/Restaurant"
                },
                {
                  "name": "#Food/Vinyard",
                  "value": "#Food/Vinyard"
                },
                {
                  "name": "#Food/Wine",
                  "value": "#Food/Wine"
                },
                {
                  "name": "#Gallary",
                  "value": "#Gallary"
                },
                {
                  "name": "#Garden",
                  "value": "#Garden"
                },
                {
                  "name": "#Hike",
                  "value": "#Hike"
                },
                {
                  "name": "#Mall",
                  "value": "#Mall"
                },
                {
                  "name": "#Market",
                  "value": "#Market"
                },
                {
                  "name": "#Monument",
                  "value": "#Monument"
                },
                {
                  "name": "#Museum",
                  "value": "#Museum"
                },
                {
                  "name": "#Music",
                  "value": "#Music"
                },
                {
                  "name": "#Neighborhood",
                  "value": "#Neighborhood"
                },
                {
                  "name": "#Palace",
                  "value": "#Palace"
                },
                {
                  "name": "#Park",
                  "value": "#Park"
                },
                {
                  "name": "#Scenic_Spot",
                  "value": "#Scenic_Spot"
                },
                {
                  "name": "#Square",
                  "value": "#Square"
                },
                {
                  "name": "#Store",
                  "value": "#Store"
                },
                {
                  "name": "#Store/Books",
                  "value": "#Store/Books"
                },
                {
                  "name": "#Store/Vintage",
                  "value": "#Store/Vintage"
                },
                {
                  "name": "#Street",
                  "value": "#Street"
                },
                {
                  "name": "#Street_Art",
                  "value": "#Street_Art"
                },
                {
                  "name": "#Sunset",
                  "value": "#Sunset"
                },
                {
                  "name": "#Surf",
                  "value": "#Surf"
                },
                {
                  "name": "#Theater",
                  "value": "#Theater"
                },
                {
                  "name": "#Zoo",
                  "value": "#Zoo"
                },
                {
                  "name": "#Club",
                  "value": "#Club"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "newName",
              "displayName": "newName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "newName2",
              "displayName": "newName2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "desc",
              "displayName": "desc",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "mapUrl",
              "displayName": "mapUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SearchResultsURL1_Final",
              "displayName": "SearchResultsURL1_Final",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SearchResultsURL2_Final",
              "displayName": "SearchResultsURL2_Final",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SearchResultsURL3_Final",
              "displayName": "SearchResultsURL3_Final",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SearchResultsURL4_Final",
              "displayName": "SearchResultsURL4_Final",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SearchResultsURL5_Final",
              "displayName": "SearchResultsURL5_Final",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "driveID",
              "displayName": "driveID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "driveFileURL",
              "displayName": "driveFileURL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastSyncedDrive_OG",
              "displayName": "lastSyncedDrive_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastSyncedDrive",
              "displayName": "lastSyncedDrive",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Export",
              "displayName": "Export",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Photo1_url",
              "displayName": "Photo1_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo2_url",
              "displayName": "Photo2_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo3_url",
              "displayName": "Photo3_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runCommand",
              "displayName": "runCommand",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "obsidianTag_copy",
              "displayName": "obsidianTag_copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "tag1_OG",
              "displayName": "tag1_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag2_OG",
              "displayName": "tag2_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag3_OG",
              "displayName": "tag3_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "place_id",
              "displayName": "place_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "longitude",
              "displayName": "longitude",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "latitude",
              "displayName": "latitude",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reviews",
              "displayName": "reviews",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "hours",
              "displayName": "hours",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "hours_parsed",
              "displayName": "hours_parsed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SearchResultsURL1",
              "displayName": "SearchResultsURL1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SearchResultsURL2",
              "displayName": "SearchResultsURL2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SearchResultsURL3",
              "displayName": "SearchResultsURL3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SearchResultsURL4",
              "displayName": "SearchResultsURL4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SearchResultsURL5",
              "displayName": "SearchResultsURL5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "recID",
              "displayName": "recID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "0ec23cb9-fcbe-49b3-a181-444928b20667",
      "name": "Add DriveID",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1820,
        560
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "aINKDMKfVJk9h10R",
          "name": "4mb"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Set').item.json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1LMND16BJfn94HjZPnkEQLPWIi-ThD69C",
          "mode": "url",
          "__regex": "https:\\/\\/drive\\.google\\.com(?:\\/.*|)\\/folders\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1APd9Dg8K3YJ-eLM1WCgHmYXDe2y-_PqF",
          "mode": "url",
          "__regex": "https:\\/\\/drive\\.google\\.com(?:\\/.*|)\\/folders\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "options": {}
      },
      "id": "43450f1a-4fa8-4892-af5a-ee760994747c",
      "name": "Create File in Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1620,
        560
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nW7nlrz7YTdeOqB7",
          "name": "4mb Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "=markdownTxt",
        "options": {
          "fileName": "={{ $json.fileName }}.md",
          "keepSource": true,
          "mimeType": "application/json",
          "useRawData": true
        }
      },
      "id": "8ff67be4-fbb1-447b-aea8-5495ea90de8e",
      "name": "Create File",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1420,
        560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD/viwKkrduvejeaPsHh?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appUcPFZKE4ATjzNZ/tblpKYbkauz8afxhD/viwKkrduvejeaPsHh?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "driveID": "={{ $('Google Drive1').item.json.id }}",
            "recID": "={{ $('Get Airtable Data2').item.json.recID }}",
            "lastSyncedDrive_OG": "={{Date().toString()}}"
          },
          "matchingColumns": [
            "recID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "linkCities",
              "displayName": "linkCities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runMap",
              "displayName": "runMap",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runPhoto",
              "displayName": "runPhoto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runTop4",
              "displayName": "runTop4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runTXT",
              "displayName": "runTXT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runUpdate",
              "displayName": "runUpdate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo1",
              "displayName": "Photo1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo2",
              "displayName": "Photo2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo3",
              "displayName": "Photo3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "object",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Point",
                  "value": "Point"
                },
                {
                  "name": "Area",
                  "value": "Area"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "obsidianTag",
              "displayName": "obsidianTag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "#Amusement_Park",
                  "value": "#Amusement_Park"
                },
                {
                  "name": "#Aquarium",
                  "value": "#Aquarium"
                },
                {
                  "name": "#Beach",
                  "value": "#Beach"
                },
                {
                  "name": "#Bridge",
                  "value": "#Bridge"
                },
                {
                  "name": "#Building",
                  "value": "#Building"
                },
                {
                  "name": "#Building/Complex",
                  "value": "#Building/Complex"
                },
                {
                  "name": "#Building/Hotel",
                  "value": "#Building/Hotel"
                },
                {
                  "name": "#Building/Library",
                  "value": "#Building/Library"
                },
                {
                  "name": "#Building/Spa",
                  "value": "#Building/Spa"
                },
                {
                  "name": "#Camping",
                  "value": "#Camping"
                },
                {
                  "name": "#Castle",
                  "value": "#Castle"
                },
                {
                  "name": "#Church",
                  "value": "#Church"
                },
                {
                  "name": "#Classes/Surfing",
                  "value": "#Classes/Surfing"
                },
                {
                  "name": "#Classes/Yoga",
                  "value": "#Classes/Yoga"
                },
                {
                  "name": "#Food/Bakery",
                  "value": "#Food/Bakery"
                },
                {
                  "name": "#Food/Bar",
                  "value": "#Food/Bar"
                },
                {
                  "name": "#Food/Cafe",
                  "value": "#Food/Cafe"
                },
                {
                  "name": "#Food/Farm",
                  "value": "#Food/Farm"
                },
                {
                  "name": "#Food/FoodCourt",
                  "value": "#Food/FoodCourt"
                },
                {
                  "name": "#Food/Restaurant",
                  "value": "#Food/Restaurant"
                },
                {
                  "name": "#Food/Vinyard",
                  "value": "#Food/Vinyard"
                },
                {
                  "name": "#Food/Wine",
                  "value": "#Food/Wine"
                },
                {
                  "name": "#Gallary",
                  "value": "#Gallary"
                },
                {
                  "name": "#Garden",
                  "value": "#Garden"
                },
                {
                  "name": "#Hike",
                  "value": "#Hike"
                },
                {
                  "name": "#Mall",
                  "value": "#Mall"
                },
                {
                  "name": "#Market",
                  "value": "#Market"
                },
                {
                  "name": "#Monument",
                  "value": "#Monument"
                },
                {
                  "name": "#Museum",
                  "value": "#Museum"
                },
                {
                  "name": "#Music",
                  "value": "#Music"
                },
                {
                  "name": "#Neighborhood",
                  "value": "#Neighborhood"
                },
                {
                  "name": "#Palace",
                  "value": "#Palace"
                },
                {
                  "name": "#Park",
                  "value": "#Park"
                },
                {
                  "name": "#Scenic_Spot",
                  "value": "#Scenic_Spot"
                },
                {
                  "name": "#Square",
                  "value": "#Square"
                },
                {
                  "name": "#Store",
                  "value": "#Store"
                },
                {
                  "name": "#Store/Books",
                  "value": "#Store/Books"
                },
                {
                  "name": "#Store/Vintage",
                  "value": "#Store/Vintage"
                },
                {
                  "name": "#Street",
                  "value": "#Street"
                },
                {
                  "name": "#Street_Art",
                  "value": "#Street_Art"
                },
                {
                  "name": "#Sunset",
                  "value": "#Sunset"
                },
                {
                  "name": "#Surf",
                  "value": "#Surf"
                },
                {
                  "name": "#Theater",
                  "value": "#Theater"
                },
                {
                  "name": "#Zoo",
                  "value": "#Zoo"
                },
                {
                  "name": "#Club",
                  "value": "#Club"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "newName",
              "displayName": "newName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "newName2",
              "displayName": "newName2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "desc",
              "displayName": "desc",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "mapUrl",
              "displayName": "mapUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SearchResultsURL1_Final",
              "displayName": "SearchResultsURL1_Final",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SearchResultsURL2_Final",
              "displayName": "SearchResultsURL2_Final",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SearchResultsURL3_Final",
              "displayName": "SearchResultsURL3_Final",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SearchResultsURL4_Final",
              "displayName": "SearchResultsURL4_Final",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SearchResultsURL5_Final",
              "displayName": "SearchResultsURL5_Final",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "driveID",
              "displayName": "driveID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "driveFileURL",
              "displayName": "driveFileURL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastSyncedDrive_OG",
              "displayName": "lastSyncedDrive_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastSyncedDrive",
              "displayName": "lastSyncedDrive",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Export",
              "displayName": "Export",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Photo1_url",
              "displayName": "Photo1_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo2_url",
              "displayName": "Photo2_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo3_url",
              "displayName": "Photo3_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "runCommand",
              "displayName": "runCommand",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "obsidianTag_copy",
              "displayName": "obsidianTag_copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "tag1_OG",
              "displayName": "tag1_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag2_OG",
              "displayName": "tag2_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag3_OG",
              "displayName": "tag3_OG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "place_id",
              "displayName": "place_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "longitude",
              "displayName": "longitude",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "latitude",
              "displayName": "latitude",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reviews",
              "displayName": "reviews",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "hours",
              "displayName": "hours",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "hours_parsed",
              "displayName": "hours_parsed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SearchResultsURL1",
              "displayName": "SearchResultsURL1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SearchResultsURL2",
              "displayName": "SearchResultsURL2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SearchResultsURL3",
              "displayName": "SearchResultsURL3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SearchResultsURL4",
              "displayName": "SearchResultsURL4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SearchResultsURL5",
              "displayName": "SearchResultsURL5",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "recID",
              "displayName": "recID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {
          "updateAllMatches": true
        }
      },
      "id": "0f778258-719f-4ef9-8a55-99924a12e1e6",
      "name": "Sync Timestamp",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2000,
        760
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "aINKDMKfVJk9h10R",
          "name": "4mb"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "lastSyncedDrive_OG",
              "value": "={{ Date().toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b23df652-05f8-45b3-bd43-598da87ed204",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1820,
        760
      ]
    }
  ],
  "pinData": {
    "Create Txt File": [
      {
        "json": {
          "headers": {
            "host": "n8n-production-4m.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "x-airtable-source": "appUcPFZKE4ATjzNZ/wfltOpJDVv4cbVH21",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "x-forwarded-for": "54.167.199.48",
            "x-forwarded-proto": "https",
            "x-envoy-external-address": "54.167.199.48",
            "x-request-id": "4d0fbee9-e4f9-4123-b750-a50ccfe70035"
          },
          "params": {},
          "query": {
            "recID": "recvftIyXIis4A7H6"
          },
          "body": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Update Google Drive": [
      {
        "json": {
          "headers": {
            "host": "n8n-production-4m.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "x-airtable-source": "appUcPFZKE4ATjzNZ/wflsedp3t7JvhXmoB",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "x-forwarded-for": "3.215.142.160",
            "x-forwarded-proto": "https",
            "x-envoy-external-address": "3.215.142.160",
            "x-request-id": "ba585afe-b182-4f61-8470-8a28cabe5696"
          },
          "params": {},
          "query": {
            "recID": "recvftIyXIis4A7H6"
          },
          "body": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 5,
  "updatedAt": "2023-08-15T11:03:52.999Z",
  "versionId": "00d518d9-aa40-49d0-b510-184ee5eaa108"
}