workflows/Update Dealflow Status from Telegram.json
{
  "active": false,
  "connections": {
    "Trigger from Telegram Chat": {
      "main": [
        [
          {
            "node": "Only BotCommands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Dealflow Command": {
      "main": [
        [
          {
            "node": "emoji_ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Only BotCommands": {
      "main": [
        [
          {
            "node": "Only Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Form_ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "ThreadID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Command": {
      "main": [
        [
          {
            "node": "Find Dealflow Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ThreadID": {
      "main": [
        [
          {
            "node": "Found Property",
            "type": "main",
            "index": 0
          },
          {
            "node": "ThreadIdOnly",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Found Property": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "propertyInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "PropRecID DealflowRecID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "emoji_ID": {
      "main": [
        [
          {
            "node": "emojiID forumID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form_ID": {
      "main": [
        [
          {
            "node": "emojiID forumID",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PropRecID DealflowRecID": {
      "main": [
        [
          {
            "node": "Update Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Property": {
      "main": [
        [
          {
            "node": "ThreadIdOnly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Telegram Topic": {
      "main": [
        [
          {
            "node": "Wait for HTTP",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ThreadIdOnly": {
      "main": [
        [
          {
            "node": "ThreadID EmojiID ForumID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "emojiID forumID": {
      "main": [
        [
          {
            "node": "ThreadID EmojiID ForumID",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ThreadID EmojiID ForumID": {
      "main": [
        [
          {
            "node": "Update Telegram Topic",
            "type": "main",
            "index": 0
          },
          {
            "node": "All Info",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "propertyInfo": {
      "main": [
        [
          {
            "node": "Wait for HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for HTTP": {
      "main": [
        [
          {
            "node": "All Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Info": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-11T02:44:53.774Z",
  "id": "2",
  "name": "Update Dealflow Status from Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e7257564-d9fa-4538-aa72-79d6ae1e3974",
        "options": {}
      },
      "id": "9e395517-1d9f-4512-931e-a466d646ba52",
      "name": "Trigger from Telegram Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        580,
        540
      ],
      "webhookId": "e7257564-d9fa-4538-aa72-79d6ae1e3974"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tbljxtTmE5bkNR9JF/viwd2CjxZgi5Cb32I?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tbljxtTmE5bkNR9JF/viwd2CjxZgi5Cb32I?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "additionalOptions": {
          "filterByFormula": "={botCommand}='{{ $json.command }}'"
        }
      },
      "id": "77d0f2de-55e4-4b2b-bd99-a9ebad0e94e6",
      "name": "Find Dealflow Command",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1120,
        540
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "2",
          "name": "S8 Airtable"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body[0].message.from.is_bot }}"
            }
          ],
          "string": [
            {
              "value1": "={{ $json.body[0].message.text }}",
              "operation": "regex",
              "value2": "=(\\/\\w+@P0m0shnik11_Bot)"
            }
          ]
        }
      },
      "id": "c1d25604-64ae-4b62-a1eb-2d9ec943b3ee",
      "name": "Only BotCommands",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        760,
        540
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "command",
              "value": "={{ $json.body[0].message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eacc9167-0dd6-46c9-90cc-3b07566618a7",
      "name": "Only Command",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        940,
        540
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "ThreadID",
              "value": "={{ $json.body[0].message.reply_to_message.message_thread_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2bd1f899-6f8e-4c91-8eb3-31f28cf61440",
      "name": "ThreadID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tblsVZi3J87BSHvNX/viwnhPk6UMqoIWH9Y?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tblsVZi3J87BSHvNX/viwnhPk6UMqoIWH9Y/fldvyyERaruHZmHe8",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "returnAll": false,
        "limit": 1,
        "additionalOptions": {
          "fields": [],
          "filterByFormula": "={telegramThreadID}='{{ $json.ThreadID }}'"
        }
      },
      "id": "49c6116e-84b4-4650-99c5-97ddd13b6f3d",
      "name": "Found Property",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1980,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "2",
          "name": "S8 Airtable"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tblsVZi3J87BSHvNX/viwnhPk6UMqoIWH9Y?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tblsVZi3J87BSHvNX/viwnhPk6UMqoIWH9Y/fld3oq0TOOfS24vne",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "id": "={{ $json.propID }}",
        "updateAllFields": false,
        "fields": [
          "linkDealflow"
        ],
        "options": {
          "bulkSize": 10,
          "typecast": true
        }
      },
      "id": "5c63da42-959e-4932-b083-30d41e360966",
      "name": "Update Property",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1980,
        520
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "2",
          "name": "S8 Airtable"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "10a0005e-dfea-4e01-89cb-f32d7acdc1f4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1700,
        520
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "emojiID",
              "value": "={{ $json.fields.icon_custom_emoji_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1914e329-2f11-4c0f-b3a1-9fc725a75f4a",
      "name": "emoji_ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1280,
        800
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "formID",
              "value": "={{ $json.body[0].message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8b3c74a5-0f3c-46b7-94a3-445534f7667f",
      "name": "Form_ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1280,
        960
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "propID",
              "value": "={{ $json.fields['H-RecordID'] }}"
            },
            {
              "name": "linkDealflow",
              "value": "={{ $json.fields['H-DealflowRecID'] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "aa1e996a-f0b0-417f-8f9a-464c93c48730",
      "name": "PropRecID DealflowRecID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1840,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot5915934616:AAGESDx8tDTznWASDbefd4UtufS5qodJLUc/editForumTopic",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.formID }}"
            },
            {
              "name": "message_thread_id",
              "value": "={{ $json.ThreadID }}"
            },
            {
              "name": "icon_custom_emoji_id",
              "value": "={{ $json.emojiID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b64ca457-e6a3-4d03-abd4-3ef56ed1a869",
      "name": "Update Telegram Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2600,
        760
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "08463acf-4576-4920-ac13-e58dbec62fb9",
      "name": "ThreadIdOnly",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2160,
        700
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "255743d4-d23e-417c-a437-0050dd8f8f5a",
      "name": "emojiID forumID",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2160,
        960
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "64998aa9-e7bf-4a80-8e34-4065821a0100",
      "name": "ThreadID EmojiID ForumID",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2380,
        820
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "pinnedMessageID",
              "value": "={{ $json.fields.telegramPinnedMessageID }}"
            },
            {
              "name": "dealflowStatusWithEmoji",
              "value": "={{ $json.fields['H-dealflow'] }}"
            },
            {
              "name": "propertyAddress",
              "value": "={{ $json.fields.propAddFull }}"
            },
            {
              "name": "priceListed",
              "value": "={{ $json.fields.priceListed }}"
            },
            {
              "name": "Size",
              "value": "={{ $json.fields.propSize }}"
            },
            {
              "name": "zillowURL",
              "value": "={{ $json.fields.zillowURL }}"
            },
            {
              "name": "airtableURL",
              "value": "=https://airtable.com/appqrf0R6JhZfIoeZ/tblsVZi3J87BSHvNX/viwnhPk6UMqoIWH9Y/{{ $json.id }}"
            },
            {
              "name": "driveURL",
              "value": "={{ $json.fields['H-urlDrive'] }}"
            },
            {
              "name": "beds",
              "value": "={{ $json.fields.propBed }}"
            },
            {
              "name": "baths",
              "value": "={{ $json.fields.propBath }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ddbec487-696c-45ec-8444-09d67fbe8572",
      "name": "propertyInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2380,
        300
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "e4af3fce-1ce9-4db3-8225-4dac2ec04bbf",
      "name": "Wait for HTTP",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2780,
        660
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "fab9bbb5-7632-4cbf-a5d1-5fec42090778",
      "name": "All Info",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3000,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot5915934616:AAGESDx8tDTznWASDbefd4UtufS5qodJLUc/editMessageCaption",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.formID }}"
            },
            {
              "name": "message_id",
              "value": "={{ $json.pinnedMessageID }}"
            },
            {
              "name": "caption",
              "value": "=*{{ $json.dealflowStatusWithEmoji }}*\n{{ $json.propertyAddress }}\n${{ $json[\"priceListed\"] }} \\| {{ $json[\"beds\"] }} bed \\| {{ $json[\"baths\"] }} bath \\| {{ $json[\"Size\"] }} sqft\n[Zillow]({{ $json[\"zillowURL\"] }}) \\| [Airtable]({{ $json[\"airtableURL\"] }}) \\| [Drive]({{ $json[\"driveURL\"] }})"
            },
            {
              "name": "parse_mode",
              "value": "MarkdownV2"
            }
          ]
        },
        "options": {}
      },
      "id": "84b0ae7d-d8f9-4ca7-89d3-88b1caf32a24",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3220,
        960
      ]
    }
  ],
  "pinData": {
    "Trigger from Telegram Chat": [
      {
        "json": {
          "headers": {
            "host": "amb1t1on.app.n8n.cloud",
            "x-request-id": "5510f45af2a2ced8b3fd1101a8c302b8",
            "x-real-ip": "142.44.96.130",
            "x-forwarded-for": "142.44.96.130",
            "x-forwarded-host": "amb1t1on.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-scheme": "https",
            "x-scheme": "https",
            "content-length": "1784",
            "content-type": "application/json",
            "user-agent": "PostmanRuntime/7.32.3",
            "accept": "*/*",
            "postman-token": "547b33ee-668f-4b1a-bb09-fd3bf9e43906",
            "accept-encoding": "gzip, deflate, br"
          },
          "params": {},
          "query": {},
          "body": [
            {
              "update_id": 514745497,
              "message": {
                "message_id": 3142,
                "from": {
                  "id": 384291172,
                  "is_bot": false,
                  "first_name": "Alex",
                  "last_name": "Miles",
                  "username": "AMOnition",
                  "language_code": "en",
                  "is_premium": true
                },
                "chat": {
                  "id": -1001981172279,
                  "title": "S8 OH Toledo",
                  "is_forum": true,
                  "type": "supergroup"
                },
                "date": 1689044450,
                "message_thread_id": 61,
                "reply_to_message": {
                  "message_id": 61,
                  "from": {
                    "id": 5915934616,
                    "is_bot": true,
                    "first_name": "S8_Bot",
                    "username": "P0m0shnik11_Bot"
                  },
                  "chat": {
                    "id": -1001981172279,
                    "title": "S8 OH Toledo",
                    "is_forum": true,
                    "type": "supergroup"
                  },
                  "date": 1686677768,
                  "message_thread_id": 61,
                  "forum_topic_created": {
                    "name": "P102 2437 Caledonia St",
                    "icon_color": 7322096,
                    "icon_custom_emoji_id": "5312486108309757006"
                  },
                  "is_topic_message": true
                },
                "text": "/notpurchased@P0m0shnik11_Bot",
                "entities": [
                  {
                    "offset": 0,
                    "length": 29,
                    "type": "bot_command"
                  }
                ],
                "is_topic_message": true
              }
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-07-14T15:28:22.000Z",
  "versionId": "18af74c8-1fea-4d71-aad8-ee4e72d3ecaa"
}