workflows/Update Dealflow from Telegram Command.json
{
  "active": true,
  "connections": {
    "Filter BotCommands": {
      "main": [
        [
          {
            "node": "Find Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Command": {
      "main": [
        [
          {
            "node": "Find Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Property": {
      "main": [
        [
          {
            "node": "Set Property Dealflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Property Dealflow": {
      "main": [
        [
          {
            "node": "Update Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Property Dealflow": {
      "main": [
        [
          {
            "node": "Update Property Dealflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook from Telegram": {
      "main": [
        [
          {
            "node": "Filter BotCommands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Topic": {
      "main": [
        [
          {
            "node": "Update Pinned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-15T14:21:34.323Z",
  "id": "v1GbdWJOXpaAvJR1",
  "name": "Update Dealflow from Telegram Command",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot5915934616:AAGESDx8tDTznWASDbefd4UtufS5qodJLUc/editMessageCaption",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Filter BotCommands').item.json.body.message.chat.id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $('Find Property').item.json.fields.telegramPinnedMessageID }}"
            },
            {
              "name": "caption",
              "value": "=*{{ $('Find Command').item.json[\"fields\"][\"Dealflow\"] }}*\n{{ $('Find Property').item.json[\"fields\"][\"propAddFull\"] }}\n${{ $('Update Property Dealflow').item.json[\"fields\"][\"priceListed\"] }} \\| {{ $('Update Property Dealflow').item.json[\"fields\"][\"propBed\"] }} bed \\| {{ $('Update Property Dealflow').item.json[\"fields\"][\"propBath\"] }} bath \\| {{ $('Update Property Dealflow').item.json[\"fields\"][\"propSize\"] }} sqft\n[Zillow]({{ $('Update Property Dealflow').item.json[\"fields\"][\"zillowURL\"] }}) \\| [Airtable](https://airtable.com/appqrf0R6JhZfIoeZ/tblsVZi3J87BSHvNX/viwnhPk6UMqoIWH9Y/{{ $('Find Property').item.json[\"fields\"][\"H-RecordID\"] }}) \\| [Drive]({{ $('Find Property').item.json[\"fields\"][\"H-urlDrive\"] }})"
            },
            {
              "name": "parse_mode",
              "value": "MarkdownV2"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "327740de-2705-419c-9261-706a7bb43a05",
      "name": "Update Pinned",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        700
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot5915934616:AAGESDx8tDTznWASDbefd4UtufS5qodJLUc/editForumTopic",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Filter BotCommands').item.json.body.message.chat.id }}"
            },
            {
              "name": "message_thread_id",
              "value": "={{ $('Filter BotCommands').item.json.body.message.message_thread_id }}"
            },
            {
              "name": "icon_custom_emoji_id",
              "value": "={{ $('Find Command').item.json.fields.icon_custom_emoji_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "d9b3ed31-7085-4f06-93f5-ea7b39ea39bf",
      "name": "Update Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        840,
        700
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.message.from.is_bot }}"
            }
          ],
          "string": [
            {
              "value1": "={{ $json.body.message.text }}",
              "operation": "regex",
              "value2": "=(\\/\\w+@P0m0shnik11_Bot)"
            }
          ]
        }
      },
      "id": "b65b1f03-a85d-4991-b74d-8b92a73e51ae",
      "name": "Filter BotCommands",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -60,
        700
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tbljxtTmE5bkNR9JF/viwd2CjxZgi5Cb32I?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tbljxtTmE5bkNR9JF/viwd2CjxZgi5Cb32I?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "additionalOptions": {
          "filterByFormula": "={botCommand}='{{ $json.body.message.text }}'"
        }
      },
      "id": "a62d4aa8-34cb-4eea-88f3-26ff0204da8a",
      "name": "Find Command",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        120,
        700
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "BNhG76b6vOTpVP0E",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tblsVZi3J87BSHvNX/viwnhPk6UMqoIWH9Y?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tblsVZi3J87BSHvNX/viwnhPk6UMqoIWH9Y/fldvyyERaruHZmHe8",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "returnAll": false,
        "limit": 1,
        "additionalOptions": {
          "fields": [],
          "filterByFormula": "={telegramThreadID}='{{ $('Filter BotCommands').item.json.body.message.message_thread_id }}'"
        }
      },
      "id": "58699120-56f5-4251-aa83-dcae0c5fe531",
      "name": "Find Property",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        300,
        700
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "BNhG76b6vOTpVP0E",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tblsVZi3J87BSHvNX/viwnhPk6UMqoIWH9Y?blocks=hide",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appqrf0R6JhZfIoeZ/tblsVZi3J87BSHvNX/viwnhPk6UMqoIWH9Y/fld3oq0TOOfS24vne",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "id": "={{ $('Find Property').item.json.id }}",
        "options": {
          "typecast": true
        }
      },
      "id": "bd0ec91c-4a96-4584-afd4-f1277f56420a",
      "name": "Update Property Dealflow",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        660,
        700
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "BNhG76b6vOTpVP0E",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "linkDealflow",
              "value": "={{ $json.fields.linkDealflow[0] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "862c842e-1156-4462-ae71-3bcc85ecf2d7",
      "name": "Set Property Dealflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        700
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5211ef31-17c7-4028-993e-e5564fd92128",
        "options": {}
      },
      "id": "5ef4d5e3-86d6-4b69-aff3-b64334ec9bed",
      "name": "Webhook from Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -240,
        700
      ],
      "webhookId": "5211ef31-17c7-4028-993e-e5564fd92128"
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "id": "PVnQTyu9cfSsyVTC",
      "createdAt": "2023-07-15T03:18:12.948Z",
      "updatedAt": "2023-07-30T03:29:42.722Z",
      "name": "Telegram"
    },
    {
      "id": "LY1Kj6pTibELWGKc",
      "createdAt": "2023-07-17T21:49:47.710Z",
      "updatedAt": "2023-07-30T03:29:52.918Z",
      "name": "Airtable"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-07-17T21:49:50.290Z",
  "versionId": "ad6a4936-f8e0-49b7-8d81-a6cb21e92d29"
}