prod/IYI2oAiiYaDMBc5r.json
{
  "active": true,
  "connections": {
    "/telegram-property-notification": {
      "main": [
        [
          {
            "node": "host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "host": {
      "main": [
        [
          {
            "node": "inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inputs": {
      "main": [
        [
          {
            "node": "property_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "property_id": {
      "main": [
        [
          {
            "node": "view_properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "view_properties": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateRealtorTopic?": {
      "main": [
        [
          {
            "node": "topicExists?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/closeForumTopic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "topicExists?": {
      "main": [
        [],
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "updateRealtorTopic?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "logic here",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-10T23:17:08.415Z",
  "execution_id": "24577",
  "id": "IYI2oAiiYaDMBc5r",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "/telegram-property-notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-property-notification",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -5
      ],
      "id": "1cecc921-1d4b-423e-bbe7-a401b4e0e425",
      "name": "/telegram-property-notification",
      "webhookId": "40b3e4cc-8ea6-4aad-ad8c-5d6d8c09bc1a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3b102a1-31d0-4c5c-8ce4-fbdce65237fb",
              "leftValue": "={{ $json.headers.host }}",
              "rightValue": "n8n.railway.internal:5678",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        220,
        -5
      ],
      "id": "8be6a8c3-5849-439c-9cae-f41005dccce4",
      "name": "host"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "496e815b-0525-4699-b29c-5103a448fb52",
              "name": "property_id",
              "value": "=800",
              "type": "string"
            },
            {
              "id": "5a509075-fc21-4e01-b73a-5ca050eca640",
              "name": "updated_column",
              "value": "={{ $json.query.updated_column }}",
              "type": "string"
            },
            {
              "id": "ce8f7f8c-de36-4ac6-acc1-1a0b77f97fd7",
              "name": "updated_value",
              "value": "={{ $json.query.updated_value }}",
              "type": "string"
            },
            {
              "id": "34a42f6a-63c2-4475-9c87-b22610996925",
              "name": "updated_column_type",
              "value": "={{ $json.query.updated_column_type }}",
              "type": "string"
            },
            {
              "id": "9aaf6714-1f20-4c6a-b716-9bad66c39c82",
              "name": "updated_by",
              "value": "={{ $json.query.updated_by }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -5
      ],
      "id": "adc3e8a2-717a-45a4-8c18-ff12da15a189",
      "name": "inputs"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "property_id",
              "value": "={{ $json.property_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        660,
        -5
      ],
      "id": "5e3a2831-656e-4ef8-8ab0-1c64f4bf23a4",
      "name": "property_id"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "view_properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.property_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        -5
      ],
      "id": "af88bce2-541f-4227-9fef-7cd185dd03d6",
      "name": "view_properties",
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02fb6b80-7dd1-495b-ac89-ab95909e4751",
              "leftValue": "={{ $('get status').item.json.update_realtor_topic }}",
              "rightValue": "Purchased",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        -105
      ],
      "id": "07ac4f9f-8ceb-45df-8076-a715bb37934f",
      "name": "updateRealtorTopic?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot5915934616:AAGESDx8tDTznWASDbefd4UtufS5qodJLUc/closeForumTopic",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "=-100{{ $('view_properties').item.json.telegram_realtor_forum }}"
            },
            {
              "name": "message_thread_id",
              "value": "={{ $('view_properties').item.json.telegram_realtor_topic_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -5
      ],
      "id": "45b8654c-fa39-4f14-a61e-490b17fb92df",
      "name": "/closeForumTopic"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbcc66a2-94c1-4ac3-a4af-cc0d6c2f3613",
              "leftValue": "={{ $('view_properties').item.json.telegram_realtor_topic_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        -205
      ],
      "id": "19d80b81-8983-4959-a764-c521cb652424",
      "name": "topicExists?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('view_properties').item.json.realtor_assigned != null && $('view_properties').item.json.telegram_realtor_forum != null}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6262d907-2b9c-4440-856b-6b17547aa272"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "realtor"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f72e8246-1f49-41a1-9626-27e8a77b9e83",
                    "leftValue": "={{ $('view_properties').item.json.telegram_internal_forum }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "internal"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1100,
        -5
      ],
      "id": "08c5f122-86f3-45e4-b72b-1dbc410fa96a",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1320,
        95
      ],
      "id": "55c618c3-ccc9-4e65-a138-353145397a72",
      "name": "logic here"
    }
  ],
  "notes": "",
  "pinData": {
    "/telegram-property-notification": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "user-agent": "axios/1.7.4",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "n8n.railway.internal:5678",
            "connection": "keep-alive",
            "content-length": "0"
          },
          "params": {},
          "query": {
            "property_id": "824",
            "updated_column": "realtor_status",
            "updated_value": "RECENTLY_SOLD",
            "updated_column_type": "text",
            "updated_by": "Bot@RentReadyS8.com"
          },
          "body": {},
          "webhookUrl": "https://s8s.up.railway.app/webhook/telegram-property-notification",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-13T13:47:02.977Z",
  "versionId": "25de6158-81eb-4610-b72b-77052dc246ab"
}