prod/IYI2oAiiYaDMBc5r.json
{
  "active": true,
  "connections": {
    "/telegram-property-notification": {
      "main": [
        [
          {
            "node": "host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "host": {
      "main": [
        [
          {
            "node": "inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inputs": {
      "main": [
        [
          {
            "node": "property_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "property_id": {
      "main": [
        [
          {
            "node": "view_properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "view_properties": {
      "main": [
        [
          {
            "node": "hasTopic?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "view_users": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-04-10T23:17:08.415Z",
  "execution_id": "24457",
  "id": "IYI2oAiiYaDMBc5r",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "/telegram-property-notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-property-notification",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -40
      ],
      "id": "1cecc921-1d4b-423e-bbe7-a401b4e0e425",
      "name": "/telegram-property-notification",
      "webhookId": "40b3e4cc-8ea6-4aad-ad8c-5d6d8c09bc1a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3b102a1-31d0-4c5c-8ce4-fbdce65237fb",
              "leftValue": "={{ $json.headers.host }}",
              "rightValue": "n8n.railway.internal:5678",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        220,
        -40
      ],
      "id": "8be6a8c3-5849-439c-9cae-f41005dccce4",
      "name": "host"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "496e815b-0525-4699-b29c-5103a448fb52",
              "name": "property_id",
              "value": "={{ $json.query.property_id }}",
              "type": "string"
            },
            {
              "id": "5a509075-fc21-4e01-b73a-5ca050eca640",
              "name": "updated_column",
              "value": "={{ $json.query.updated_column }}",
              "type": "string"
            },
            {
              "id": "ce8f7f8c-de36-4ac6-acc1-1a0b77f97fd7",
              "name": "updated_value",
              "value": "={{ $json.query.updated_value }}",
              "type": "string"
            },
            {
              "id": "34a42f6a-63c2-4475-9c87-b22610996925",
              "name": "updated_column_type",
              "value": "={{ $json.query.updated_column_type }}",
              "type": "string"
            },
            {
              "id": "9aaf6714-1f20-4c6a-b716-9bad66c39c82",
              "name": "updated_by",
              "value": "={{ $json.query.updated_by }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -40
      ],
      "id": "adc3e8a2-717a-45a4-8c18-ff12da15a189",
      "name": "inputs"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "property_id",
              "value": "={{ $json.property_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        660,
        -40
      ],
      "id": "5e3a2831-656e-4ef8-8ab0-1c64f4bf23a4",
      "name": "property_id"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "view_properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.property_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        -40
      ],
      "id": "af88bce2-541f-4227-9fef-7cd185dd03d6",
      "name": "view_properties",
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "view_users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $('inputs').item.json.updated_by }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        220
      ],
      "id": "56b19509-f708-4e39-8303-d9fdab71cd3e",
      "name": "view_users",
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f96e1776-fd7c-4311-877c-72c5765169e6",
              "leftValue": "={{ $json.telegram_realtor_forum }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "717d2c12-491b-4f56-b855-f96b02723eff",
              "leftValue": "={{ $json.telegram_realtor_topic_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        -40
      ],
      "id": "29b6e289-f8c3-448f-bb0f-d8f7f71e070f",
      "name": "hasTopic?"
    }
  ],
  "notes": "",
  "pinData": {
    "/telegram-property-notification": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "user-agent": "axios/1.7.4",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "n8n.railway.internal:5678",
            "connection": "keep-alive",
            "content-length": "0"
          },
          "params": {},
          "query": {
            "property_id": "824",
            "updated_column": "realtor_status",
            "updated_value": "RECENTLY_SOLD",
            "updated_column_type": "text",
            "updated_by": "Bot@RentReadyS8.com"
          },
          "body": {},
          "webhookUrl": "https://s8s.up.railway.app/webhook/telegram-property-notification",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-13T00:01:34.876Z",
  "versionId": "68eb66d9-3de4-4e00-bcc4-651f6b2bb384"
}