prod/PyHxTyacy89NQnpD.json
{
  "active": true,
  "connections": {
    "changelog": {
      "main": [
        [
          {
            "node": "otherColumns",
            "type": "main",
            "index": 0
          },
          {
            "node": "scrape_photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "changelog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/updated-properties": {
      "main": [
        [
          {
            "node": "inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inputs": {
      "main": [
        [
          {
            "node": "record_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "record_id": {
      "main": [
        [
          {
            "node": "compareData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compareData": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/scrape-property": {
      "main": [
        []
      ]
    },
    "scrape_photos": {
      "main": [
        [
          {
            "node": "scrape-photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "otherColumns": {
      "main": [
        [
          {
            "node": "updated_columm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape-photos": {
      "main": [
        [
          {
            "node": "/scrape-property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updated_columm": {
      "main": [
        [
          {
            "node": "/telegram-property-notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/telegram-property-notification": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-04-10T18:24:00.033Z",
  "execution_id": "23584",
  "id": "PyHxTyacy89NQnpD",
  "meta": null,
  "name": "/updated-properties",
  "nodes": [
    {
      "parameters": {
        "tableId": "changelog",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "updated_column",
              "fieldValue": "={{ $json.updated_column }}"
            },
            {
              "fieldId": "updated_value",
              "fieldValue": "={{ $json.newValue }}"
            },
            {
              "fieldId": "updated_by",
              "fieldValue": "={{ $('/updated-properties').item.json.body.record.updated_by }}"
            },
            {
              "fieldId": "updated_table",
              "fieldValue": "={{ $('/updated-properties').item.json.body.table }}"
            },
            {
              "fieldId": "updated_column_type",
              "fieldValue": "={{ $json.column_type }}"
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $('/updated-properties').first().json.body.table === \"properties\" ?  $('/updated-properties').item.json.body.record.id :  null }}"
            }
          ]
        }
      },
      "id": "13137daf-d55d-4877-8c0e-e55ed4da9156",
      "name": "changelog",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -300,
        -420
      ],
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "00f990c9-9187-4105-ad41-69a174a6145a",
              "leftValue": "={{ $json.isDifferent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "f87b8385-75c8-420b-9c11-35b5c8b2a9be",
              "leftValue": "={{ $json.updated_column }}",
              "rightValue": "timestamp_updated",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "52b907a1-ac31-47d6-8131-143d7524d204",
              "leftValue": "={{ $json.updated_column }}",
              "rightValue": "updated_by",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "451ead62-3dee-4199-9e1f-5d7b3e5bc0d7",
              "leftValue": "={{ $json.updated_column }}",
              "rightValue": "id",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7c0b5373-4521-4039-bfcd-18c37dc06572",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        -520,
        -420
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "updated-properties",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "7e5b8f5a-dbf3-47f8-9da3-aedcecbd1ca8",
      "name": "/updated-properties",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1400,
        -420
      ],
      "webhookId": "2ac3d1a9-7334-451c-aa4c-947182f598d5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KwKIAL5ixwLlPeZY",
          "name": "Supabase Imposbl Header Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f743914b-f427-48fb-901e-10ee1b71c7f1",
              "name": "table",
              "value": "={{ $json.body.table }}",
              "type": "string"
            },
            {
              "id": "90237df7-4b1c-4463-a076-8f16ed878e74",
              "name": "type",
              "value": "={{ $json.body.type }}",
              "type": "string"
            },
            {
              "id": "5f3ad40b-5195-4845-80b7-dd337c872813",
              "name": "new_record",
              "value": "={{ $json.body.record }}",
              "type": "object"
            },
            {
              "id": "97538103-c349-4463-8ebd-dd9bbbf66c13",
              "name": "old_record",
              "value": "={{ $json.body.old_record }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1180,
        -420
      ],
      "id": "a618013c-a60f-412e-90b8-2e600670886d",
      "name": "inputs"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "record_id",
              "value": "={{ $json.new_record.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -960,
        -420
      ],
      "id": "fa75a637-5a37-47e3-a94a-19cdadade2f3",
      "name": "record_id",
      "alwaysOutputData": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "function findDifferences(obj1, obj2 = {}) {\n  let differences = [];\n  \n  function getValueType(value) {\n    if (typeof value === 'string') {\n      const date = new Date(value);\n      if (date instanceof Date && !isNaN(date)) return 'timestamp';\n      return 'text';\n    }\n    if (typeof value === 'boolean') return 'boolean';\n    if (typeof value === 'number') return 'number';\n    if (Array.isArray(value)) return 'array';\n    if (value === null) return 'null';\n    if (typeof value === 'object') return 'object';\n    return 'undefined';\n  }\n  \n  for (let key in obj1) {\n    if (JSON.stringify(obj1[key]) !== JSON.stringify(obj2?.[key])) {\n      differences.push({\n        isDifferent: true,\n        updated_column: key,\n        column_type: getValueType(obj1[key]),\n        oldValue: obj2?.[key] ?? null,\n        newValue: obj1[key]\n      });\n    }\n  }\n  \n  if (obj2) {\n    for (let key in obj2) {\n      if (!(key in obj1)) {\n        differences.push({\n          isDifferent: true,\n          updated_column: key,\n          column_type: getValueType(obj2[key]),\n          oldValue: obj2[key],\n          newValue: undefined\n        });\n      }\n    }\n  }\n  \n  // If no differences found, return array with \"no changes\" message\n  if (differences.length === 0) {\n    return [{\n      isDifferent: false,\n      message: \"no changes\"\n    }];\n  }\n  \n  return differences;\n}\n\nconst newObject = $('/updated-properties').all()[0].json.body.record;\nconst oldObject = $('/updated-properties').all()[0].json.body.old_record || {};\nconst differences = findDifferences(newObject, oldObject);\nitems = differences.map(diff => ({ json: diff }));\nreturn items;"
      },
      "id": "af7ab7d3-45a3-41db-8f02-57e24292d539",
      "name": "compareData",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -740,
        -420
      ],
      "notes": "The id of each table is supabase needs to be called exactly \"id\""
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n.railway.internal:5678/webhook/scrape-property",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "property_id",
              "value": "={{ $json.property_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        -320
      ],
      "id": "fec0e4f8-b405-4857-8fbb-17ef77c1df09",
      "name": "/scrape-property"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "scrape-photos",
              "value": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        140,
        -320
      ],
      "id": "95cb91d9-2044-4a76-b1f0-e381dc6a1df4",
      "name": "scrape-photos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20fa661f-6e51-46b0-989e-0e34b7fba83e",
              "leftValue": "={{ $json.updated_column }}",
              "rightValue": "scrape_photos",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -80,
        -320
      ],
      "id": "4d1c62e4-3015-4233-8253-a9e236481f54",
      "name": "scrape_photos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20fa661f-6e51-46b0-989e-0e34b7fba83e",
              "leftValue": "={{ $json.updated_column }}",
              "rightValue": "realtor_status",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e0adb3d2-8272-414f-9200-7b19f7fcf430",
              "leftValue": "={{ $json.updated_column }}",
              "rightValue": "realtor_list_price",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a1667dd0-d48e-4616-80ca-7bdf6dae48ee",
              "leftValue": "={{ $json.updated_column }}",
              "rightValue": "offer_price",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8c3a239b-8860-4931-ab0b-98575ce3f413",
              "leftValue": "={{ $json.updated_column }}",
              "rightValue": "is_pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "de87c68d-2e3f-4b0a-9225-f3aaf99eb57c",
              "leftValue": "={{ $json.updated_column }}",
              "rightValue": "followup_notes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -80,
        -520
      ],
      "id": "f737dbc9-c7c8-4643-ad21-efc2d904089c",
      "name": "otherColumns"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "=updated_columm",
              "value": "={{ $json.updated_column }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        140,
        -520
      ],
      "id": "32fc4870-f896-4782-a26e-ae557abeb226",
      "name": "updated_columm"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n.railway.internal:5678/webhook/telegram-property-notification",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "property_id",
              "value": "={{ $json.property_id }}"
            },
            {
              "name": "updated_column",
              "value": "={{ $json.updated_column }}"
            },
            {
              "name": "updated_value",
              "value": "={{ $json.updated_value }}"
            },
            {
              "name": "updated_column_type",
              "value": "={{ $json.updated_column_type }}"
            },
            {
              "name": "updated_by",
              "value": "={{ $json.updated_by }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        -520
      ],
      "id": "54ad451e-289b-4a8f-ab13-5247a15e8a5d",
      "name": "/telegram-property-notification"
    }
  ],
  "notes": "",
  "pinData": {
    "/updated-properties": [
      {
        "json": {
          "headers": {
            "host": "s8s.up.railway.app",
            "user-agent": "pg_net/0.7.1",
            "content-length": "5819",
            "accept": "*/*",
            "authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF5eXlhY21oY3dxZHhxbmhncW1yIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcwMzI1NjA3MSwiZXhwIjoyMDE4ODMyMDcxfQ.SaB9Ht-q_YXbVraQSSXBONJrRq7gR7TGQ5rickZehVs",
            "content-type": "application/json",
            "x-forwarded-for": "3.210.235.210",
            "x-forwarded-host": "s8s.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4",
            "x-railway-request-id": "I1dphsi1SyeewKpJ9i0GHA_3118653284",
            "x-real-ip": "3.210.235.210",
            "x-request-start": "1744324148486",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "UPDATE",
            "table": "properties",
            "record": {
              "id": 800,
              "beds": 3,
              "baths": 1,
              "lender": null,
              "is_fsba": true,
              "is_fsbo": false,
              "starred": false,
              "stories": null,
              "investor": null,
              "tax_rate": 1.63,
              "coord_lat": 41.6612373,
              "coord_lng": -83.4964608,
              "inspector": null,
              "is_gas_on": false,
              "prop_year": 1896,
              "zillow_id": 34623735,
              "has_garage": false,
              "is_newhome": false,
              "is_pending": false,
              "lease_type": null,
              "offer_type": null,
              "taxes_owed": null,
              "updated_by": "alex+dev@imposbl.com",
              "zillow_url": "https://www.zillow.com/homedetails/2125-Valentine-St-Toledo-OH-43605/34623735_zpid/",
              "address_zip": "43605",
              "date_listed": "2025-02-05T16:02:05.974+00:00",
              "is_water_on": false,
              "offer_price": 65000,
              "address_city": "Toledo",
              "county_tract": null,
              "current_rent": null,
              "date_closing": null,
              "is_bankowned": false,
              "realtor_desc": "Welcome to 2125 Valentine, a delightful & well-maintained home offering 3 spacious bedrooms, including 1 conveniently located on\r\nthe main floor. Step inside & enjoy the inviting atmosphere, featuring comfortable LR, a dedicated DR & spacious\r\nkitchen with newer flooring. The updated bath makes this home move-in ready. Recent updates include a furnace replaced in '09, central air installed in '21, and a new HWT in '21, ensuring peace of mind for years to come. A central location provides easy access to Birmingham Elem, local gas stations, e-ways & the iconic Tony Packo's!",
              "tract_income": "medium",
              "virtual_tour": "https://www.propertypanorama.com/instaview/toledo/6125595",
              "address_state": "OH",
              "county_parcel": "abc1234",
              "county_zoning": null,
              "is_comingsoon": false,
              "is_distressed": false,
              "is_forauction": false,
              "lease_expires": null,
              "scrape_photos": false,
              "address_county": "LUCAS",
              "address_street": "2125 Valentine St",
              "followup_notes": "updated notes",
              "is_electric_on": false,
              "is_foreclosure": false,
              "realtor_status": "FOR_SALE",
              "cover_photo_url": "https://qyyyacmhcwqdxqnhgqmr.supabase.co/storage/v1/object/public/properties/800/photos/61ad1853-3ab9-45fc-be9f-c81369a1d79d.jpeg",
              "date_inspection": null,
              "google_place_id": "ChIJJS9G_vmDO4gR4tZiNRCzdSA",
              "last_sold_price": 59900,
              "property_status": "Make Offer",
              "date_walkthrough": null,
              "prop_size_inside": 1265,
              "realtor_assigned": "whitneynbarlow@gmail.com",
              "prop_size_outside": 3598,
              "purchase_strategy": null,
              "timestamp_created": "2025-02-27T20:27:52.702+00:00",
              "timestamp_scraped": "2025-04-07T16:02:05.971+00:00",
              "timestamp_updated": "2025-04-07T16:02:05.971+00:00",
              "is_tenant_occupied": false,
              "realtor_list_price": 80000,
              "is_opportunity_zone": true,
              "address_neighborhood": null,
              "has_lead_certificate": false,
              "is_registered_rental": false,
              "keystone_home_status": "ForSale",
              "realtor_dwelling_type": "SINGLE_FAMILY",
              "contingent_listing_type": null,
              "telegram_internal_forum": null,
              "telegram_realtor_topic_id": 6514,
              "telegram_realtor_pinned_message_id": "6895"
            },
            "schema": "public",
            "old_record": {
              "id": 800,
              "beds": 3,
              "baths": 1,
              "lender": null,
              "is_fsba": true,
              "is_fsbo": false,
              "starred": false,
              "stories": null,
              "investor": null,
              "tax_rate": 1.63,
              "coord_lat": 41.6612373,
              "coord_lng": -83.4964608,
              "inspector": null,
              "is_gas_on": false,
              "prop_year": 1896,
              "zillow_id": 34623735,
              "has_garage": false,
              "is_newhome": false,
              "is_pending": false,
              "lease_type": null,
              "offer_type": null,
              "taxes_owed": null,
              "updated_by": "alex+dev@imposbl.com",
              "zillow_url": "https://www.zillow.com/homedetails/2125-Valentine-St-Toledo-OH-43605/34623735_zpid/",
              "address_zip": "43605",
              "date_listed": "2025-02-05T16:02:05.974+00:00",
              "is_water_on": false,
              "offer_price": 65000,
              "address_city": "Toledo",
              "county_tract": null,
              "current_rent": null,
              "date_closing": null,
              "is_bankowned": false,
              "realtor_desc": "Welcome to 2125 Valentine, a delightful & well-maintained home offering 3 spacious bedrooms, including 1 conveniently located on\r\nthe main floor. Step inside & enjoy the inviting atmosphere, featuring comfortable LR, a dedicated DR & spacious\r\nkitchen with newer flooring. The updated bath makes this home move-in ready. Recent updates include a furnace replaced in '09, central air installed in '21, and a new HWT in '21, ensuring peace of mind for years to come. A central location provides easy access to Birmingham Elem, local gas stations, e-ways & the iconic Tony Packo's!",
              "tract_income": "medium",
              "virtual_tour": "https://www.propertypanorama.com/instaview/toledo/6125595",
              "address_state": "OH",
              "county_parcel": "abc1234",
              "county_zoning": null,
              "is_comingsoon": false,
              "is_distressed": false,
              "is_forauction": false,
              "lease_expires": null,
              "scrape_photos": false,
              "address_county": "LUCAS",
              "address_street": "2125 Valentine St",
              "followup_notes": "testing notes",
              "is_electric_on": false,
              "is_foreclosure": false,
              "realtor_status": "FOR_SALE",
              "cover_photo_url": "https://qyyyacmhcwqdxqnhgqmr.supabase.co/storage/v1/object/public/properties/800/photos/61ad1853-3ab9-45fc-be9f-c81369a1d79d.jpeg",
              "date_inspection": null,
              "google_place_id": "ChIJJS9G_vmDO4gR4tZiNRCzdSA",
              "last_sold_price": 59900,
              "property_status": "Make Offer",
              "date_walkthrough": null,
              "prop_size_inside": 1265,
              "realtor_assigned": "whitneynbarlow@gmail.com",
              "prop_size_outside": 3598,
              "purchase_strategy": null,
              "timestamp_created": "2025-02-27T20:27:52.702+00:00",
              "timestamp_scraped": "2025-04-07T16:02:05.971+00:00",
              "timestamp_updated": "2025-04-07T16:02:05.971+00:00",
              "is_tenant_occupied": false,
              "realtor_list_price": 80000,
              "is_opportunity_zone": true,
              "address_neighborhood": null,
              "has_lead_certificate": false,
              "is_registered_rental": false,
              "keystone_home_status": "ForSale",
              "realtor_dwelling_type": "SINGLE_FAMILY",
              "contingent_listing_type": null,
              "telegram_internal_forum": null,
              "telegram_realtor_topic_id": 6514,
              "telegram_realtor_pinned_message_id": "6895"
            }
          },
          "webhookUrl": "https://s8s.up.railway.app/webhook/updated-properties",
          "executionMode": "production"
        }
      }
    ],
    "changelog": [
      {
        "json": {
          "id": 9893,
          "task_id": null,
          "updated_column": "followup_notes",
          "updated_value": "updated notes",
          "timestamp": "2025-04-10T22:36:43.892436+00:00",
          "updated_by": "alex+dev@imposbl.com",
          "updated_table": "properties",
          "updated_column_type": "text",
          "property_id": 800
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-11T08:33:47.254Z",
  "versionId": "10085fef-9aa3-403f-90c9-49dbc196e709"
}