prod/Ra5SH2xD27dFki1a.json
{
  "active": true,
  "connections": {
    "Inputs1": {
      "main": [
        [
          {
            "node": "telegram-task-topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/telegram-task-topic": {
      "main": [
        [
          {
            "node": "Inputs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telegram-task-topic": {
      "main": [
        [
          {
            "node": "view_tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "view_tasks": {
      "main": [
        [
          {
            "node": "completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "completed?": {
      "main": [
        [
          {
            "node": "close topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-27T17:13:45.285Z",
  "execution_id": "31398",
  "id": "Ra5SH2xD27dFki1a",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "/telegram-task-topic",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "911f1f08-f39e-41f3-a162-80bdfee1e456",
              "name": "task_id",
              "value": "={{ $json.query.task_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1640,
        360
      ],
      "id": "63958375-4ad6-4712-9af7-498619d8881e",
      "name": "Inputs1",
      "notesInFlow": false,
      "notes": "supabase_telegram_column = is where the topic ID should be saved"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-task-topic",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1860,
        360
      ],
      "id": "a4354e33-031f-4e1e-a077-cbda31064423",
      "name": "/telegram-task-topic",
      "webhookId": "3f9043e8-ad23-43ab-8af2-949b6d21a108"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "task_id",
              "value": "={{ $json.task_id }}"
            },
            {
              "key": "w",
              "value": "telegram-task-topic"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -1420,
        360
      ],
      "id": "f5a433f1-bea5-4675-a2f7-b1b74cc16c03",
      "name": "telegram-task-topic",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "view_tasks",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.task_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1200,
        360
      ],
      "id": "6cfdfa14-bafe-444b-921e-0bc7e0b86636",
      "name": "view_tasks",
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71f22a68-cddd-467c-8d83-a598894be042",
              "leftValue": "={{ $json.completed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -980,
        360
      ],
      "id": "3d2391b4-d409-4bd9-8b29-68276227fea3",
      "name": "completed?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -760,
        360
      ],
      "id": "477071fd-4cb7-43cb-97d6-4c8ba65892f1",
      "name": "close topic"
    }
  ],
  "notes": "",
  "pinData": {
    "/telegram-task-topic": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "user-agent": "axios/1.7.4",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "n8n.railway.internal:5678",
            "connection": "keep-alive",
            "content-length": "0"
          },
          "params": {},
          "query": {
            "task_id": "155"
          },
          "body": {},
          "webhookUrl": "https://s8s.up.railway.app/webhook/telegram-task-topic",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-13T18:22:44.984Z",
  "versionId": "ce667b5a-f600-4903-a7ae-d4464ea2ccd1"
}