prod/SyURwWx9V6i1uw5s.json
{
  "active": true,
  "connections": {
    "get media": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Delete Original",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Original": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Preview": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "delete media record": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "tag: scrape_all1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "delete media record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag: scrape_all1": {
      "main": [
        [
          {
            "node": "get media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-20T01:47:15.690Z",
  "execution_id": "24577",
  "id": "SyURwWx9V6i1uw5s",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "chron delete media",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "media",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "set_to_delete",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        1440
      ],
      "id": "d2211ce0-8fef-4c2b-ab83-d0ec71efe9ed",
      "name": "get media",
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        780,
        1440
      ],
      "id": "d9625749-33fe-4ca7-9b2a-4b25a09815c0",
      "name": "Loop Over Items2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $json.storage_url.replace('/public', '') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        1240
      ],
      "id": "c96e8682-1c6b-4cbd-af81-f8079be87c8c",
      "name": "Delete Original",
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $('Loop Over Items2').item.json.preview_url.replace('/public', '') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        1440
      ],
      "id": "7296bbfa-34cd-4f73-876d-8abf82511286",
      "name": "Delete Preview",
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "media",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items2').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1440,
        1415
      ],
      "id": "441179c2-8d5a-45c6-a9ed-ae3b30138955",
      "name": "delete media record",
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        120,
        1440
      ],
      "id": "814f4340-c190-458a-b6e7-5a6e66e50dfe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1220,
        1340
      ],
      "id": "7df55375-55b5-4a35-b532-de26cc0a014a",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "workflow",
              "value": "scrape_all"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        340,
        1440
      ],
      "id": "3f6ef2ed-e53d-4dc3-95bf-8e31cb414db6",
      "name": "tag: scrape_all1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "notes": "",
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-02-23T14:54:25.206Z",
      "updatedAt": "2025-02-23T14:54:25.206Z",
      "id": "d0WBJmpYpxm36cVU",
      "name": "supabase"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-10T18:27:28.618Z",
  "versionId": "9721d918-9ace-4eb4-b82d-e1990dd869f3"
}