prod/TB0P4XetLQfaMavl.json
{
  "active": false,
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split intputs": {
      "main": [
        [
          {
            "node": "Filter Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract data": {
      "main": [
        [
          {
            "node": "Convert to Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Image": {
      "main": [
        [
          {
            "node": "Upload Original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Original": {
      "main": [
        [
          {
            "node": "media insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Base64": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload": {
      "main": [
        [
          {
            "node": "Split intputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/upload": {
      "main": [
        [
          {
            "node": "upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "media insert": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-30T16:18:51.571Z",
  "execution_id": "24608",
  "id": "TB0P4XetLQfaMavl",
  "meta": null,
  "name": "/upload",
  "nodes": [
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -300,
        100
      ],
      "id": "412498ec-d029-4b4e-bf1a-8f6d6d5c8949",
      "name": "Loop Over Items",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get the files array from the input\nconst filesStr = $input.all()[0].json.body.files;\nconsole.log(filesStr);\n\nconst files = JSON.parse(filesStr);\n\n// Create an array to store our outputs\nconst outputs = [];\n\n// Loop through each file and create a separate output\nfiles.forEach(file => {\n  outputs.push({\n    json: {\n      type: file.type,\n      id: file.id,\n      data: file.data,\n      meta: file.meta,\n      name: file.name,\n      size: file.size,\n      dataFormat: file.dataFormat\n    }\n  });\n});\n\n// Return array of outputs\nreturn outputs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -740,
        100
      ],
      "id": "de8e9d39-0e10-4a02-aab0-223e24b25dbd",
      "name": "Split intputs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51e3b3a0-eb36-4ec3-93fd-c1a74263475e",
              "name": "type",
              "value": "={{ $('Loop Over Items').item.json.type }}",
              "type": "string"
            },
            {
              "id": "0f5557c4-363a-4e2c-9b00-0a2f064f907f",
              "name": "data",
              "value": "={{ $('Loop Over Items').item.json.data.split(',')[1] }}",
              "type": "string"
            },
            {
              "id": "1c69a8ac-4c93-415c-9fc5-a6086b64fb69",
              "name": "media_id",
              "value": "={{ \n  (function() {\n    function generateUUID() {\n      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n        const r = Math.random() * 16 | 0;\n        const v = c === 'x' ? r : (r & 0x3 | 0x8);\n        return v.toString(16);\n      });\n    }\n    return generateUUID();\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "67637577-0210-4e81-b3c3-df8d79a53f37",
              "name": "original_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "61c2141b-ce86-450e-bd62-205bcbb5d3f4",
              "name": "size",
              "value": "={{ $json.size }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        20
      ],
      "id": "c378cad1-43f6-4ac0-b66c-b6247308903a",
      "name": "Extract data"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "={{ $json.type }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        140,
        20
      ],
      "id": "86ecd09c-6d86-4d5a-ad18-8e5ee4f69146",
      "name": "Convert to Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qyyyacmhcwqdxqnhgqmr.supabase.co/storage/v1/object/{{ $('/upload').first().json.query.bucket }}/{{ $('/upload').first().json.query.trigger_record_id }}/{{ $('Extract data').item.json.media_id }}.{{ $binary.data.mimeType.split(\"/\")[1] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        20
      ],
      "id": "304df181-61db-4821-887e-f9d804a88c0c",
      "name": "Upload Original",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "681669d5-a4ea-4923-9a08-9b5ba1b98ae8",
              "leftValue": "={{ $json.dataFormat }}",
              "rightValue": "Base64",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -520,
        100
      ],
      "id": "9160b01a-9517-4ddd-85e2-d3dc915eb87a",
      "name": "Filter Base64"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "webhook",
              "value": "upload"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -960,
        100
      ],
      "id": "a5500888-649c-4355-bbbd-82f36f39d3ad",
      "name": "upload"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1180,
        100
      ],
      "id": "e543a6b0-a112-48c8-be86-77f88437a1e1",
      "name": "/upload",
      "webhookId": "e9a7989c-2e95-47c8-8117-a155313264a1"
    },
    {
      "parameters": {
        "tableId": "media",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "storage_url",
              "fieldValue": "=https://qyyyacmhcwqdxqnhgqmr.supabase.co/storage/v1/object/public/{{ $json.Key }}"
            },
            {
              "fieldId": "storage_id",
              "fieldValue": "={{ $json.Id }}"
            },
            {
              "fieldId": "uploaded_by",
              "fieldValue": "={{ $('upload').item.json.query.user }}"
            },
            {
              "fieldId": "tag",
              "fieldValue": "={{ $('upload').item.json.query.tag }}"
            },
            {
              "fieldId": "={{\n  (function() {\n    const bucket = $('upload').item.json.query.bucket;\n    \n    if (bucket === \"tasks\") {\n      return \"task_id\";\n    } else if (bucket === \"properties\") {\n      return \"property_id\";\n    } else if (bucket === \"repairs\") {\n      return \"repair_id\";\n    } else {\n      return \"\";\n    }\n  })()\n}}",
              "fieldValue": "={{ $('upload').item.json.query.trigger_record_id }}"
            },
            {
              "fieldId": "media_type",
              "fieldValue": "={{ $('Extract data').item.json.type }}"
            },
            {
              "fieldId": "original_name",
              "fieldValue": "={{ $('Extract data').item.json.original_name }}"
            },
            {
              "fieldId": "size",
              "fieldValue": "={{ $('Extract data').item.json.size || 0}}"
            },
            {
              "fieldId": "media_id",
              "fieldValue": "={{ $('Extract data').item.json.media_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        580,
        100
      ],
      "id": "743f6444-00a9-4c0f-9879-58b7ab4f0082",
      "name": "media insert",
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      }
    }
  ],
  "notes": "",
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-10T00:35:06.975Z",
  "versionId": "98b67a66-327c-4945-81cf-cc1984035ebc"
}