prod/vKuRvtLXd2DYrRqE.json
{
  "active": false,
  "connections": {
    "record-get": {
      "main": [
        [
          {
            "node": "recordGetQuery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recordGetQuery": {
      "main": [
        [
          {
            "node": "Get record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get record": {
      "main": [
        [
          {
            "node": "Respond w Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inputs": {
      "main": [
        [
          {
            "node": "record-get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/records-get": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-10T00:56:33.675Z",
  "execution_id": "22440",
  "id": "vKuRvtLXd2DYrRqE",
  "meta": null,
  "name": "/records-get",
  "nodes": [
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "select_table",
              "value": "={{ $json.select_table }}"
            },
            {
              "key": "search_values",
              "value": "={{ $json.search_values }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -380,
        -20
      ],
      "id": "33a305d0-84f7-4afd-98ec-f742423d3362",
      "name": "record-get",
      "notesInFlow": true,
      "notes": "w: record-get"
    },
    {
      "parameters": {
        "jsCode": "// Get the input data\nconst inputData = $input.first().json;\nconst table = inputData.select_table;\nconst columns = inputData.select_columns;\nconst searchColumn = inputData.search_column || \"id\"; // Default to \"id\" if empty\nconst recordId = inputData.search_value;\nconst sortColumn = inputData.sort_column;\nconst sortDirection = inputData.sort_direction;\n\n// Start with the base URL and table\nlet queryString = \"https://qyyyacmhcwqdxqnhgqmr.supabase.co/rest/v1/\" + table;\n\n// Function to handle array or string that looks like an array\nfunction processArrayInput(input) {\n  if (!input) return []; // Handle null, undefined, or empty string\n  \n  if (typeof input === 'string') {\n    // If it's empty, return empty array\n    if (input.trim() === '') return [];\n    \n    try {\n      // Try to parse it as JSON\n      return JSON.parse(input);\n    } catch (e) {\n      // If parsing fails, assume it's a comma-separated string\n      return input.split(',').map(item => item.trim()).filter(item => item !== '');\n    }\n  } else if (Array.isArray(input)) {\n    return input;\n  }\n  return [];\n}\n\n// Initialize query parameters\nlet params = [];\n\n// Process columns if they exist\nconst processedColumns = processArrayInput(columns);\nif (processedColumns.length > 0) {\n  params.push(\"select=\" + processedColumns.join(','));\n} else {\n  // If no columns specified, select all columns\n  params.push(\"select=*\");\n}\n\n// Process search column and record id\nif (recordId) {\n  params.push(`${searchColumn}=eq.${recordId}`);\n}\n\n// Process sorting if sort_column exists\nif (sortColumn) {\n  // Validate sort direction, default to asc if invalid\n  // PostgREST requires lowercase asc/desc\n  const direction = (sortDirection && ['asc', 'desc'].includes(sortDirection.toLowerCase())) \n    ? sortDirection.toLowerCase() \n    : 'asc';\n  \n  // Add order parameter\n  params.push(`order=${sortColumn}.${direction}`);\n}\n\n// Add parameters to query string\nif (params.length > 0) {\n  queryString += \"?\" + params.join('&');\n}\n\n// Return data in the format N8N expects\nreturn [{\n  json: {\n    queryString: queryString\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -20
      ],
      "id": "1de1ab47-19df-4409-9aa8-158fb35b2982",
      "name": "recordGetQuery"
    },
    {
      "parameters": {
        "url": "={{ $json.queryString }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -20
      ],
      "id": "db074b96-d41f-4255-87ee-a226fe419c6b",
      "name": "Get record",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "KwKIAL5ixwLlPeZY",
          "name": "Supabase Imposbl Header Auth"
        },
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        280,
        -20
      ],
      "id": "b21376a3-e683-43f4-9379-8cf3f3d82ae2",
      "name": "Respond w Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03333ad5-f3d0-4513-be78-79daf97f9346",
              "name": "select_table",
              "value": "={{ $json.query.select_table }}",
              "type": "string"
            },
            {
              "id": "03c1d52a-2479-4478-8a62-1e67da1040d9",
              "name": "select_columns",
              "value": "={{ $json.query.select_columns }}",
              "type": "string"
            },
            {
              "id": "43b1625d-e963-45b5-abe3-f07d086c6382",
              "name": "search_columns",
              "value": "={{ $json.query.search_column }}",
              "type": "string"
            },
            {
              "id": "8b8ff294-77f2-4086-81a5-6d93ef36a208",
              "name": "search_values",
              "value": "={{ $json.query.search_value }}",
              "type": "string"
            },
            {
              "id": "4fc09576-ee3e-4347-b2d6-5f33021f2591",
              "name": "sort_column",
              "value": "={{ $json.query.sort_column }}",
              "type": "string"
            },
            {
              "id": "27fd7c10-729a-43ae-8a91-3ffa85a3881c",
              "name": "sort_direction",
              "value": "={{ $json.query.sort_direction }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        -20
      ],
      "id": "3d51f716-001e-4d32-b7a2-2adae3c74a6d",
      "name": "inputs"
    },
    {
      "parameters": {
        "path": "records-get",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1040,
        -20
      ],
      "id": "4a7e86cb-5e46-4157-a663-9ef733483172",
      "name": "/records-get",
      "webhookId": "f838d05f-0c99-42dd-a099-c038893f8b84"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e446b65-af8b-4eeb-a5c6-eeff2aed5082",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -820,
        -20
      ],
      "id": "d221d934-afb8-47a9-866c-7ecb3802ade9",
      "name": "Filter"
    }
  ],
  "notes": "",
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-10T00:59:39.650Z",
  "versionId": "1e87876f-0cad-41d0-b491-32efc9f7ec92"
}