prod/W0y4robwZgmlRQL8.json
{
  "active": true,
  "connections": {
    "Get Apify Data": {
      "main": [
        [
          {
            "node": "filterEmpty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/apify-completed": {
      "main": [
        [
          {
            "node": "apify-completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID": {
      "main": [
        [
          {
            "node": "GetImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if URL exists": {
      "main": [
        [
          {
            "node": "addedRecord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "apify-completed": {
      "main": [
        [
          {
            "node": "Get Apify Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Photos": {
      "main": [
        [
          {
            "node": "/save-photos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape photos?": {
      "main": [
        [
          {
            "node": "Extract Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/save-photos": {
      "main": [
        [
          {
            "node": "save-photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/save-photos1": {
      "main": [
        [
          {
            "node": "Scrape flag off3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update by URL": {
      "main": [
        [
          {
            "node": "hasData?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update by Address": {
      "main": [
        [
          {
            "node": "hasData?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filterEmpty": {
      "main": [
        [
          {
            "node": "process-apify-property >",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasData?1": {
      "main": [
        [
          {
            "node": "/telegram-topic1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update by Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasData?": {
      "main": [
        [
          {
            "node": "/telegram-topic1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "S8 Notifications1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasUrl?": {
      "main": [
        [
          {
            "node": "Update by URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update by Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "process-property": {
      "main": [
        [
          {
            "node": "inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inputs": {
      "main": [
        [
          {
            "node": "hasUrl?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "addedRecord": {
      "main": [
        [
          {
            "node": "UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetImage": {
      "main": [
        [
          {
            "node": "bucketUpload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bucketUpload": {
      "main": [
        [
          {
            "node": "Insert media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save-photos": {
      "main": [
        [
          {
            "node": "Check if URL exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/process-apify-property": {
      "main": [
        [
          {
            "node": "process-property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/telegram-topic1": {
      "main": [
        [
          {
            "node": "scrape photos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-07T23:39:17.248Z",
  "execution_id": "24457",
  "id": "W0y4robwZgmlRQL8",
  "meta": null,
  "name": "/apify",
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.body.resource.defaultDatasetId }}/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "apify_api_eBcJIT4Z3eJhNHRL1UFtko2cVhff8i4fqE6a"
            },
            {
              "name": "fields",
              "value": "streetAddress,city,state,zipcode,bedrooms,bathrooms,yearBuilt,livingArea,lotSize,price,lastSoldPrice,priceChange,priceChangeDateString,propertyTaxRate,homeType,homeStatus,keystoneHomeStatus,listing_sub_type,contingentListingType,description,virtualTourUrl,mlsid,parcelId,zpid,hdpUrl,daysOnZillow,datePostedString,originalPhotos"
            },
            {
              "name": "clean",
              "value": "0"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "3ac38a8b-3041-4286-8f9a-bfea9b5d801c",
      "name": "Get Apify Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "alwaysOutputData": false,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apify-completed",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ],
      "id": "06c6b1b5-a41f-421c-bb09-1594d602a8a7",
      "name": "/apify-completed",
      "webhookId": "3ac1c164-a521-4b11-97c6-7b223d38d9f0"
    },
    {
      "parameters": {
        "jsCode": "function generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0,\n        v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst items = [];\nitems.push({\n  json: {\n    uuid: generateUUID()\n  }\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        760
      ],
      "id": "779e3a3a-14e6-4572-8b9a-c004d3909ee0",
      "name": "UUID"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "media",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Check if URL exists').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "storage_url",
              "fieldValue": "=https://qyyyacmhcwqdxqnhgqmr.supabase.co/storage/v1/object/public/{{ $json.Key }}"
            },
            {
              "fieldId": "storage_id",
              "fieldValue": "={{ $json.Id }}"
            },
            {
              "fieldId": "uploaded_by",
              "fieldValue": "Bot@RentReadyS8.com"
            },
            {
              "fieldId": "media_type",
              "fieldValue": "={{ $('GetImage').item.binary.data.mimeType }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1400,
        760
      ],
      "id": "c7e4261f-9d94-4ae3-855a-3a8ca6e5a0d2",
      "name": "Insert media",
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      },
      "notes": "media"
    },
    {
      "parameters": {
        "tableId": "media",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $json.property_id }}"
            },
            {
              "fieldId": "tag",
              "fieldValue": "Property Photo"
            },
            {
              "fieldId": "media_url_scraped",
              "fieldValue": "={{ $json.photo_url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        300,
        760
      ],
      "id": "7f0fafad-9fe7-4605-88cd-9913bedba819",
      "name": "Check if URL exists",
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.property_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "scrape_photos",
              "fieldValue": "={{ false }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2500,
        260
      ],
      "id": "33853bc1-5ec8-48e8-a9a8-64b6a4780624",
      "name": "Scrape flag off3",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "w",
              "value": "apify-completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        80,
        0
      ],
      "id": "b08c2375-7d2a-4d6d-a5a0-4aa91b5a67c5",
      "name": "apify-completed"
    },
    {
      "parameters": {
        "jsCode": "// Get inputs from the workflow\nconst photos = $('inputs').first().json.originalPhotos;\nconst propertyId = $input.first().json.id;\n\n// Function to process the photos\nfunction processPhotos(photos, propertyId) {\n  // Array to store the processed photo objects\n  const processedPhotos = [];\n  \n  // Loop through each photo\n  photos.forEach(photo => {\n    // Get the jpeg sources array for the photo\n    const jpegSources = photo.mixedSources.jpeg;\n    \n    // Find the image with the highest resolution (width)\n    const highestResImage = jpegSources.reduce((highest, current) => {\n      return current.width > highest.width ? current : highest;\n    }, jpegSources[0]);\n    \n    // Create an object with the property ID and the photo URL\n    const photoObject = {\n      property_id: propertyId,\n      photo_url: highestResImage.url\n    };\n    \n    // Add the object to the array\n    processedPhotos.push(photoObject);\n  });\n  \n  return processedPhotos;\n}\n\n// Process the photos and return the result\nconst result = processPhotos(photos, propertyId);\n\n// Return the array of processed photos\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        260
      ],
      "id": "ee120f36-9a5d-4670-8562-10283af0ba71",
      "name": "Extract Photos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d450fca-039c-48c6-9f45-4332dfd0c38a",
              "leftValue": "={{ $json.scrape_photos }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1840,
        260
      ],
      "id": "57ac9d2c-bb4a-4387-8318-494d34c325df",
      "name": "scrape photos?",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "property_id",
              "type": "number"
            },
            {
              "name": "photo_url"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        760
      ],
      "id": "87650190-244d-46c7-ad30-d1ab889097ca",
      "name": "/save-photos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5l82Xz5lpYQrrg5V",
          "mode": "list",
          "cachedResultName": "Properties"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "photo_url": "={{ $json.photo_url }}",
            "property_id": "={{ $json.property_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "property_id",
              "displayName": "property_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "photo_url",
              "displayName": "photo_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2280,
        260
      ],
      "id": "1bb949fe-616f-43c0-b2b3-b6515292201d",
      "name": "/save-photos1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "zillow_url",
              "condition": "eq",
              "keyValue": "=https://www.zillow.com{{ $json.hdpUrl }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "prop_year",
              "fieldValue": "={{ $json.yearBuilt }}"
            },
            {
              "fieldId": "realtor_status",
              "fieldValue": "={{ $json.homeStatus }}"
            },
            {
              "fieldId": "beds",
              "fieldValue": "={{ $json.bedrooms }}"
            },
            {
              "fieldId": "baths",
              "fieldValue": "={{ $json.bathrooms }}"
            },
            {
              "fieldId": "realtor_dwelling_type",
              "fieldValue": "={{ $json.homeType }}"
            },
            {
              "fieldId": "realtor_list_price",
              "fieldValue": "={{ $json.price }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "updated_by",
              "fieldValue": "=Bot@RentReadyS8.com"
            },
            {
              "fieldId": "timestamp_scraped",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "realtor_desc",
              "fieldValue": "={{ $json.description }}"
            },
            {
              "fieldId": "is_forauction",
              "fieldValue": "={{ $json.listing_sub_type.is_forAuction }}"
            },
            {
              "fieldId": "is_newhome",
              "fieldValue": "={{ $json.listing_sub_type.is_newHome }}"
            },
            {
              "fieldId": "is_fsbo",
              "fieldValue": "={{ $json.listing_sub_type.is_FSBO }}"
            },
            {
              "fieldId": "is_fsba",
              "fieldValue": "={{ $json.listing_sub_type.is_FSBA }}"
            },
            {
              "fieldId": "is_foreclosure",
              "fieldValue": "={{ $json.listing_sub_type.is_foreclosure }}"
            },
            {
              "fieldId": "is_bankowned",
              "fieldValue": "={{ $json.listing_sub_type.is_bankOwned }}"
            },
            {
              "fieldId": "is_comingsoon",
              "fieldValue": "={{ $json.listing_sub_type.is_comingSoon }}"
            },
            {
              "fieldId": "is_pending",
              "fieldValue": "={{ $json.listing_sub_type.is_pending }}"
            },
            {
              "fieldId": "date_listed",
              "fieldValue": "={{ new Date(Date.now() - ($json.daysOnZillow * 24 * 60 * 60 * 1000)).toISOString() }}"
            },
            {
              "fieldId": "prop_size_inside",
              "fieldValue": "={{ $json.livingArea }}"
            },
            {
              "fieldId": "prop_size_outside",
              "fieldValue": "={{ $json.lotSize }}"
            },
            {
              "fieldId": "tax_rate",
              "fieldValue": "={{ $json.propertyTaxRate }}"
            },
            {
              "fieldId": "keystone_home_status",
              "fieldValue": "={{ $json.keystoneHomeStatus }}"
            },
            {
              "fieldId": "contingent_listing_type",
              "fieldValue": "={{ $json.contingentListingType }}"
            },
            {
              "fieldId": "virtual_tour",
              "fieldValue": "={{ $json.virtualTourUrl }}"
            },
            {
              "fieldId": "last_sold_price",
              "fieldValue": "={{ $json.lastSoldPrice }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        740,
        260
      ],
      "id": "1d763e20-131d-4ac7-ba68-d09b1ba62d2f",
      "name": "Update by URL",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "address_street",
              "condition": "ilike",
              "keyValue": "={{ $('inputs').item.json.streetAddress }}"
            },
            {
              "keyName": "address_city",
              "condition": "ilike",
              "keyValue": "={{ $('inputs').item.json.city }}"
            },
            {
              "keyName": "address_state",
              "condition": "eq",
              "keyValue": "={{ $('inputs').item.json.state }}"
            },
            {
              "keyName": "address_zip",
              "condition": "eq",
              "keyValue": "={{ $('inputs').item.json.zipcode }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "prop_year",
              "fieldValue": "={{ $('inputs').item.json.yearBuilt }}"
            },
            {
              "fieldId": "zillow_id",
              "fieldValue": "={{ $('inputs').item.json.zpid }}"
            },
            {
              "fieldId": "zillow_url",
              "fieldValue": "=https://www.zillow.com{{ $('inputs').item.json.hdpUrl }}"
            },
            {
              "fieldId": "beds",
              "fieldValue": "={{ $('inputs').item.json.bedrooms }}"
            },
            {
              "fieldId": "baths",
              "fieldValue": "={{ $('inputs').item.json.bathrooms }}"
            },
            {
              "fieldId": "realtor_dwelling_type",
              "fieldValue": "={{ $('inputs').item.json.homeType }}"
            },
            {
              "fieldId": "realtor_list_price",
              "fieldValue": "={{ $('inputs').item.json.price }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "updated_by",
              "fieldValue": "=Bot@RentReadyS8.com"
            },
            {
              "fieldId": "timestamp_scraped",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "realtor_desc",
              "fieldValue": "={{ $('inputs').item.json.description }}"
            },
            {
              "fieldId": "is_forauction",
              "fieldValue": "={{ $('inputs').item.json.listing_sub_type.is_foreclosure }}"
            },
            {
              "fieldId": "is_newhome",
              "fieldValue": "={{ $('inputs').item.json.listing_sub_type.is_newHome }}"
            },
            {
              "fieldId": "is_fsbo",
              "fieldValue": "={{ $('inputs').item.json.listing_sub_type.is_FSBO }}"
            },
            {
              "fieldId": "is_fsba",
              "fieldValue": "={{ $('inputs').item.json.listing_sub_type.is_FSBO }}"
            },
            {
              "fieldId": "is_foreclosure",
              "fieldValue": "={{ $('inputs').item.json.listing_sub_type.is_foreclosure }}"
            },
            {
              "fieldId": "is_bankowned",
              "fieldValue": "={{ $('inputs').item.json.listing_sub_type.is_bankOwned }}"
            },
            {
              "fieldId": "is_comingsoon",
              "fieldValue": "={{ $('inputs').item.json.listing_sub_type.is_comingSoon }}"
            },
            {
              "fieldId": "is_pending",
              "fieldValue": "={{ $('inputs').item.json.listing_sub_type.is_pending }}"
            },
            {
              "fieldId": "date_listed",
              "fieldValue": "={{ new Date(Date.now() - ($('inputs').item.json.daysOnZillow * 24 * 60 * 60 * 1000)).toISOString() }}"
            },
            {
              "fieldId": "prop_size_inside",
              "fieldValue": "={{ $('inputs').item.json.livingArea }}"
            },
            {
              "fieldId": "tax_rate",
              "fieldValue": "={{ $('inputs').item.json.propertyTaxRate }}"
            },
            {
              "fieldId": "keystone_home_status",
              "fieldValue": "={{ $('inputs').item.json.keystoneHomeStatus }}"
            },
            {
              "fieldId": "contingent_listing_type",
              "fieldValue": "={{ $('inputs').item.json.contingentListingType }}"
            },
            {
              "fieldId": "virtual_tour",
              "fieldValue": "={{ $('inputs').item.json.virtualTourUrl }}"
            },
            {
              "fieldId": "last_sold_price",
              "fieldValue": "={{ $('inputs').item.json.lastSoldPrice }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1180,
        440
      ],
      "id": "350733d1-b54a-4d5e-90db-dfcafcd351d0",
      "name": "Update by Address",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "-1002250368392",
        "text": "=<b>Server Error</b>\nWorkflow: {{ $workflow.name }}\nExecution ID: <a href=\"https://s8s.up.railway.app/workflow/5l82Xz5lpYQrrg5V/executions/{{ $execution.id }}\">{{ $execution.id }}</a>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "message_thread_id": 1015
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1620,
        500
      ],
      "id": "14cc168c-d191-4235-9106-4f02a8de581a",
      "name": "S8 Notifications1",
      "webhookId": "bf1c5a21-07eb-49f9-bdab-163ec652c5d0",
      "credentials": {
        "telegramApi": {
          "id": "5EhmVCbyRMyj9grg",
          "name": "P0m0shnik11_Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b87dabe-71ef-4830-8310-56806d785837",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "f2bac40a-edbb-4dac-ae86-6519280dabcb",
              "leftValue": "={{ $json.hdpUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        520,
        0
      ],
      "id": "8a4238c3-4168-4a7d-8be9-402b99f7a1fb",
      "name": "filterEmpty"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "22c16e66-6e7f-49fc-bbdb-21bbd65f1d22",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        260
      ],
      "id": "e0f829d0-4635-47f3-990f-dadaa916c348",
      "name": "hasData?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "382e7154-7223-476d-8e24-3ffb3e257a83",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        440
      ],
      "id": "f4bad5e6-3225-42dc-a219-3a6d81f48643",
      "name": "hasData?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ebdba25e-a068-4ede-ba25-782dcf31e608",
              "leftValue": "={{ $json.hdpUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        360
      ],
      "id": "0f458ee8-f838-4366-b009-28df74406749",
      "name": "hasUrl?"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "w",
              "value": "process-property"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        80,
        360
      ],
      "id": "ad22656a-1881-4dc5-aa90-5ac20a071a4d",
      "name": "process-property"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body.propery }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        360
      ],
      "id": "86dbde64-1df3-4702-ab85-d8125ee98c6e",
      "name": "inputs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "86da3751-a688-4bd2-9830-3aafd54fef70",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        520,
        760
      ],
      "id": "793b5311-7632-4086-b70b-e26ebcd293d5",
      "name": "addedRecord"
    },
    {
      "parameters": {
        "url": "={{ $('/save-photos').item.json.photo_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        760
      ],
      "id": "ae98b557-0a43-4901-94cf-7ba1907ea5e2",
      "name": "GetImage",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qyyyacmhcwqdxqnhgqmr.supabase.co/storage/v1/object/properties/{{ $('addedRecord').item.json.id }}/photos/{{ $json.uuid }}.jpeg\n\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        760
      ],
      "id": "082b0398-d582-471c-b992-de5c0ca9c041",
      "name": "bucketUpload",
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "w",
              "value": "save-photos"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        80,
        760
      ],
      "id": "ad36f690-2122-4ab9-b8c4-621d4236dcae",
      "name": "save-photos"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-apify-property",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        360
      ],
      "id": "49d2f936-bcfd-48ea-9d53-4f56f0c1acda",
      "name": "/process-apify-property",
      "webhookId": "0e173c60-6fc3-4f15-9622-f6f36a647c67"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n.railway.internal:5678/webhook/process-apify-property",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "propery",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        0
      ],
      "id": "5417e6a7-2f53-4f94-9f13-7fbf2576ba03",
      "name": "process-apify-property >",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n.railway.internal:5678/webhook/telegram-property-topic",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "property_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        260
      ],
      "id": "1db61e50-7234-4f4a-a93c-aea84ed28c8d",
      "name": "/telegram-topic1",
      "onError": "continueRegularOutput"
    }
  ],
  "notes": "",
  "pinData": {
    "process-property": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.7.4",
            "content-length": "6128",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "n8n.railway.internal:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "propery": {
              "streetAddress": "1402 Western Ave",
              "city": "Toledo",
              "state": "OH",
              "zipcode": "43609",
              "bedrooms": 3,
              "bathrooms": 1,
              "yearBuilt": 1902,
              "livingArea": 1217,
              "lotSize": 3598,
              "price": 74500,
              "lastSoldPrice": 27000,
              "priceChange": null,
              "priceChangeDateString": null,
              "propertyTaxRate": 1.63,
              "homeType": "SINGLE_FAMILY",
              "homeStatus": "FOR_SALE",
              "keystoneHomeStatus": "ForSale",
              "listing_sub_type": {
                "is_forAuction": false,
                "is_newHome": false,
                "is_FSBO": false,
                "is_FSBA": true,
                "is_foreclosure": false,
                "is_bankOwned": false,
                "is_comingSoon": false,
                "is_pending": false,
                "is_openHouse": false
              },
              "contingentListingType": null,
              "description": "Charming home with 12ft ceilings, original woodwork, and hardwood floors ready for refinishing. Updated kitchen with tile and cork laminate counters. New sewer & gas lines. Detached 1-car garage with workbench. Small back deck, brick front porch, vinyl siding. Unfinished basement with shower, sink, laundry hookups. Newer furnace motherboard & hot water tank. Attic access. Electrical system coded. Shingle roof (approx. 10 yrs).",
              "virtualTourUrl": "https://www.propertypanorama.com/instaview/toledo/6127720",
              "mlsid": "6127720",
              "parcelId": "1420291",
              "zpid": 34678319,
              "hdpUrl": "/homedetails/1402-Western-Ave-Toledo-OH-43609/34678319_zpid/",
              "daysOnZillow": 4,
              "datePostedString": "2025-03-28",
              "originalPhotos": [
                {
                  "caption": "",
                  "mixedSources": {
                    "jpeg": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-d_d.jpg",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-o_a.jpg",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-uncropped_scaled_within_1344_1008.jpg",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-uncropped_scaled_within_1536_1152.jpg",
                        "width": 1536
                      }
                    ],
                    "webp": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-d_d.webp",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-o_a.webp",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-uncropped_scaled_within_1344_1008.webp",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-uncropped_scaled_within_1536_1152.webp",
                        "width": 1536
                      }
                    ]
                  }
                },
                {
                  "caption": "",
                  "mixedSources": {
                    "jpeg": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-d_d.jpg",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-o_a.jpg",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-uncropped_scaled_within_1344_1008.jpg",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-uncropped_scaled_within_1536_1152.jpg",
                        "width": 1536
                      }
                    ],
                    "webp": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-d_d.webp",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-o_a.webp",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-uncropped_scaled_within_1344_1008.webp",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-uncropped_scaled_within_1536_1152.webp",
                        "width": 1536
                      }
                    ]
                  }
                },
                {
                  "caption": "",
                  "mixedSources": {
                    "jpeg": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-d_d.jpg",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-o_a.jpg",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-uncropped_scaled_within_1344_1008.jpg",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-uncropped_scaled_within_1536_1152.jpg",
                        "width": 1536
                      }
                    ],
                    "webp": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-d_d.webp",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-o_a.webp",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-uncropped_scaled_within_1344_1008.webp",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-uncropped_scaled_within_1536_1152.webp",
                        "width": 1536
                      }
                    ]
                  }
                },
                {
                  "caption": "",
                  "mixedSources": {
                    "jpeg": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-d_d.jpg",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-o_a.jpg",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-uncropped_scaled_within_1344_1008.jpg",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-uncropped_scaled_within_1536_1152.jpg",
                        "width": 1536
                      }
                    ],
                    "webp": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-d_d.webp",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-o_a.webp",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-uncropped_scaled_within_1344_1008.webp",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-uncropped_scaled_within_1536_1152.webp",
                        "width": 1536
                      }
                    ]
                  }
                },
                {
                  "caption": "",
                  "mixedSources": {
                    "jpeg": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-d_d.jpg",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-o_a.jpg",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-uncropped_scaled_within_1344_1008.jpg",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-uncropped_scaled_within_1536_1152.jpg",
                        "width": 1536
                      }
                    ],
                    "webp": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-d_d.webp",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-o_a.webp",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-uncropped_scaled_within_1344_1008.webp",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-uncropped_scaled_within_1536_1152.webp",
                        "width": 1536
                      }
                    ]
                  }
                }
              ]
            }
          },
          "webhookUrl": "https://s8s.up.railway.app/webhook/process-apify-property",
          "executionMode": "production"
        }
      }
    ],
    "inputs": [
      {
        "json": {
          "streetAddress": "1402 Western Ave",
          "city": "Toledo",
          "state": "OH",
          "zipcode": "43609",
          "bedrooms": 3,
          "bathrooms": 1,
          "yearBuilt": 1902,
          "livingArea": 1217,
          "lotSize": 3598,
          "price": 74500,
          "lastSoldPrice": 27000,
          "priceChange": null,
          "priceChangeDateString": null,
          "propertyTaxRate": 1.63,
          "homeType": "SINGLE_FAMILY",
          "homeStatus": "FOR_SALE",
          "keystoneHomeStatus": "ForSale",
          "listing_sub_type": {
            "is_forAuction": false,
            "is_newHome": false,
            "is_FSBO": false,
            "is_FSBA": true,
            "is_foreclosure": false,
            "is_bankOwned": false,
            "is_comingSoon": false,
            "is_pending": false,
            "is_openHouse": false
          },
          "contingentListingType": null,
          "description": "Charming home with 12ft ceilings, original woodwork, and hardwood floors ready for refinishing. Updated kitchen with tile and cork laminate counters. New sewer & gas lines. Detached 1-car garage with workbench. Small back deck, brick front porch, vinyl siding. Unfinished basement with shower, sink, laundry hookups. Newer furnace motherboard & hot water tank. Attic access. Electrical system coded. Shingle roof (approx. 10 yrs).",
          "virtualTourUrl": "https://www.propertypanorama.com/instaview/toledo/6127720",
          "mlsid": "6127720",
          "parcelId": "1420291",
          "zpid": 34678319,
          "hdpUrl": "/homedetails/1402-Western-Ave-Toledo-OH-43609/34678319_zpid/",
          "daysOnZillow": 4,
          "datePostedString": "2025-03-28",
          "originalPhotos": [
            {
              "caption": "",
              "mixedSources": {
                "jpeg": [
                  {
                    "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-d_d.jpg",
                    "width": 800
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-o_a.jpg",
                    "width": 1024
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-uncropped_scaled_within_1344_1008.jpg",
                    "width": 1344
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-uncropped_scaled_within_1536_1152.jpg",
                    "width": 1536
                  }
                ],
                "webp": [
                  {
                    "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-d_d.webp",
                    "width": 800
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-o_a.webp",
                    "width": 1024
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-uncropped_scaled_within_1344_1008.webp",
                    "width": 1344
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-uncropped_scaled_within_1536_1152.webp",
                    "width": 1536
                  }
                ]
              }
            },
            {
              "caption": "",
              "mixedSources": {
                "jpeg": [
                  {
                    "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-d_d.jpg",
                    "width": 800
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-o_a.jpg",
                    "width": 1024
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-uncropped_scaled_within_1344_1008.jpg",
                    "width": 1344
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-uncropped_scaled_within_1536_1152.jpg",
                    "width": 1536
                  }
                ],
                "webp": [
                  {
                    "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-d_d.webp",
                    "width": 800
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-o_a.webp",
                    "width": 1024
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-uncropped_scaled_within_1344_1008.webp",
                    "width": 1344
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-uncropped_scaled_within_1536_1152.webp",
                    "width": 1536
                  }
                ]
              }
            },
            {
              "caption": "",
              "mixedSources": {
                "jpeg": [
                  {
                    "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-d_d.jpg",
                    "width": 800
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-o_a.jpg",
                    "width": 1024
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-uncropped_scaled_within_1344_1008.jpg",
                    "width": 1344
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-uncropped_scaled_within_1536_1152.jpg",
                    "width": 1536
                  }
                ],
                "webp": [
                  {
                    "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-d_d.webp",
                    "width": 800
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-o_a.webp",
                    "width": 1024
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-uncropped_scaled_within_1344_1008.webp",
                    "width": 1344
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-uncropped_scaled_within_1536_1152.webp",
                    "width": 1536
                  }
                ]
              }
            },
            {
              "caption": "",
              "mixedSources": {
                "jpeg": [
                  {
                    "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-d_d.jpg",
                    "width": 800
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-o_a.jpg",
                    "width": 1024
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-uncropped_scaled_within_1344_1008.jpg",
                    "width": 1344
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-uncropped_scaled_within_1536_1152.jpg",
                    "width": 1536
                  }
                ],
                "webp": [
                  {
                    "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-d_d.webp",
                    "width": 800
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-o_a.webp",
                    "width": 1024
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-uncropped_scaled_within_1344_1008.webp",
                    "width": 1344
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-uncropped_scaled_within_1536_1152.webp",
                    "width": 1536
                  }
                ]
              }
            },
            {
              "caption": "",
              "mixedSources": {
                "jpeg": [
                  {
                    "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-d_d.jpg",
                    "width": 800
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-o_a.jpg",
                    "width": 1024
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-uncropped_scaled_within_1344_1008.jpg",
                    "width": 1344
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-uncropped_scaled_within_1536_1152.jpg",
                    "width": 1536
                  }
                ],
                "webp": [
                  {
                    "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-d_d.webp",
                    "width": 800
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-o_a.webp",
                    "width": 1024
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-uncropped_scaled_within_1344_1008.webp",
                    "width": 1344
                  },
                  {
                    "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-uncropped_scaled_within_1536_1152.webp",
                    "width": 1536
                  }
                ]
              }
            }
          ]
        }
      }
    ],
    "/process-apify-property": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.7.4",
            "content-length": "6128",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "n8n.railway.internal:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "propery": {
              "streetAddress": "1402 Western Ave",
              "city": "Toledo",
              "state": "OH",
              "zipcode": "43609",
              "bedrooms": 3,
              "bathrooms": 1,
              "yearBuilt": 1902,
              "livingArea": 1217,
              "lotSize": 3598,
              "price": 74500,
              "lastSoldPrice": 27000,
              "priceChange": null,
              "priceChangeDateString": null,
              "propertyTaxRate": 1.63,
              "homeType": "SINGLE_FAMILY",
              "homeStatus": "FOR_SALE",
              "keystoneHomeStatus": "ForSale",
              "listing_sub_type": {
                "is_forAuction": false,
                "is_newHome": false,
                "is_FSBO": false,
                "is_FSBA": true,
                "is_foreclosure": false,
                "is_bankOwned": false,
                "is_comingSoon": false,
                "is_pending": false,
                "is_openHouse": false
              },
              "contingentListingType": null,
              "description": "Charming home with 12ft ceilings, original woodwork, and hardwood floors ready for refinishing. Updated kitchen with tile and cork laminate counters. New sewer & gas lines. Detached 1-car garage with workbench. Small back deck, brick front porch, vinyl siding. Unfinished basement with shower, sink, laundry hookups. Newer furnace motherboard & hot water tank. Attic access. Electrical system coded. Shingle roof (approx. 10 yrs).",
              "virtualTourUrl": "https://www.propertypanorama.com/instaview/toledo/6127720",
              "mlsid": "6127720",
              "parcelId": "1420291",
              "zpid": 34678319,
              "hdpUrl": "/homedetails/1402-Western-Ave-Toledo-OH-43609/34678319_zpid/",
              "daysOnZillow": 4,
              "datePostedString": "2025-03-28",
              "originalPhotos": [
                {
                  "caption": "",
                  "mixedSources": {
                    "jpeg": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-d_d.jpg",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-o_a.jpg",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-uncropped_scaled_within_1344_1008.jpg",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-uncropped_scaled_within_1536_1152.jpg",
                        "width": 1536
                      }
                    ],
                    "webp": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-d_d.webp",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-o_a.webp",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-uncropped_scaled_within_1344_1008.webp",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/0d9c33a31560d55b143a758cd754be17-uncropped_scaled_within_1536_1152.webp",
                        "width": 1536
                      }
                    ]
                  }
                },
                {
                  "caption": "",
                  "mixedSources": {
                    "jpeg": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-d_d.jpg",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-o_a.jpg",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-uncropped_scaled_within_1344_1008.jpg",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-uncropped_scaled_within_1536_1152.jpg",
                        "width": 1536
                      }
                    ],
                    "webp": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-d_d.webp",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-o_a.webp",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-uncropped_scaled_within_1344_1008.webp",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/c57417f1557e0ac4fa4c92a289b446cd-uncropped_scaled_within_1536_1152.webp",
                        "width": 1536
                      }
                    ]
                  }
                },
                {
                  "caption": "",
                  "mixedSources": {
                    "jpeg": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-d_d.jpg",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-o_a.jpg",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-uncropped_scaled_within_1344_1008.jpg",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-uncropped_scaled_within_1536_1152.jpg",
                        "width": 1536
                      }
                    ],
                    "webp": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-d_d.webp",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-o_a.webp",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-uncropped_scaled_within_1344_1008.webp",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8087a406dc1d2c5efd9b17a43f9678e0-uncropped_scaled_within_1536_1152.webp",
                        "width": 1536
                      }
                    ]
                  }
                },
                {
                  "caption": "",
                  "mixedSources": {
                    "jpeg": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-d_d.jpg",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-o_a.jpg",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-uncropped_scaled_within_1344_1008.jpg",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-uncropped_scaled_within_1536_1152.jpg",
                        "width": 1536
                      }
                    ],
                    "webp": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-d_d.webp",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-o_a.webp",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-uncropped_scaled_within_1344_1008.webp",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/8dbe8123af291fa5ff78f582137b7667-uncropped_scaled_within_1536_1152.webp",
                        "width": 1536
                      }
                    ]
                  }
                },
                {
                  "caption": "",
                  "mixedSources": {
                    "jpeg": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-d_d.jpg",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-o_a.jpg",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-uncropped_scaled_within_1344_1008.jpg",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-uncropped_scaled_within_1536_1152.jpg",
                        "width": 1536
                      }
                    ],
                    "webp": [
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-d_d.webp",
                        "width": 800
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-o_a.webp",
                        "width": 1024
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-uncropped_scaled_within_1344_1008.webp",
                        "width": 1344
                      },
                      {
                        "url": "https://photos.zillowstatic.com/fp/94a659603e5fdab1519d37b1f50e48b3-uncropped_scaled_within_1536_1152.webp",
                        "width": 1536
                      }
                    ]
                  }
                }
              ]
            }
          },
          "webhookUrl": "https://s8s.up.railway.app/webhook/process-apify-property",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-04-10T22:54:26.528Z",
  "versionId": "9337bb3f-e178-4aec-b585-a020bc619dac"
}