prod/zIdfOZrT5oNiMuXG.json
{
  "active": false,
  "connections": {
    "Format Scrape Request": {
      "main": [
        [
          {
            "node": "Scrape Zillow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "view_properties": {
      "main": [
        [
          {
            "node": "Format Scrape Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chron": {
      "main": [
        [
          {
            "node": "scrape-all",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/scrape-all": {
      "main": [
        [
          {
            "node": "scrape-all",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape-all": {
      "main": [
        [
          {
            "node": "view_properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-07T23:36:49.235Z",
  "execution_id": "22458",
  "id": "zIdfOZrT5oNiMuXG",
  "meta": null,
  "name": "/scrape-all",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/maxcopell~zillow-detail-scraper/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "apify_api_eBcJIT4Z3eJhNHRL1UFtko2cVhff8i4fqE6a"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "ed6fdbcb-0c08-4116-a74d-bc4a376d682f",
      "name": "Scrape Zillow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        20
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "alwaysOutputData": false,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $('view_properties').all();\n\nconst formattedRequest = {\n  addresses: [],\n  extractBuildingUnits: \"for_sale\",\n  propertyStatus: \"FOR_SALE\",\n  startUrls: []\n};\n\nitems.forEach(item => {\n  // Access the properties through the json property in n8n\n  const property = item.json;\n  \n  if (property.zillow_url && property.zillow_url.includes('zillow.com')) {\n    formattedRequest.startUrls.push({\n      url: property.zillow_url,\n      method: \"GET\"\n    });\n  } else {\n    const fullAddress = `${property.address_street}, ${property.address_city}, ${property.address_state} ${property.address_zip}`;\n    formattedRequest.addresses.push(fullAddress);\n  }\n});\n\nreturn formattedRequest;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        20
      ],
      "id": "bf69635e-3b40-4a59-b009-dc54afa93810",
      "name": "Format Scrape Request"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "view_properties",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "scrape",
              "condition": "is",
              "keyValue": "={{ true }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        360,
        20
      ],
      "id": "0c02cb2c-7274-4f77-9d4e-fa5e0c7c4407",
      "name": "view_properties",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        120
      ],
      "id": "c4f02c98-dd86-413b-8f19-87552936ae81",
      "name": "chron"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-all",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        -80
      ],
      "id": "367ff431-790c-4159-bb65-9624ea501006",
      "name": "/scrape-all",
      "webhookId": "154f4509-2188-4e23-9e73-91e8fb8c4482"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "w",
              "value": "scrape-all"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        140,
        20
      ],
      "id": "b2e3d891-23d3-4598-b3a8-50f6e38107a8",
      "name": "scrape-all"
    }
  ],
  "notes": "",
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:chron": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-04-07T23:38:05.303Z",
  "versionId": "616b46cc-74cd-4cc2-95ca-65f050164061"
}