production/2025-06-06-2191-auto/5l82Xz5lpYQrrg5V.json
{
  "createdAt": "2025-03-28T08:58:34.161Z",
  "updatedAt": "2025-06-05T19:10:08.963Z",
  "id": "5l82Xz5lpYQrrg5V",
  "name": "/properties POST",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1440,
        -2000
      ],
      "id": "1b0154b9-e045-47d0-883c-1841c431189b",
      "name": "200"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://addressvalidation.googleapis.com/v1:validateAddress",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyCgbOWtS3Xh6jTVroOqfolJdcthEPqlm-E"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"address\": {\n    \"regionCode\": \"US\",\n        \"addressLines\": [\"{{ $json.address }}\"]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        -1900
      ],
      "id": "eb805728-93e2-43fd-8429-d0c5752415f7",
      "name": "Validate Address",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86577394-7e6a-4a3f-8d0f-04e445f280d1",
              "leftValue": "={{ $json.result.verdict.inputGranularity }}",
              "rightValue": "PREMISE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2100,
        -2000
      ],
      "id": "3c24cce9-ecb3-49cc-8e35-6d99c4485cb2",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst formattedRequest = {\n  addresses: [],\n  extractBuildingUnits: \"for_sale\",\n  propertyStatus: \"FOR_SALE\",\n  startUrls: []\n};\n\nitems.forEach(item => {\n  // Access the properties through the json property in n8n\n  const property = item.json;\n  \n  if (property.zillow_url && property.zillow_url.includes('zillow.com')) {\n    formattedRequest.startUrls.push({\n      url: property.zillow_url,\n      method: \"GET\"\n    });\n  } else {\n    const fullAddress = `${property.address_street}, ${property.address_city}, ${property.address_state} ${property.address_zip}`;\n    formattedRequest.addresses.push(fullAddress);\n  }\n});\n\nreturn formattedRequest;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2100,
        -1540
      ],
      "id": "14e68a1d-9538-497c-8cb6-599196c53c18",
      "name": "apifyQuery"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Invalid input address",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2100,
        -1800
      ],
      "id": "22f391ca-f9b2-4d9e-a1c9-4187f1eb7099",
      "name": "400 - invalid address"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a4970ec-467f-43ad-8e3d-632141a1a5fe",
              "leftValue": "={{ $('inputs1').item.json.tags }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1440,
        -1540
      ],
      "id": "4c80a827-b37a-4eca-8995-2b15768c077d",
      "name": "update tags?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        -1540
      ],
      "id": "40967ab6-225e-45f1-9089-4c4d86bff3ef",
      "name": "updated property"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd5b44ad-bb5b-4d61-ac6f-913716d75ae1",
              "name": "addresses",
              "value": "={{ $json.query.addresses }}",
              "type": "string"
            },
            {
              "id": "a2fa392a-6755-4e50-bae1-c3a12b7a6446",
              "name": "status",
              "value": "={{ $json.query.status }}",
              "type": "string"
            },
            {
              "id": "5c043a31-8a82-4a0c-87f0-c7f03f88cf75",
              "name": "realtor",
              "value": "={{ $json.query.realtor }}",
              "type": "string"
            },
            {
              "id": "95e66307-7f1b-4810-8604-829c895288d1",
              "name": "tags",
              "value": "={{ $json.query.tags }}",
              "type": "string"
            },
            {
              "id": "4e458dee-e451-4e19-8396-33c49ed6ca69",
              "name": "notes",
              "value": "={{ $json.query.notes }}",
              "type": "string"
            },
            {
              "id": "19f1ac5c-87e4-4f30-93a1-3e51f92a9afb",
              "name": "user",
              "value": "={{ $json.query.user }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3200,
        -1900
      ],
      "id": "a3d39ad2-64d4-419d-8123-951278a66422",
      "name": "inputs-properties-post",
      "notesInFlow": false
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "w",
              "value": "properties-post"
            },
            {
              "key": "addesses",
              "value": "={{ $json.addresses }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -2980,
        -1900
      ],
      "id": "28a7ad29-e6ca-4735-81f9-342c58379b57",
      "name": "properties-post",
      "notesInFlow": true,
      "notes": "w: properties-post"
    },
    {
      "parameters": {
        "jsCode": "// Get the input data\nconst addresses = $input.first().json.addresses;\n\n// Function to handle array or string that looks like an array\nfunction processArrayInput(addresses) {\n  if (!addresses) return []; // Handle null, undefined, or empty string\n\n  if (typeof addresses === \"string\") {\n    // If it's empty, return empty array\n    if (addresses.trim() === \"\") return [];\n\n    try {\n      // Try to parse it as JSON\n      return JSON.parse(addresses);\n    } catch (e) {\n      // If parsing fails, assume it's a comma-separated string\n      return addresses\n        .split(\"\\n\")\n        .map((item) => item.trim())\n        .filter((item) => item !== \"\");\n    }\n  } else if (Array.isArray(addresses)) {\n    return addresses;\n  }\n  return [];\n}\n\n// Process the addresses\nconst processedAddresses = processArrayInput(addresses);\n\n// If no addresses, return empty array to prevent N8N errors\nif (processedAddresses.length === 0) {\n  return [];\n}\n\n// Return one item per tag\nreturn processedAddresses.map((address) => ({\n  json: {\n    address: address\n  },\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2760,
        -1900
      ],
      "id": "495ccca8-c6c6-43aa-b1b0-5f31086c4507",
      "name": "splitProperties"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20b8e23a-cad9-46f1-959f-03233db5abac",
              "leftValue": "={{ $json.address }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2540,
        -1900
      ],
      "id": "add5ce55-b6b4-43ea-9c96-ec45cfe5a1c4",
      "name": "address not empty"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n.railway.internal:5678/webhook/tags",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "property_id",
              "value": "={{ $('updated property').first().json.id }}"
            },
            {
              "name": "tags",
              "value": "={{ $('inputs1').item.json.tags }}"
            },
            {
              "name": "add_or_replace",
              "value": "add"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1220,
        -1540
      ],
      "id": "19e9d0b5-6d9d-43ee-a519-c66ea449b4ac",
      "name": "/tags",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "properties",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "address_street",
              "fieldValue": "={{ $json.address_street }}"
            },
            {
              "fieldId": "address_city",
              "fieldValue": "={{ $json.address_city }}"
            },
            {
              "fieldId": "address_state",
              "fieldValue": "={{ $json.address_state }}"
            },
            {
              "fieldId": "address_zip",
              "fieldValue": "={{ $json.address_zip }}"
            },
            {
              "fieldId": "coord_lat",
              "fieldValue": "={{ $json.coord_lat }}"
            },
            {
              "fieldId": "coord_lng",
              "fieldValue": "={{ $json.coord_lng }}"
            },
            {
              "fieldId": "address_county",
              "fieldValue": "={{ $json.address_county }}"
            },
            {
              "fieldId": "google_place_id",
              "fieldValue": "={{ $json.google_place_id }}"
            },
            {
              "fieldId": "updated_by",
              "fieldValue": "={{ $json.updated_by }}"
            },
            {
              "fieldId": "property_status",
              "fieldValue": "={{ $json.property_status }}"
            },
            {
              "fieldId": "timestamp_created",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "realtor_assigned",
              "fieldValue": "={{ $json.realtor_assigned }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2760,
        -1440
      ],
      "id": "eb836506-956b-4d50-8b87-d848107d0e79",
      "name": "Try create new",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "properties",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "address_street",
              "condition": "eq",
              "keyValue": "={{ $json.address_street }}"
            },
            {
              "keyName": "address_city",
              "condition": "eq",
              "keyValue": "={{ $json.address_city }}"
            },
            {
              "keyName": "address_state",
              "condition": "eq",
              "keyValue": "={{ $json.address_state }}"
            },
            {
              "keyName": "address_zip",
              "condition": "eq",
              "keyValue": "={{ $json.address_zip }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "coord_lat",
              "fieldValue": "={{ $json.coord_lat }}"
            },
            {
              "fieldId": "coord_lng",
              "fieldValue": "={{ $json.coord_lng }}"
            },
            {
              "fieldId": "address_county",
              "fieldValue": "={{ $json.address_county }}"
            },
            {
              "fieldId": "google_place_id",
              "fieldValue": "={{ $json.google_place_id }}"
            },
            {
              "fieldId": "updated_by",
              "fieldValue": "={{ $json.updated_by }}"
            },
            {
              "fieldId": "property_status",
              "fieldValue": "={{ $json.property_status }}"
            },
            {
              "fieldId": "timestamp_updated",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "realtor_assigned",
              "fieldValue": "={{ $json.realtor_assigned }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2540,
        -1365
      ],
      "id": "fda524a0-f54c-4fa2-bec3-cfd0aeb4b992",
      "name": "Try to update",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "hN8Yj6BvjJqfKMnH",
          "name": "Rent Ready Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "-1002250368392",
        "text": "=<b>Server Error</b>\nUnable to upsert new record for property: {{ $json.address_street }} | {{ $json.address_zip }}\n\nWorkflow: {{ $workflow.name }}\nExecution ID: <a href=\"https://s8s.up.railway.app/workflow/5l82Xz5lpYQrrg5V/executions/{{ $execution.id }}\">{{ $execution.id }}</a>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "message_thread_id": 1015
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2320,
        -1315
      ],
      "id": "334249c4-bd85-4f06-920b-6f6fa4ac175e",
      "name": "S8 Notifications",
      "webhookId": "bf1c5a21-07eb-49f9-bdab-163ec652c5d0",
      "credentials": {
        "telegramApi": {
          "id": "5EhmVCbyRMyj9grg",
          "name": "P0m0shnik11_Bot"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-validated-property",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3420,
        -1440
      ],
      "id": "f4eed5b5-cc3a-44ec-857f-750648294c25",
      "name": "/process-validated-property",
      "webhookId": "3ac1c164-a521-4b11-97c6-7b223d38d9f0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n.railway.internal:5678/webhook/process-validated-property",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "property",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1660,
        -2000
      ],
      "id": "42097747-5491-4c6c-98d6-ba7b12adacb8",
      "name": "process-validated-property>",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "w",
              "value": "process-validated-property"
            },
            {
              "key": "property",
              "value": "={{ $json.address_street }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -2980,
        -1440
      ],
      "id": "82958185-c841-4683-80a7-c3bbf892c050",
      "name": "process-validated-property"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b381126c-ad7f-440b-abc8-9350fb5dcf4a",
              "name": "address_street",
              "value": "={{ $json.body.property.address_street }}",
              "type": "string"
            },
            {
              "id": "11cacbf3-607e-4c7c-9081-7cea6bea8304",
              "name": "address_city",
              "value": "={{ $json.body.property.address_city }}",
              "type": "string"
            },
            {
              "id": "ed056917-2637-49db-a77b-b51cd8b9a9c8",
              "name": "address_state",
              "value": "={{ $json.body.property.address_state }}",
              "type": "string"
            },
            {
              "id": "fd112d04-4c4e-45b9-8893-1e80d434d1c9",
              "name": "address_zip",
              "value": "={{ $json.body.property.address_zip }}",
              "type": "string"
            },
            {
              "id": "ed8a1d23-a85b-452e-b1fd-4fa095a9dfdc",
              "name": "address_county",
              "value": "={{ $json.body.property.address_county }}",
              "type": "string"
            },
            {
              "id": "a6c44c0d-fb32-4142-b9c0-b961765998dd",
              "name": "coord_lat",
              "value": "={{ $json.body.property.coord_lat }}",
              "type": "string"
            },
            {
              "id": "65181534-04d8-42e4-afee-6e52fe9ed43a",
              "name": "coord_lng",
              "value": "={{ $json.body.property.coord_lng }}",
              "type": "string"
            },
            {
              "id": "3f558eec-c891-4bcf-a051-60d0d8d68033",
              "name": "google_place_id",
              "value": "={{ $json.body.property.google_place_id }}",
              "type": "string"
            },
            {
              "id": "70b18a2d-9286-49e1-9e8b-9d9fe8ce49a4",
              "name": "property_status",
              "value": "={{ $json.body.property.property_status }}",
              "type": "string"
            },
            {
              "id": "60ac5f49-0dd2-4b0a-9404-c1d275c82c65",
              "name": "updated_by",
              "value": "={{ $json.body.property.updated_by }}",
              "type": "string"
            },
            {
              "id": "b44c9fad-493f-462a-96fe-cbabcde1c947",
              "name": "realtor_assigned",
              "value": "={{ $json.body.property.realtor_assigned }}",
              "type": "string"
            },
            {
              "id": "7df28f8e-fd8e-47a3-9e62-553b1a049619",
              "name": "tags",
              "value": "={{ $json.body.property.tags }}",
              "type": "string"
            },
            {
              "id": "bb3f3ed5-7aba-4c3c-9b75-a11788cb2604",
              "name": "notes",
              "value": "={{ $json.body.property.notes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3200,
        -1440
      ],
      "id": "de524584-11c8-46cd-a695-afef13b44a81",
      "name": "inputs1",
      "notesInFlow": true,
      "notes": "optional:\nrealtor\ntags"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-property",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3420,
        -1900
      ],
      "id": "35aaaffc-4ead-4489-98f9-47bb45778c2a",
      "name": "/new-property",
      "webhookId": "07639ed8-3eb6-45c4-808a-4f563e7dd0ff"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n.railway.internal:5678/webhook/telegram-property-topic",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "property_id",
              "value": "={{ $('updated property').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1660,
        -1540
      ],
      "id": "206a7259-a9bb-45cc-96de-809e2a6ad2bd",
      "name": "/telegram-property-topic",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/maxcopell~zillow-detail-scraper/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "apify_api_eBcJIT4Z3eJhNHRL1UFtko2cVhff8i4fqE6a"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "1a029e2d-5513-467c-9c5e-71469e47feb5",
      "name": "/callApify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1880,
        -1540
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b381126c-ad7f-440b-abc8-9350fb5dcf4a",
              "name": "address_street",
              "value": "={{$json.result.address.postalAddress.addressLines[0]}}",
              "type": "string"
            },
            {
              "id": "11cacbf3-607e-4c7c-9081-7cea6bea8304",
              "name": "address_city",
              "value": "={{$json.result.address.postalAddress.locality}}",
              "type": "string"
            },
            {
              "id": "ed056917-2637-49db-a77b-b51cd8b9a9c8",
              "name": "address_state",
              "value": "={{$json.result.address.postalAddress.administrativeArea}}",
              "type": "string"
            },
            {
              "id": "fd112d04-4c4e-45b9-8893-1e80d434d1c9",
              "name": "address_zip",
              "value": "={{ $json.result.uspsData.standardizedAddress.zipCode }}",
              "type": "string"
            },
            {
              "id": "ed8a1d23-a85b-452e-b1fd-4fa095a9dfdc",
              "name": "address_county",
              "value": "={{ $json.result.uspsData.county }}",
              "type": "string"
            },
            {
              "id": "a6c44c0d-fb32-4142-b9c0-b961765998dd",
              "name": "coord_lat",
              "value": "={{ $json.result.geocode.location.latitude }}",
              "type": "string"
            },
            {
              "id": "65181534-04d8-42e4-afee-6e52fe9ed43a",
              "name": "coord_lng",
              "value": "={{$json.result.geocode.location.longitude}}",
              "type": "string"
            },
            {
              "id": "3f558eec-c891-4bcf-a051-60d0d8d68033",
              "name": "google_place_id",
              "value": "={{$json.result.geocode.placeId}}",
              "type": "string"
            },
            {
              "id": "70b18a2d-9286-49e1-9e8b-9d9fe8ce49a4",
              "name": "property_status",
              "value": "={{$('inputs-properties-post').item.json.status}}",
              "type": "string"
            },
            {
              "id": "60ac5f49-0dd2-4b0a-9404-c1d275c82c65",
              "name": "updated_by",
              "value": "={{$('inputs-properties-post').item.json.user}}",
              "type": "string"
            },
            {
              "id": "b44c9fad-493f-462a-96fe-cbabcde1c947",
              "name": "realtor_assigned",
              "value": "={{$('inputs-properties-post').item.json.realtor}}",
              "type": "string"
            },
            {
              "id": "7df28f8e-fd8e-47a3-9e62-553b1a049619",
              "name": "tags",
              "value": "={{$('inputs-properties-post').item.json.tags}}",
              "type": "string"
            },
            {
              "id": "bb3f3ed5-7aba-4c3c-9b75-a11788cb2604",
              "name": "notes",
              "value": "={{$('inputs-properties-post').item.json.notes}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1880,
        -2000
      ],
      "id": "60b44549-4ae7-480a-a2c9-b05556d0039c",
      "name": "loopInput",
      "notesInFlow": true,
      "notes": "optional:\nrealtor\ntags"
    }
  ],
  "connections": {
    "Validate Address": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "400 - invalid address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "loopInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "apifyQuery": {
      "main": [
        [
          {
            "node": "/callApify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "400 - invalid address": {
      "main": [
        []
      ]
    },
    "updated property": {
      "main": [
        [
          {
            "node": "apifyQuery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inputs-properties-post": {
      "main": [
        [
          {
            "node": "properties-post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "properties-post": {
      "main": [
        [
          {
            "node": "splitProperties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "splitProperties": {
      "main": [
        [
          {
            "node": "address not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "address not empty": {
      "main": [
        [
          {
            "node": "Validate Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update tags?": {
      "main": [
        [
          {
            "node": "/tags",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "/tags": {
      "main": [
        []
      ]
    },
    "Try create new": {
      "main": [
        [
          {
            "node": "updated property",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try to update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try to update": {
      "main": [
        [
          {
            "node": "updated property",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "S8 Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S8 Notifications": {
      "main": [
        []
      ]
    },
    "/process-validated-property": {
      "main": [
        [
          {
            "node": "inputs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "process-validated-property>": {
      "main": [
        [
          {
            "node": "200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "process-validated-property": {
      "main": [
        [
          {
            "node": "Try create new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inputs1": {
      "main": [
        [
          {
            "node": "process-validated-property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/new-property": {
      "main": [
        [
          {
            "node": "inputs-properties-post",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "/telegram-property-topic": {
      "main": [
        [
          {
            "node": "update tags?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/callApify": {
      "main": [
        [
          {
            "node": "/telegram-property-topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopInput": {
      "main": [
        [
          {
            "node": "process-validated-property>",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        12
      ]
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": [
        0
      ]
    },
    "node:chron": {
      "recurrenceRules": [
        12
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "/process-validated-property": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.7.4",
            "content-length": "386",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "n8n.railway.internal:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "property": {
              "address_street": "4120 Asbury Dr",
              "address_city": "Toledo",
              "address_state": "OH",
              "address_zip": "43612",
              "address_county": "LUCAS",
              "coord_lat": 41.6948927,
              "coord_lng": -83.5611227,
              "google_place_id": "ChIJdc4kTfeAO4gRDEAQdAWB8kc",
              "property_status": "Reference",
              "updated_by": "alex+dev@imposbl.com",
              "realtor_assigned": "whitneynbarlow@gmail.com",
              "tags": "[\"Market Lease\"]",
              "notes": ""
            }
          },
          "webhookUrl": "https://s8s.up.railway.app/webhook/process-validated-property",
          "executionMode": "production"
        }
      }
    ],
    "/new-property": [
      {
        "json": {
          "headers": {
            "accept-encoding": "gzip",
            "user-agent": "ReactorNetty/1.1.22",
            "host": "n8n.railway.internal:5678",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "0"
          },
          "params": {},
          "query": {
            "addresses": "4120 Asbury Dr, Toledo, OH 43612",
            "status": "Reference",
            "realtor": "whitneynbarlow@gmail.com",
            "user": "alex+dev@imposbl.com",
            "tags": "[\"Market Lease\"]",
            "notes": ""
          },
          "body": {},
          "webhookUrl": "https://s8s.up.railway.app/webhook/new-property",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "3529986d-93cc-4a21-8190-0d7344e16bbd",
  "triggerCount": 2,
  "tags": [
    {
      "createdAt": "2025-04-19T11:43:08.117Z",
      "updatedAt": "2025-04-19T11:43:08.117Z",
      "id": "N6i2kFUE3jSwSod8",
      "name": "NEEDS_UPDATE"
    }
  ]
}